.halfWidth {
    width: 35%;
}

#shopbundle_article_shippingRegionFrom {
    margin-bottom: 12% !important;
}

.padTop {
    padding-top: 5%;
}

.margTop {
    margin-top: 3%;
}

.space {
    padding: 24px 0px;
}

.delete_img,
.delete_img_2,
.delete_img_3,
.delete_img_4,
.delete_img_5,
.delete_img_6 {
    display: none;
    margin: 4% 20% !important;
}

.height_form {
    height: 188px;
}

.img_to_send_add,
.img_to_send_add_2,
.img_to_send_add_3,
.img_to_send_add_4,
.img_to_send_add_5,
.img_to_send_add_6 {
    text-align: center;
}