.alignR {
    text-align: right;
}

.margBot {
    margin-bottom: 5%;
}

.thumbnail {
    height: 240px;
    margin: 12px;
}

.thumbnail img{
    width: 100%;
    height: 100% !important;
}

.noPad {
    padding-left: 0;
}

.pad {
    padding: unset;
}

.margTB {
    margin: 10px 0px;
}

.be-post {
    height: 508px;
}

.be-post .btn{
    margin-right: 0 !important;
}

.buy {
    text-align: right;
    float: right;
}

.price {
    text-align: right;
    float: right;
}

.sep {
    padding: 0px;
    border-top: 1px solid #e1e1e1;
    margin-top: 5%;
    width: 88%;
    margin-left: 6%;
}

.list_action {
    display: -webkit-flex;
    display: flex;
    display: -moz-flex;
}

.list_action li {
    width: 20%;
}

.red {
    color: red;
}

.padTB {
    padding: 4% 0;
}

.padB {
    padding-bottom: 3%;
}

.noMargR{
    margin-right:unset;
}

.form_select_one,
.form_select_two{
    width: 20%;
    margin-right: 16px !important;
}

.form_select_two {
    margin-right: 0 !important;
}

.selectFocus{
    padding-left: 8%;
    padding-top: 4%;
}

.caption h2{
    text-align: center;
    padding-bottom: 3%;
}

.sC{
    padding-bottom: 3%;
}

.error_del_art,
.del_art{
    display: none;
    margin-left: 2%;
}

.del_art{
    color: #155724;
    background-color: #d4edda;
}

.error_del_art{
    color: #721c24;
    background-color: #f8d7da;
}

.noProduct{
    padding-left: 5%;
}