.carousel-inner,
    #myCarousel {
    height: 300px !important;
}

.margTop{
    margin-top: 2%;
}

.margBot{
    margin-bottom: 2%;
}

.alignRight{
    text-align: right;
    font-weight: bold;
}

.blog-post,
    .be-large-post,
        .page-header {
    border: unset !important;
}

.del_red{
    background-color: red;
    color: #fff;
}

.del_red:hover{
    border: 1px solid red !important;
}

.contact_sell{
    background-color: green !important;
    color: #fff;
}

.contact_sell:hover{
    border: 1px solid green !important;
}

.size-2 {
    float: right;
}

.fL{
    float: left;
    width: 80%;
}

.fL_2{
    float: left;
    width: 100%;
}

.sep{
    padding: 15px 0px 0px 0;
    border-bottom: 1px solid grey;
    margin: 0 0 15px 0px;
}

.page-header-one{
    padding-bottom: 9px;
    margin: 0px 0 20px;
}

.underline {
    text-decoration: underline;
}

.be-user-info,
.be-search-info,
.be-comments-info{
    font-size: 12px;
    padding: 10px 15px;
}

.artCat{
    float: right;
    font-size: 20px;
}

.lightImg{
    width: 56%;
    margin: 0% 22%;
}