{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}
    <div>
    	<div>
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div>
        	{{ form_errors(form.plainPassword.second) }}
        </div>
    	<div class="form-group">
            <label>{{ form_label(form.plainPassword.first, null, {'label_attr': {'class':'control-label' }}) }}</label>
            
            {{ form_widget(form.plainPassword.first, { 'attr':  {
               'class': 'form-control',
                }}) 
            }}
        </div>
        <div class="form-group">
            <label>{{ form_label(form.plainPassword.second, null, {'label_attr': {'class':'control-label' }}) }}</label>

            {{ form_widget(form.plainPassword.second, { 'attr':  {
               'class': 'form-control',
                }}) 
            }}
        </div>
        <input class="btn btn-success" type="submit" value="{{ 'resetting.reset.submit'|trans }}" />
    </div>
{{ form_end(form) }}
