{% extends "::layout_admin.html.twig" %}
{% block title %}
   {{ 'contact.subject'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h3 class="content-title" style="padding: 2%;"><i class="fa fa-list" aria-hidden="true"></i> {{ 'contact.subject'|trans() }}</h3>
    <div class="container">
        <div style="margin-bottom:2%;">
            <a href="{{ path('subject_new') }}" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> {{'global.new'|trans()}} 
            </a>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class = "table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>{{'global.show'|trans()}}</th>
                            <th>{{ 'contact.subject'|trans() }}</th>
                            <th>{{ 'global.array.actions'|trans() }}</th>
                           </tr>
                    </thead>
                    <tbody>
                    
                    {% for subject in subjects %}
                        <tr>
                            <td><a href="{{ path('subject_show', { 'id': subject.id }) }}" class="btn btn-success">{{'global.show'|trans()}}</a></td>
                            <td>{{ subject.name }}</td>
                            <td>
                                        <a href="{{ path('subject_show', { 'id': subject.id }) }}" class ="btn btn-success" style="margin:0;">{{ 'global.show'|trans() }}</a>
                                        <a href="{{ path('subject_edit', { 'id': subject.id }) }}" class ="btn btn-danger">{{ 'global.delete'|trans() }}</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
