{% extends "::layout_admin.html.twig" %}
{% block title %}
  {{ 'contact.subject'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="container be-detail-container">
    <div class="row">
        <h3 class="content-title" style="padding: 2%;">
            <i class="fa fa-plus" aria-hidden="true"></i> {{'contact.subject'|trans()}}
        </h3>

        <div class="block">
            {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <div class="col-lg-12 col-md-4">
                            {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                        </div>
                        {{ form_errors(form.name) }}
                        <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(form.name, { 'attr':  {
                                'class': 'form-control',
                                'required' : 'required',
                                 }}) }}
                        </div> 
                    </div>
                </div>
            </div> 
            <div class="text-center">
                <input style="margin-top:3%;" type="submit" class="btn btn-success" value=" {{ 'global.new'|trans() }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
