{% extends "::layout_admin.html.twig" %}
{% block title %}
   {{ 'contact.subject'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h3 class="content-title" style="padding: 2%;"> 
        {{ 'contact.subject'|trans() }}
    </h3>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class = "table table-bordered">
                    <tbody>
                        <tr>
                            <th>{{ 'global.array.ref'|trans() }}</th>
                            <td>{{ subject.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'contact.email'|trans() }}</th>
                            <td>{{ subject.name }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                 <a href="{{path('contact_new')}}" style="margin-top:2%;margin-bottom: 0;" class="btn btn-success">{{'contact.add_new'|trans()}}</a>
                {% endif %}
            {% endif %}
            <a href="{{ app.request.headers.get('referer') }}" style="margin-top:2%;" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        </div>
    </div>

{% endblock %}
