{% extends "::layout_admin.html.twig" %}
{% block title %}
  Administration - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container be-detail-container">
        <h1>Liste des sondages</h1>
        <div class="table-responsive">
            <table class = "table table-bordered " id="pagination">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>En cours</th>
                        <th>Date de début</th>
                        <th>Date de fin</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for pollAdmin in pollAdmins %}
                    <tr>
                        <td><a href="{{ path('admin_poll_show', { 'id': pollAdmin.id }) }}">{{ pollAdmin.id }}</a></td>
                        <td>{{ pollAdmin.name }}</td>
                        <td>{{ pollAdmin.description|raw }}</td>
                        <td>{% if pollAdmin.ongoing %}Oui{% else %}Non{% endif %}</td>
                        <td>{{ pollAdmin.dateStart|date("d/m/y") }}</td>
                        <td>{{ pollAdmin.dateEnd|date("d/m/y") }}</td>
                        <td>
                            <a href="{{ path('admin_poll_show', { 'id': pollAdmin.id }) }}" class="btn btn-info">Montrer</a>
                            <a href="{{ path('admin_poll_edit', { 'id': pollAdmin.id }) }}" class="btn btn-info">Editer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('admin_poll_new') }}" class ="btn btn-info">Nouveau sondage</a>
    </div>

{% endblock %}
