{{ form_start(form) }}
        <div class="col-lg-12">
            <div class="form-group clearfix">

                <div class="col-lg-12 col-md-12 noPadLeft">
                    {{ form_label(form.pollOptions, null, {'label_attr': {'class':'control-label' }}) }}
                    Les options 
                    
                        <a class="btn btn-success" href="#0" id="listlinks_links">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                 
                    {{ form_errors(form.pollOptions) }}
                    {% for key, option in form.pollOptions %}
                        <div class="form-group clearfix" name="link_{{ key }}">
                            <div class="col-lg-1 slm-padding">
                                <a class="btn btn-danger" onclick="remove_link('{{ key }}')">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </div>
                            <div class="col-lg-6 slm-padding">
                                {{ form_widget(option.name, { 'attr':  {
                                'class': 'form-control' }}) }}
                            </div>
                        </div>
                    {% endfor %}
                    <div id="links-list" data-prototype='<script>
                        $(".listlinks_delete").click(function() {
                            $(this).closest("div.clearfix").remove();
                        });
                    </script>
                    <div class="form-group clearfix">
                        <div class="col-lg-1 slm-padding">
                            <a id="entities__name__" class="btn btn-danger listlinks_remove"><span class="glyphicon glyphicon-minus"></span></a>
                        </div>
                        

                        <div class="col-lg-6 slm-padding">            
                                 <input type="text" class="form-control" id="au_adminbundle_polladmin___name___name" name="au_adminbundle_polladmin[links][__name__][name]" placeholder=""  />
                        </div>
                    </div>
                    '>
                    </div>
                </div>

            </div>
        </div> 
{{ form_end(form) }}