<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ 'text_about'|trans() }}">
        <meta name="author" content="Fadyl BELLO">
        <meta name="keyword" content="Gestion, Projet, Artsiia, Artsia, Art, Réseau social, boutique, visibilité, Collaboration">
        <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.ico') }}">
		<title>{{'global.error'|trans}} 403</title>
		<link rel="stylesheet" href="{{ asset('themeforest/style/bootstrap.min.css')}}">
       	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('themeforest/style/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{ asset('themeforest/style/stylesheet.css')}}">
	</head>

	<header>
    	<div class="container-fluid custom-container">
        	<div class="row no_row row-header">
            	<div class="brand-be">
	                <a href="{{ path('au_homepage') }}">
	                    <img class="logo-c active be_logo" src="{{ asset('themeforest/img/img-header.png') }}" style="margin-top:-15px" alt="logo">
	                </a>
	            </div>
	            <div class="header-menu-block">
	                <button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
	                <ul class="header-menu" id="one">
	                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	                        <li><a href="{{ path('timeline_index') }}">{{ 'global.timeline'|trans() }}</a></li>
	                    {% endif %}
	                    <li><a href="{{ path('au_homepage') }}">{{ 'discover'|trans() }}</a></li>
	                    <li><a href="{{ path('lecture_category_index') }}">{{ 'lecture.title'|trans() }}</a></li>
	                    <li><a href=""> {{'Community'|trans}}</a>
	                        <ul>
	                            <li><a href="{{ path('people_index') }}">{{ 'artists'|trans() }}</a></li>
	                            <li><a href="{{ path('forum_index') }}">{{ 'forum.title'|trans() }}</a></li>
	                        </ul>
	                    </li>
	                    <li><a href="{{ path('shop_index') }}">{{ 'shop'|trans() }}</a></li>
	                </ul>
	            </div>
            </div>
        </div>
    </header>




	<div id="content-block" style="margin-bottom: 0px;">
		<div id="notifications"></div>
		<div class="head-bg">
			<div class="head-bg-img" style="background-image:  url({{ asset('themeforest/img/fight.jpg') }})"></div>
			<div class="head-bg-content">
				<h1>{{'global.error'|trans}} 403</h1>
				<p>
					{{ 'errors.error_403'|trans() }}
					<br/> 		
					{% if is_granted('ROLE_SUPER_ADMIN') %}
						{{ exception.message|nl2br }}
						<br/> 		
					{% endif %} 
					<br />
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
						<a href="{{ path('au_homepage') }}" class="btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>{{ 'global.back'|trans() }}</a>
					{% endif %}	
				</p>
			</div>
		</div>
	</div>
	<footer>
        <div class="footer-main">
            <div class="container-fluid custom-container">
                <div class="row">
                    <div class="col-md-3 col-xl-4">
                        <div class="footer-block">
                            <h1 class="footer-title">{{ 'about'|trans() }}</h1>
                            <p class="text-justify">{{ 'text_about'|trans() }}</p>
                            <ul class="soc_buttons">
                                <li><a href="https://facebook.com/artsiia"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/artsiia"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/artsiia/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xl-2">
                        <div class="footer-block">
                            <h1 class="footer-title">{{ 'some_links'|trans() }}</h1>
                            <div class="row footer-list-footer">
                                <div class="col-md-6">
                                    <ul class="link-list">
                                        <li><a href="{{ path('au_about') }}">{{ 'about'|trans() }}</a></li>
                                        <li><a href="{{ path('au_help') }}">{{ 'help'|trans() }}</a></li>
                                        <li><a href="{{ path('contact_new') }}">{{ 'menu.Contact'|trans() }}</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="link-list">
                                        <li><a href="{{ path('timeline_index') }}">{{ 'news'|trans() }}</a></li>
                                        <li><a href="#">{{ 'artists'|trans() }}</a></li>
                                        <li><a href="{{ path('faq_all') }}">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 galerry">
                        <div class="footer-block">
                            <h1 class="footer-title">{{ 'recent_articles'|trans() }}</h1>
                            {{ render(controller('AdminBundle:Article:layout')) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer-block">
                            <h1 class="footer-title">{{ 'global.language'|trans() }}s</h1>
                            <div class="soc-activity">

                                <a class="btn color-7 size-2 hover-9" href="{{ path('au_homepage', {'_locale' : 'fr'}) }}">FR</a>
                                <a class="btn color-7 size-2 hover-9" href="{{ path('forum_index', {'_locale' : 'en'}) }}">EN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container-fluid custom-container">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                        <div class="col-md-12">
                            Admin :
                            <a class="btn color-7 size-2 hover-9" href="{{ path('contact_index') }}">Les messages</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('admin_page_index') }}">Pages Administratives</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('admin_poll_index') }}">Les sondages</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('category_index') }} "> Les catégories de cours </a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('lecture_index') }} "> Les cours</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('admin_privacy_policy_edit') }} "> Politique de confidentialité </a>>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('admin_disclaimer_edit') }} "> Mentions légales</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('faq_index') }} "> FAQ</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('contact_index') }} "> Contact</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('subject_index') }} "> Sujets de contact</a>
                        </div>
                    {% endif %}
                {% endif %}


                <div class="col-md-12 footer-end clearfix">
                    <div class="left">
                        <span class="copy">© 2017 {{ 'global.footer'|trans() }}. <span class="white"><a href="/"> Artsiia</a></span></span>
                    </div>
                    <div class="right">
                        <a class="btn color-7 size-2 hover-9" href="#" data-toggle="modal" data-target="#privacyPolicy">{{ 'global.privacy_policy'|trans() }}</a>
                        <a class="btn color-7 size-2 hover-9" data-toggle="modal" data-target="#disclaimer">{{ 'global.disclaimer'|trans() }}</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</html>
