{% extends "::layout2.html.twig" %}
{% block title %}
    {{ 'artists'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <!-- MAIN CONTENT -->
    <div id="content-block">
        <div class="container-fluid custom-container" style="margin-top:8%;">
            <div class="row">
                <form action="{{ path('search_peoples') }}" method="POST" id="form-artwork-filter" class="input-search">
                    <div class="for-be-dropdowns">
                        <div class="col-md-2 left-feild form-input-search">
                            <div class="input-search">
                                <input type="text" placeholder="{{'global.enter_keyword'|trans()}}" name="tag">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select name="category" id="filter-category" class="select-be-drop-down">
                                <option value="">{{ 'category.title'|trans() }}</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="contents-sub-category">
                        </div>
                        <div class="col-md-2">
                            <select name="ranking" class="select-be-drop-down">
                                <option value="">{{'global.ranking'|trans()}}</option>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <option value="subscribers">{{ 'Subscribs'|trans() }}</option>
                                {% endif %}
                                <option value="number">{{'artwork.number'|trans()}}</option>
                            </select>
                        </div>
                        <div class="col-md-2 center-text-align">
                            <button class="btn color-4 size-2 hover-9" style="margin-top: 10px;" type="submit" form="form-artwork-filter" value="{{ 'search'|trans() }}">{{ 'search'|trans() }}</button>
                        </div>
                    </div>
                </form><br>
            </div>
        </div>
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-md-1 left-feild">
                </div>
                <div class="col-md-10">
                    <div id="container-mix" class="be-user-wrapper row containerPost">
                        {% for user in users %}

                            <div class="custom-column-5">
                                <div class="be-user-block style-2">
                                    <a class="be-ava-user style-2" href="{{ path('show_me', { 'id': user.id }) }}">
                                        {% if user.picture is not empty %}
                                            <img src="{{ 'uploads/users/'|imagine_filter('artistFilter')}}{{ user.id ~ '/' ~ user.picture }}" alt="">
                                        {% else %}
                                            <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="">
                                        {% endif %}
                                    </a>
                                    <div class="be-user-counter">
                                        <div class="c_number">{{ user.artworks|length }}</div>
                                        <div class="c_text">{{'Artwork'|trans()}}s</div>
                                    </div>
                                    <a href="{{ path('show_me', { 'id': user.id }) }}" class="be-use-name">{{ user.username}}</a>
                                    {% if user.city is not empty %}
                                        <p class="be-user-info">{{ user.city~','~ user.country}}</p>
                                    {% endif %}
                                    <div class="be-text-tags">	
                                        {% if user.category is not empty %}
                                            {% for cat in user.category %}	
                                                <a href="{{ path('category_show', { 'id': cat.id }) }}">
                                                    {{cat.name}}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %} 
                                            {% else %}
                                                {{'category.no_existing'|trans()}}
                                            {% endif %}						
                                    </div>
                                    <div class="be-text-tags" style="border-top: none;padding: 0;height: 35px;">	
                                        {% if user.category is not empty %}
                                            {% for cat in user.category %}
                                                {% for c in cat.subCategories %}
                                                    <a href="#">{{c.name}}</a>{% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            {% endfor %} 
                                        {% else %}
                                            {{'subCategory.no_existing'|trans()}}
                                        {% endif %}							
                                    </div>
                                    {% if not app.user %}
                                        <a class="btn color-1 size-2 hover-1 followA" href="{{ path('fos_user_security_login') }}">{{'follow'|trans()}}</a>
                                    {% else %}
                                        {% set follow=false %}
                                        {% for followings in app.user.followings %}
                                            {% if followings.id == user.id %}
                                                {% set follow=true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if(follow == false) %}
                                            <div class="followADiv">
                                                <a class="btn color-1 size-2 hover-1" href="{{ path('user_follow', { 'id': user.id }) }}">{{'follow'|trans()}}</a>
                                            </div>
                                        {% else %}
                                            <label class="be-user-info" style="color:green;">
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                                {{'global.already_following'|trans()}}
                                            </label>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 center-text-align">
                    <input type="hidden" class="data-followings" data-followings="{{ followings }}" />
                    <span id="data-length">
                        <input type="hidden" class="data-length" data-length="{{users|length}}" />
                    </span>
                    <a class="be-register btn color-3-1 size-2 hover-1 show-more-people">{{ 'show_more'|trans() }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent ()}}
    <script type="text/javascript">
        var by = "{{ 'By'|trans }}";
        var empty_artists = "{{ 'global.empty_artist'|trans }}";
        var artworks_trans = "{{'Artwork'|trans()}}";
        var category_no_existing = "{{'category.no_existing'|trans()}}";
        var subCategory_no_existing = "{{'subCategory.no_existing'|trans()}}";
        var follow_trans = "{{'follow'|trans()}}";
        var already_following = "{{'global.already_following'|trans()}}";
        var locale = "{{ app.request.locale }}";
        var uploads_artwork_cover = "{{'uploads/users/'|imagine_filter('artistFilter')}}";
        var default_img = "{{asset('themeforest/img/Empty-profile.png')}}";
        var user_id = {% if app.user %}"{{ app.user.id }}"{% else %}null{% endif %};
                var user_followings = $('.data-followings').data('followings');
        var subtitle = "{{ 'category.subtitle'|trans() }}";
    </script>
    <script src="{{ asset('assets/js/people_show_more.js') }}"></script>
{% endblock %}	
