{% extends "::layout_admin.html.twig" %}
{% block title %}
    Les catégories - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container be-detail-container">
        <div class="row">
            <h3 class="content-title" style="padding:2%;"><i class="fa fa-list"></i> {{'category.list'|trans()}}</h3>
            <div class="table-responsive">
                <table class = "table table-bordered " id="pagination">
                    <thead>
                        <tr>
                            <th>{{'global.show'|trans()}}</th>
                            <th>{{'Name'|trans()}}</th>
                            <th>{{'global.array.cover'|trans()}}</th>
                            <th>{{'global.array.description'|trans()}}</th>
                            <th>{{'global.array.actions'|trans()}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td><a class="btn btn-success" href="{{ path('category_show', { 'id': category.id }) }}">{{ 'global.show'|trans() }}</a>
                                </td>
                                <td>{{ category.name|trans }}</td>
                                <td><img src="{{ asset('uploads/category/'~category.cover) }}" width="90px"></td>
                                <td>{{ category.description|raw }}</td>
                                <td>
                                    <a class="btn btn-success" href="{{ path('category_show', { 'id': category.id }) }}">{{ 'global.show'|trans() }}</a>
                                    <a class="btn btn-success" href="{{ path('category_edit', { 'id': category.id }) }}">{{ 'global.edit'|trans() }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="margin-top:2%;">
                <a href="{{ path('category_new') }}" class="btn btn-success">{{ 'global.new'|trans() }}</a>
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger">{{ 'global.back'|trans() }}</a>
            </div>
        </div>
    </div>

{% endblock %}
