{% extends "layout2.html.twig" %}
{% block title %}
  {{ 'lecture.title'|trans()}} - {{ parent() }}
{% endblock %}

{% block body %}
<div id="content-block">
        <div class="container-fluid custom-container"  style="margin-top:8%;">
            <div class="row">
                <div class="col-sm-10 col-sm-push-1">
                    <div id="container-mix"  class="row _post-container_">
                        {% if lectures is not empty %}
                            {% for lecture in lectures %}
                                <div class="category-1 mix custom-column-5">
                                    <div class="be-post">
                                        <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-img-block">
                                            {% if lecture.cover is not empty %}
                                            <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}" style="width: 250px; height: 150px;">
                                            {% else %}
                                            <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ lecture.name }}"  style="width: 250px; height: 150px;">
                                            {% endif %}
                                        </a>
                                        <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-post-title">
                                            {{ lecture.name }}
                                        </a>
                                        <span>
                                        
                                            {% for categorie in lecture.category %}

                                                <a href="{{ path('lecture_search_category', {'id' : categorie.id})}}" class="be-post-tag">{{categorie.name|trans}}</a>, 
                                               {% for subcategorie in categorie.subCategories %}
                                                    <a href="{{path('category_courses', { 'id': subcategorie.id }) }}" class="be-post-tag">{{subcategorie.name|trans}}</a>
                                                {% endfor %}    
                                            {% endfor %}
                                        </span>
                                        <div class="author-post">
                                            
                                            <span>{{'By'|trans}}
                                                {% for author in lecture.author %} 
                                                    <a href="{{path('show_me', { 'id': author.id }) }}">{{author.username}}</a>
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                            </span>
                                            
                                        </div>
                                        <div class="info-block">
                                            <span><i class="fa fa-thumbs-o-up"></i> {{lecture.level}}</span>
                                            <span><i class="fa fa-eye"></i> {{lecture.views}}</span>
                                            <span><i class="fa fa-comment-o"></i> {{lecture.comments|length}}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-sm-8 col-sm-offset-2 text-center">
                                <div class="alert alert-danger" role="alert">
                                    {{'lecture.no_existing'|trans()}}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
