{% extends "::layout_admin.html.twig" %}
{% block title %}
 {{ title }} - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container be-detail-container">
        <div class="row">
            <div class="box-header">
                <h3>Nouvelle catégorie</h3>
            </div>

            <div class="box-body">
                {% if count > 0 %}
                    <a href="{{ path('subcategory_new') }}" class="btn btn-primary">{{ 'subCategory.add'|trans() }}</a>
                {% endif %}
                {{ form_start(form) }}
                <div class="col-lg-12">
                    <div class="form-group clearfix">
                        <div class="col-lg-2 col-md-4">
                            {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                        </div>
                        {{ form_errors(form.name) }}
                        <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(form.name, { 'attr':  {
                                'class': 'form-control',
                                'required' : 'required'
                            }}) }}
                        </div>
                        <div class="col-lg-2 col-md-4">
                            {{ form_label(form.cover, null, {'label_attr': {'class':'control-label' }}) }}
                        </div>
                        {{ form_errors(form.cover) }}
                        <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(form.cover, { 'attr':  {
                                'class': 'form-control'
                            }}) }}
                        </div>
                        <div class="col-lg-2 col-md-4">
                            {{ form_label(form.description, null, {'label_attr': {'class':'control-label' }}) }}
                        </div>
                        {{ form_errors(form.description) }}
                        <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(form.description, { 'attr':  {
                                'class': 'form-control',
                                'required' : 'required'
                            }}) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <a href="{{ path('category_index') }}" class="btn btn-primary">{{ 'global.back'|trans() }}</a>
                <input type="submit" value="{{ 'global.send'|trans() }}" class="btn btn-success" />
                {{ form_end(form) }}
            </div>
        </div>

    </div>

     

{% endblock %}
