{% extends 'layout2.html.twig' %}

{% block body %}
    <h1>Part</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ part.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ part.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ part.position }}</td>
            </tr>
        </tbody>
    </table>

    <<a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
            <a href="{{ path('part_edit', { 'id': part.id }) }}">Edit</a>
        
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
       
{% endblock %}
