{% extends "::layout_admin.html.twig" %}

{% block title %}
    {{ 'administration.reports.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="container be-detail-container">
                <div class="block-2">
                    <span class="back-block">
                        <a class="btn color-1 size-1" href="{{ path('report_routes_homepage') }}"><i
                                class="fa fa-chevron-left"></i>{{ 'administration.reports.button.back_to_reporting_home'|trans() }}</a>
                    </span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">

                    {% include 'ReportBundle:ReportingAutomatically:reports_Artwork.html.twig' %}
                    {% include 'ReportBundle:ReportingAutomatically:reports_Profile.html.twig' %}
                    {% include 'ReportBundle:ReportingAutomatically:reports_Comment.html.twig' %}

                </div>

            </div>
            <div id="sidebar-scroller">
                <ul>
                    <li><a href="#artworks-list">{{ 'administration.reports.reporting.artworks'|trans() }}</a></li>
                    <li><a href="#profils-list">{{ 'administration.reports.reporting.profiles'|trans() }}</a></li>
                    <li><a href="#comments-list">{{ 'administration.reports.reporting.comments'|trans() }}</a></li>
                    <li><a href="#publications-list">{{ 'administration.reports.reporting.publications'|trans() }}</a></li>
                </ul>	
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var reporting = new Reporting({});
        reporting.init();
    </script>

{% endblock %}