{% if profiles|length !=0 %}
    <span id="profils-list"></span>
    <div class="be-large-post">
        <div class="info-block">
            <div class="be-large-post-align">
                <h3>{{ 'administration.reports.reporting.profiles'|trans() }}</h3>
            </div>
        </div>
        {% if profiles|length != 0 %}
            {% set counter = 0 %}
            {% for report in profiles %}
                {% set counter = counter + 1 %}
                <div class="blog-content popup-gallery be-large-post-align">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="report-block-date">{{ 'administration.reports.text.reported_the'|trans() }} {{ report.created|date('d/m/Y') }} <br></div>
                            <div class="report-block-date">{{ 'administration.reports.text.treaty_the'|trans() }} {{ report.updated|date('d/m/Y') }} <br></div>
                            <div class="report-block-name blue-style-1"><a target="_blank"
                                                                           href="{{ path('show_me', { 'id': report.profile.id }) }}">{% if report.profile.firstname is not null and report.profile.lastname is not null %}{{ report.profile.firstname|capitalize ~' '~ report.profile.lastname|capitalize }}{% else %}{{ report.profile.username|capitalize }}{% endif %}</a>
                            </div>
                            <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                    href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                            </div>
                        </div>
                        <div class="col-md-9 left-border">
                            <div class="report-block-content">{{ 'administration.reports.text.number_records_profile'|trans() }}
                                <b>{{ report.profile.reportingprofile|length }}</b></div>
                            <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                <b>{{ report.subject.subject|capitalize }}</b></div>
                            <div class="report-block-content">{{ 'administration.reports.text.reporting_message'|trans() }} </div>
                            <div class="report-block-message">
                                {{ report.description|nl2br }}
                            </div>
                        </div>
                    </div>
                    <div class="report-block-content">{{ 'administration.reports.text.action'|trans() }}

                        {% if report.reporteduser.id in banishedUsers%}<b>{{ 'administration.reports.text.profile_banished'|trans() }}</b>{% endif %}
                    </div>
                    <div class="row margin-bottom">
                        {{ 'administration.reports.text.message_to_artist'|trans() }}
                        {% set reads = 0 %}
                        {% for msg in report.reportmessage %}
                            {% if not msg.isreadadmin %}
                                {% set reads = reads+1 %}
                            {% endif %}
                        {% endfor %}
                        <span id="block-message-{{ report.id }}"
                              class="report-block-messages {% if reads > 0 %}message-not-read{% endif %}"><span>( {{ report.reportmessage|length }}
                                )</span> {{ 'administration.reports.text.message_exchanged_with_artist'|trans() }}
                            <a class="cursor-pointer show-report-messages" data-id="{{ report.id }}"
                               data-locale="{{ app.request.locale }}">{{ 'administration.reports.text.view_all'|trans() }}</a>
                        </span>
                    </div>
                    {% if counter < profiles|length %}
                        <div class="clear"></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <div class="clear"></div>
{% endif %}