{% extends "::layout_admin.html.twig" %}

{% block title %}
    {{ 'administration.reports.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="container be-detail-container">
                <div class="block-2">
                    <div class="row">
                        <div class="col-md-4 center-text-align">
                        <span class="back-block">
                            <a class="btn color-1 size-1" href="{{ path('home_admin') }}"><i
                                        class="fa fa-chevron-left"></i>{{ 'administration.reports.button.back_to_home'|trans() }}</a>
                        </span>
                        </div>
                        <div class="col-md-4 ">
                            <h2 class="content-title">{{ 'administration.reports.title'|trans() }}</h2>
                        </div>
                        <div class="col-md-4 "></div>
                    </div>
                </div>
            </div>

            <div class="gallery-box-2 col-lg-6 border">
                <div class="gallery-info">
                    <h3>{{ 'administration.reports.untreated.title'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('report_routes_untreated_homepage') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
            <div class="gallery-box-2 col-lg-6 border">
                <div class="gallery-info">
                    <h3>{{ 'administration.reports.in_progress.title'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('report_routes_inprogress_homepage') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
            <div class="gallery-box-2 col-lg-6 border">
                <div class="gallery-info">
                    <h3>{{ 'administration.reports.fenced_auto.title'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('report_routes_automatically_homepage') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
            <div class="gallery-box-2 col-lg-6 border">
                <div class="gallery-info">
                    <h3>{{ 'administration.reports.reporting_history.title'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('report_routes_history_homepage') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12">
                <div class="">
                    <div class="be-large-post">
                        <div class="info-block style-2 color-bg-1">
                            <div class="be-large-post-align"><h3 class="info-block-label-2">{{ 'administration.reports.report_subjects.title'|trans()|upper }}</h3></div>
                        </div>
                        <div class="be-large-post-align">
                            <div class="row form-subject-report">
                                <form action="{{ path('report_routes_remove_subjects') }}" method="POST">
                                    <table class="table table-hover ">
                                        <thead>
                                        <tr>
                                            <th class="input-col col-xs-12 col-sm-2">
                                                <div class="contact-label">{{ 'administration.reports.remove'|trans()|upper }}</div>
                                            </th>
                                            <th class="input-col col-xs-12 col-sm-8">
                                                <div class="contact-label">{{ 'administration.reports.subject'|trans()|upper }}</div>
                                            </th>
                                            <th class="input-col col-xs-12 col-sm-2">
                                                <div class="contact-label">{{ 'administration.reports.severity'|trans()|upper }}</div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        {% for subject in subjects %}
                                            <tr>
                                                <td>
                                                    <input onchange="strikethrough({{ subject.id }})" id="check-{{ subject.id }}" class="checkbox-style"
                                                           type="checkbox" name="checksubjects[]" value="{{ subject.id }}">
                                                </td>
                                                <td id="str-{{ subject.id }}">{{ subject.subject|capitalize }}</td>
                                                <td>{{ subject.severity }}</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                    <div class="input-col col-xs-12 col-sm-2 suppr">
                                        <div class="form-group focus-2">
                                            <input disabled id="remove-button" type="submit" class="btn full btn-input color-1 size-1 hover-1"
                                                   value="{{ 'administration.reports.button.remove'|trans() }}" style="margin-top: 0;"/>
                                        </div>
                                    </div>
                                </form>
                                {{ form_start(form) }}
                                <div class="input-col col-xs-12 col-sm-8">
                                    <div class="form-group focus-2">
                                        {{ form_widget(form.subject) }}
                                        <span class="text-red"><small>{{ form_errors(form.subject) }}</small></span>
                                    </div>
                                </div>

                                <div class="input-col col-xs-12 col-sm-2">
                                    {{ form_widget(form.severity) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        var count = 0;

        function strikethrough(item) {
            var s = document.getElementById('str-' + item).classList;
            if (document.getElementById("check-" + item).checked) {
                s.add("strikethrough");
                count++;
            } else {
                s.remove("strikethrough");
                count--;
            }
            if (count > 0) {
                document.getElementById('remove-button').removeAttribute('disabled');
            } else {
                var removeButton = document.getElementById('remove-button');
                var att = document.createAttribute("disabled");
                att.value = "disabled";
                removeButton.setAttributeNode(att);
            }
        }
    </script>
{% endblock %}