{% extends "::layout2.html.twig" %}
{% block title %}
    {{ 'shop'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{asset('assets/css/shop/index.css')}}"> 
{% endblock %}

{% block body %}
	<!-- MAIN CONTENT -->
	<div id="content-block">
		<div class="container-fluid custom-container">
			<div class="row">
				<div class="col-md-12 selectFocus">
					<div class="for-be-dropdowns">
						<div class="col-md-3 left-feild">
							<form action="./" class="input-search">
								<input id="search" type="text" required placeholder="{{'global.enter_tags'|trans()}}">
								<i class="fa fa-search"></i>
								<input type="submit" value="">
							</form>
						</div>
						<div class="col-md-3 be-drop-down form_select_one" id="0">
							<i class="icon-projects"></i>
							<span class="be-dropdown-content categoryTitle">{{'category.title'|trans()}}</span>
							<ul class="drop-down-list categoryDiv">
								{% if categories is not empty%}
									<li class="filterT filterJS" data-id="{{'category.title'|trans()}}">
										<a>{{'category.title'|trans()}}</a>
									</li>
									{% for category in categories %}
										<li class="filterT filterJS" data-id="{{category.name}}" id="{{category.id}}">
											<a>{{category.name}}</a>
										</li>
								    {% endfor %}
								{% else %}
									<li class="filterT filterJS">
										<span>{{'category.no_available'|trans()}}</span>
									</li>
								{% endif %}
							</ul>
						</div>
						<div class="col-md-3 be-drop-down noMargR form_select_two" id="2">
							<i class="icon-features"></i>
							<span class="be-dropdown-content classementTitle">{{'global.ranking'|trans()}}</span>
							<ul class="drop-down-list classementDiv">
								<li class="filterAJ" ><a>{{'global.ranking'|trans()}}</a></li>
								<li id="newest_filter" class="filterAJ" ><a>Plus récent</a></li> {# TODO : remplacer par {{'xxx.xxx'|trans()}} #}
								<li id="oldest_filter" class="filterAJ" ><a>Plus ancien</a></li> {# TODO : remplacer par {{'xxx.xxx'|trans()}} #}
								<li id="reviews_filter" class="filterAJ"><a>Nombre d'avis</a></li> {# TODO : remplacer par {{'xxx.xxx'|trans()}} #}
								<li id="views_filter" class="filterAJ"><a>Nombre de vues</a></li> {# TODO : remplacer par {{'xxx.xxx'|trans()}} #}
								<li id="sold_filter" class="filterAJ"><a>Nombre de ventes</a></li> {# TODO : remplacer par {{'xxx.xxx'|trans()}} #}
								<li id="comments_filter" class="filterAJ"><a>Nombre de commentaires</a></li> {# TODO : remplacer par {{'xxx.xxx'|trans()}} #}
							</ul>
						</div>
						<div class="col-md-3 left-feild">
							<form action="./" class="input-search">
								<input id="search" type="text" required placeholder="{{'global.enter_artiste'|trans()}}">
								<i class="fa fa-search"></i>
								<input type="submit" value="">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 text-center sC">
			<button class="btn color-1 size-2 hover-1 displayAll">{{'without_rating'|trans()}}</button>
		</div>
		<div class="container-fluid custom-container refreshShop">
			<div class="row">
				<div class="col-md-4 alert alert-danger error_del_art" role="alert"></div>
				<div class="col-md-4 alert alert-success del_art" role="alert"></div>
				<div class="col-md-12">
						{% if articles is not empty%}
							{% for article in articles %}	
								<div class="col-md-4">
									<div class="be-post">
										<a href="{{ path('article_show',{'id':article.id}) }}" class="thumbnail">
											{% if article.cover is not empty %}
												<img src="{{ asset('uploads/article/cover/'~article.owner.username~'/'~article.cover) }}" alt="{{ article.name }}">
											{% else %}
												<img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ article.name }}">
											{% endif %}
										</a>
										<div class="caption">
											<h2><a href="{{ path('show_me', {'id':article.owner.id}) }}">{{ article.owner.firstname }} {{ article.owner.lastname }}</a></h2>
											<div class="margTB">
												<div class="col-md-4">
													<a href="{{ path('category_show',{'id':article.category.id}) }}">
														{{ article.category.name }}
													</a>
												</div>
												<div class="col-md-4 col-md-offset-4">
													<span>{{ article.availability }}</span>
												</div>
											</div>
											<div class="col-md-12 sep">
												<div class="col-md-4 margTB">
													<a href="{{ path('article_show',{'id':article.id}) }}" class="">{{ article.name }}</a>
												</div>
												<div class="col-md-4 col-md-offset-4 noPad margTB price">
													<span>
														{{ article.price }}
														<i class="fa fa-eur" aria-hidden="true"></i>
													</span>
												</div>
											</div>
											<div class="col-md-12 margTB">
												{{ article.description|slice(0,100)|raw }} ...
											</div>
											<div class="col-md-4 margTB">
												<a href="{{ path('article_show', {'id':article.id}) }}" class="btn btn-primary size-2 hover-1" role="button">{{ 'article.show'|trans }}</a>
											</div>
                                            {% if (article.owner.id != app.user.id) %}
												<div class="col-md-4 col-md-offset-4 margTB buy">
													<a href="#" class="btn btn-primary size-2 hover-1" role="button" onclick="ajaxBuyArticle('{{ article.id }}')">{{ 'article.buy'|trans }}</a>
												</div>
                                            {% endif %}
											<div class="col-md-12 pad">
												<div class="panel panel-default">
													<div class="panel-heading">
														<ul class="list_action">
															<li>
																<span>
																	<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
																	5
																</span>
															</li>
															<li>
																<span>
																	<i class="fa fa-search" aria-hidden="true"></i>
																	3
																</span>
															</li>
															<li>
																<span>
																	<i class="fa fa-comments-o" aria-hidden="true"></i>
																	1
																</span>
															</li>
															{% if article.owner == app.user %}
																<li class="alignR">
																	<a href="#" id="{{ article.id }}" class="del_article_shop">
																		<i class="fa fa-close red" aria-hidden="true"></i>
																	</a>
																</li>
																<li class="alignR">
																	<a href="{{ path('article_edit', { 'id' : article.id })}}">
																		<i class="fa fa-pencil" aria-hidden="true"></i>
																	</a>
																</li>
															{% endif %}
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<h1 class="noProduct">Aucun produit disponible</h1>
						{% endif %}
					<div id="container-mix" class="containerAjax"></div>
					<div class="emptyMessage row">
					</div>
					<div class="row">
						<div class="loader" style="display:none;"></div>
					</div>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
						<input type="hidden" class="idUser" value="-1" />
					{% else %}
						<input type="hidden" class="idUser" value="{{app.user.id}}" />
					{% endif %}
				</div>
			</div>
        </div>
    </div>
    <div class="AllCateg">
        {% for category in categories %}
            <input type="hidden" class="categList" value="{{category.name}}"/>
        {% endfor %}
    </div>
    <input id="lastResult" type="hidden" value="0">
    <input id="noMoreResult" type="hidden" value="false">
    <input class="subcategoryFilter" type="hidden" />
    <input class="categoryFilter" type="hidden" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/shop.css') }}" />
{% endblock %}

{% block javascripts %} {{ parent() }}
	<script src="{{ asset('assets/js/shop/index.js') }}"></script>
	<script src="{{ asset('assets/js/article.js') }}"></script>
{% endblock %}