{% extends "::layout_admin.html.twig" %}

{% block title %}
    Accueil admin - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">

        </div>
    </div>
{% endblock %}