{% extends "::layout_admin.html.twig" %}

{% block title %}
  Stastitiques - {{ parent() }}
{% endblock %}

{% block body %}
<script src="{{ asset('assets/visjs/vis.js') }}"></script>
<link href="{{ asset('assets/visjs/vis-timeline-graph2d.min.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ asset('charts/chartist.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('charts/chartist.css') }}" />

<div class="container be-detail-container">
  <h3 class="content-title" style="padding:2%;"><i class="fa fa-dashboard"></i> Admin - dashboard</h3>
  	<h3> Nombre d'utilisateur s'&eacute;tant connect&eacute; (dernieres connexion) - 7 Derniers jours </h3>
  		<div id="registering"></div>
  	<h3> Repr&eacute;sentation des Hommes / Femmes / Autres par cat&eacute;gories</h3>
  		<div class="categ_lecture"></div>
  	<h3> Les arts les plus repr&eacute;sent&eacute;s chez les utilisateurs</h3>
  		<div class="arts_users"></div>
  	<h3>Nombre de cours, de vues, d'avis par Cat&eacute;gorie de cours</h3>
  		<div class="hf_categ"></div>
    <h3> Oeuvres par cat&eacute;gories </h3>
      <div class="oeuvres_categ"></div>
</div>
  
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
var container = document.getElementById('registering');
	var items = [
	{% for value in last_co|reverse %}
    	{x: '{{ value[0]}}', y: {{value[1]}} },
    {% endfor %}
  ];

  var dataset = new vis.DataSet(items);
  var options = {
    start: '{{start}}',
    end: '{{end}}'
  };
  var graph2d = new vis.Graph2d(container, dataset, options);



  new Chartist.Bar('.categ_lecture', {
  labels: [
  	{% for categ in categories %}
    '{{categ.name}}' {% if not loop.last %}, {% endif %}
    {% endfor %}
  ],
  series: [
    {% for categ in genderPerCateg %}
  	[
  		{% for value in categ %}
  			{{value}},
  		{% endfor %}
  	]{% if not loop.last %}, {% endif %}
    {% endfor %}
  ]
}, {
  stackBars: true,
  height:'300px',
  axisY: {
    labelInterpolationFnc: function(value) {
      return value;
    }
  }
}).on('draw', function(data) {
  if(data.type === 'bar') {
    data.element.attr({
      style: 'stroke-width: 30px'
    });
  }
});



var data = {
  labels: [
    {% for categ in categories %}
    '{{categ.name}}' {% if not loop.last %}, {% endif %}
    {% endfor %}
  ],
  series: [   {% for value in userPerCateg %}
    '{{value[1]}}' {% if not loop.last %}, {% endif %}
    {% endfor %}
    ]
};

var options = {
	height: '300px',
  labelInterpolationFnc: function(value) {
    return Math.round(value / data.series.reduce(sum) * 100) + '%';
  }
};

var responsiveOptions = [
  ['screen and (min-width: 640px)', {
    chartPadding: 30,
    labelOffset: 100,
    labelDirection: 'explode',
    labelInterpolationFnc: function(value) {
      return value;
    }
  }],
  ['screen and (min-width: 1024px)', {
    labelOffset: 80,
    chartPadding: 20
  }]
];

new Chartist.Pie('.arts_users', data, options, responsiveOptions);








var data = {
  labels: [
  	{% for value in graph_two %}
  	'{{value[0]}}',
  	{% endfor %}
  ],
  series: [
  	[
  		{% for value in graph_two %}
  			{{value[1]}},
  		{% endfor %}
  	],
  	[
  		{% for value in graph_two %}
  			{{value[2]}},
  		{% endfor %}
  	],
  	[
  		{% for value in graph_two %}
  			{{value[3]}},
  		{% endfor %}
  	]
  ]
};

var options = {
	height:'300px',
  seriesBarDistance: 10
};

var responsiveOptions = [
  ['screen and (max-width: 640px)', {
    seriesBarDistance: 5,
    axisX: {
      labelInterpolationFnc: function (value) {
        return value[0];
      }
    }
  }]
];

new Chartist.Bar('.hf_categ', data, options, responsiveOptions);


new Chartist.Line('.oeuvres_categ', {
  labels: [
    {% for label in date_label|reverse %} '{{ label}}', {% endfor %}
    ],
  series: [
    {% for categ in categ_per_date %}
      [
        {% for value in categ[1]|reverse %}
          '{{value }}'
          {% if not loop.last %}, {% endif %}
        {% endfor %} 
      ]
      {% if not loop.last %}, {% endif %}
    {% endfor %}
  ]
}, {
  fullWidth: true,
  chartPadding: {
    right: 40
  }
});

</script>

 {% endblock %}
