{% if artworks|length != 0 %}
    <span id="artworks-list"></span>
    <div class="be-large-post">
        <div class="info-block">
            <div class="be-large-post-align">
                <h3>{{ 'administration.reports.reporting.artworks'|trans() }}</h3>
            </div>
        </div>
        {% if artworks|length != 0 %}
            {% set counter = 0 %}
            {% for report in artworks %}
                {% set counter = counter + 1 %}
                <div class="blog-content popup-gallery be-large-post-align">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="report-block-date">{{ 'administration.reports.text.reported_the'|trans() }} {{ report.created|date('d/m/Y') }} <br></div>
                            <div class="report-block-date">{{ 'administration.reports.text.treaty_the'|trans() }} {{ report.updated|date('d/m/Y') }} <br></div>
                            <div class="report-block-name blue-style-1"><a target="_blank"
                                                                           href="{{ path('artwork_show', {'id':report.artwork.id }) }}">{{ report.artwork.title|capitalize }}</a>
                            </div>
                            <div class="report-block-name blue-style-1"><a target="_blank"
                                                                           href="{{ path('show_me', { 'id': report.artwork.author[0].id }) }}">{% if report.artwork.author[0].firstname is not null and report.artwork.author[0].lastname is not null %}{{ report.artwork.author[0].firstname|capitalize ~' '~ report.artwork.author[0].lastname|capitalize }}{% else %}{{ report.artwork.author[0].username|capitalize }}{% endif %}</a>
                            </div>
                            <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                    href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                            </div>
                        </div>
                        <div class="col-md-9 left-border">
                            <div class="report-block-content">{{ 'administration.reports.text.number_records_artwork'|trans() }}
                                <b>{{ report.artwork.reporting|length }}</b></div>
                            <div class="report-block-content">{{ 'administration.reports.text.artist_reporting_totals'|trans() }}
                                <b>{{ report.reporteduser.reportinguser|length }}</b></div>
                            <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                <b>{{ report.subject.subject|capitalize }}</b></div>
                            <div class="report-block-content">{{ 'administration.reports.text.reporting_message'|trans() }} </div>
                            <div class="report-block-message">
                                {{ report.description|nl2br }}
                            </div>
                        </div>
                    </div>
                    <div class="report-block-content">{{ 'administration.reports.text.action'|trans() }}
                        {% if report.mark %}
                            <b>{{ 'administration.reports.text.marked_report'|trans() }}</b> /
                        {% endif %}
                        {% if report.artwork.deleted is not null %}
                            <b>{{ 'administration.reports.text.artwork_closed'|trans() }}</b> /
                        {% endif %}
                        {% if report.reporteduser.id in banishedUsers%}<b>{{ 'administration.reports.text.profile_banished'|trans() }}</b>{% endif %}
                    </div>
                    <div class="row margin-bottom">
                        {{ 'administration.reports.text.message_to_artist'|trans() }}
                        {% set reads = 0 %}
                        {% for msg in report.reportmessage %}
                            {% if not msg.isreadadmin %}
                                {% set reads = reads+1 %}
                            {% endif %}
                        {% endfor %}
                        <span id="block-message-{{ report.id }}"
                              class="report-block-messages {% if reads > 0 %}message-not-read{% endif %}"><span>( {{ report.reportmessage|length }}
                                )</span> {{ 'administration.reports.text.message_exchanged_with_artist'|trans() }}
                            <a class="cursor-pointer show-report-messages" data-id="{{ report.id }}"
                               data-locale="{{ app.request.locale }}">{{ 'administration.reports.text.view_all'|trans() }}</a>
                        </span>
                    </div>

                    <textarea rows="3" class="form-control" id="message-{{ report.id }}"
                              placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                    <div class="row margin">
                        <div class="col-md-10">
                            {{ 'administration.reports.text.banish_time'|trans() }}
                            <input type="number" min="1" max="99" value="1" class="banish-input" id="banish-input-{{ report.id }}"/>
                                <a class="btn color-9-5 size-3 hover-3 add-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.ban_artist_profile'|trans() }}</a>
                        </div>
                        <div class="col-md-2 report-block-btn-submit">
                            <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                               data-receiver="{{ report.artwork.author[0].id }}"
                               class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                        </div>
                        <div class="report-block-button row" style="text-align: center">
                            {% if report.artwork.deleted is null %}
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}"
                                                         class="btn color-9-5 size-3 hover-3 remove-report-artwork">{{ 'administration.reports.button.remove_artwork'|trans() }}</a>
                                </div>
                            {% endif %}
                            <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}"
                                                     class="btn color-9-5 size-3 hover-3 close-report">{{ 'administration.reports.button.close_report'|trans() }}</a>
                            </div>
                            {% if not report.mark %}
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}"
                                                         class="btn color-9-5 size-3 hover-3 mark-report">{{ 'administration.reports.button.mark_report'|trans() }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if counter < artworks|length %}
                        <div class="clear"></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <div class="clear"></div>
{% endif %}