<div class="row">
    <div class="col-xs-12">
        <p>{{ 'global.remove_my_activity'|trans() }}  <strong>{{ entity.description|capitalize|raw }} ?</strong></p>
        <form class="remove-my-activity-form" name="activity" method="delete" action="{{ path('remove_my_activity', { 'id': entity.id }) }}">
            {{ form_widget(form) }}
        </form>
    </div>
</div>
