<div class="row">
    <div class="col-xs-12">
        <form class="edit-my-activity-form" name="activity" method="post" action="{{ path('edit_my_activity', { 'id': entity.id }) }}">
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form._token) }}
        </form>
    </div>
</div>
<script>
    CKEDITOR.plugins.addExternal( 'wordcount', '/assets/ivoryckeditor/wordcount/', 'plugin.js' );
    CKEDITOR.replace('form_description', {
        uiColor: '#ffffff',
        toolbar: [
            ['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Link', 'Unlink', '-']
        ],
        removeButtons: 'About',
        extraPlugins: "wordcount"
    }
    );
</script>