{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'global.timeline'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <div id="content-block" class="gallery-block">
        <br/>
        <div class="custom-container gallery-container">
            <div class="container">
                <div class="Activities"></div>
                <div class='text-center drm'>
                    <a href = '#read_more' onClick='printActivitiesUser()' class='btn btn-general read_more'> {{ 'Read_more'|trans}} </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
    <script>
                        var reporting = new Reporting({});
                        reporting.init();
                        var url = "{{ path('get_activity_general_ajax') }}";
                        var url_vote = "{{ path('post_like') }}";
                        var title_report = "{{ 'administration.reports.button.report_activity'|trans() }}";
                        var locale = "{{ app.request.locale }}";
                        var delete_activity = "{{ 'global.remove_activity'|trans() }}";
                        var show_more = "{{ 'global.show_more'|trans() }}";
                        var edited = "{{ 'edited'|trans() }}";
                        var edit = "{{ 'global.edit'|trans() }}";
                        var add_comments = "{{ 'global.add_comments'|trans() }}";
                        var send = "{{ 'global.send'|trans() }}";
                        var global_error = "{{ 'global.error'|trans() }}";
                        var show_more_comment = "{{ 'show_more_comment'|trans() }}";
                        var show_less_comment = "{{ 'show_less_comment'|trans() }}";
                        var limit_publication = "{{ 'limit_publication'|trans() }}";
                        var limit_publication_characters_still = "{{ 'limit_publication_characters_still'|trans() }}";
                        var user_id = -1;
                        var this_user = "{{ app.user.id }}";
                        var positionActivity = 0;
                        var numberActivity = 24;
                        $(document).ready(function () {
                            printActivitiesUser();
                        });
    </script>
    <script src="{{ asset('assets/js/timeline.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.maxlength.js') }}"></script>
{% endblock %}