<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ 'text_about'|trans() }}">
    <meta name="author" content="Fadyl BELLO">
    <meta name="keyword" content="Gestion, Projet, Artsiia, Artsia, Art, Réseau social, boutique, visibilité, Collaboration">
    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.ico') }}">

    <title>{% block title %}{{ 'global.website_name'|trans() }}{% endblock %}</title>

    {% block stylesheets %}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/cookie-law-popup/css/jquery-eu-cookie-law-popup.css') }}">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('themeforest/style/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('themeforest/style/icon.css')}}">
        <link rel="stylesheet" href="{{ asset('themeforest/style/loader.css')}}">
        <link rel="stylesheet" href="{{ asset('themeforest/style/idangerous.swiper.css')}}">
        <link rel="stylesheet" href="{{ asset('themeforest/style/jquery-ui.css')}}">
        <link rel="stylesheet" href="{{ asset('themeforest/style/stylesheet.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/sb-admin.css')}}">

        <link href="{{ asset('assets/sb-admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{{ asset('assets/sb-admin/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Page level plugin CSS-->
        <link href="{{ asset('assets/sb-admin/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">
        <!-- Custom styles for this template-->
        <link href="{{ asset('assets/sb-admin/css/sb-admin.css') }}" rel="stylesheet">
        <!--[if lt IE 10]>
        <link rel="stylesheet" type="text/css" href="{{ asset('themeforeststyle/ie-9.css')}}"/>
        <![endif]-->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>


<body class="fixed-nav sticky-footer bg-dark admin-page" id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html"><img class="logo-c active be_logo" src="{{ asset('themeforest/img/img-header.png') }}" style="margin-top:-15px" alt="logo"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="{{ path('home_admin') }}">
                    <i class="fa fa-fw fa-dashboard"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Signalements">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCours" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-graduation-cap"></i>
                    <span class="nav-link-text">Cours</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseCours">
                    <li>
                        <a href="{{ path('category_index') }}">{{ 'administration.category_courses'|trans() }}</a>
                    </li>
                    <li>
                        <a href="{{ path('lecture_index') }}">{{ 'administration.courses'|trans() }}</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Signalements">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseSignalements" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                    <span class="nav-link-text">Signalements</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseSignalements">
                    <li>
                        <a href="{{ path('report_routes_homepage') }}">{{ 'administration.reports.title'|trans() }}</a>
                    </li>
                    <li>
                        <a href="{{ path('banishment_routes_homepage') }}">{{ 'administration.reports.title_banish'|trans() }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Contacts">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseContacts" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-envelope"></i>
                    <span class="nav-link-text">Contacts</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseContacts">
                    <li>
                        <a href="{{ path('contact_index') }}">{{ 'administration.messages.title'|trans() }}</a>
                    </li>
                    <li>
                        <a href="{{ path('subject_index') }}">{{ 'administration.contact_subject'|trans() }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Pages">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-file"></i>
                    <span class="nav-link-text">Pages</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                    <li>
                        <a href="{{ path('admin_page_index') }}">{{ 'administration.administrative_pages'|trans() }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_privacy_policy_edit') }}">{{ 'global.privacy_policy'|trans() }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_disclaimer_edit') }}">{{ 'global.disclaimer'|trans() }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Questions">
                <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseQuestions" data-parent="#exampleAccordion">
                    <i class="fa fa-fw fa-question"></i>
                    <span class="nav-link-text">Questions</span>
                </a>
                <ul class="sidenav-second-level collapse" id="collapseQuestions">
                    <li>
                        <a href="{{ path('faq_index') }}">{{ 'faq.faq'|trans() }}</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_poll_index') }}">{{ 'administration.poll.polls'|trans() }}</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="{{ 'administration.roles.title'|trans() }}">
                <a class="nav-link" href="{{ path('admin_roles_management') }}">
                    <i class="fa fa-fw fa-users"></i>
                    <span class="nav-link-text">{{ 'administration.roles.title'|trans() }}</span>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
            <li class="nav-item">
                <a class="nav-link text-center" id="sidenavToggler">
                    <i class="fa fa-fw fa-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a target="_blank" href="{{ path('au_homepage') }}" class="nav-link">{{'go_to_site' | trans}}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-fw fa-sign-out"></i>{{ 'logout'|trans }}</a>
            </li>
        </ul>
    </div>
</nav>
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">My Dashboard</li>
        </ol>
        {% block body %}
        {% endblock %}
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'logout'|trans }} ?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">{{'admin_logout_message' | trans}}</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a>
                </div>
            </div>
        </div>
    </div>


{% block javascripts %}
    <!-- SCRIPTS	 -->
    <script src="{{ asset('themeforest/script/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js//bootbox.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/idangerous.swiper.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/jquery.mixitup.js') }}"></script>
    <script src="{{ asset('themeforest/script/jquery.viewportchecker.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/filters.js') }}"></script>
    <script src="{{ asset('themeforest/script/global.js') }}"></script>
    <script src="{{ asset('bundles/artwork/js/artwork.js') }}"></script>
    <script src="{{ asset('assets/js/reporting.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/pnotify.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/Notify.js') }}"></script>
    <script src="{{ asset('assets/js/sb-admin.js') }}"></script>
    <script src="{{ asset('assets/sb-admin/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{{ asset('assets/sb-admin/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{{ asset('assets/sb-admin/vendor/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/sb-admin/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{{ asset('assets/sb-admin/js/sb-admin.min.js') }}"></script>
    <!-- Custom scripts for this page-->
    <script src="{{ asset('assets/sb-admin/js/sb-admin-datatables.min.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/cookie-law-popup/js/jquery-eu-cookie-law-popup.js') }}"></script>

{% endblock %}
</body>
</html>
