<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ 'text_about'|trans() }}">
        <meta name="author" content="Fadyl BELLO">
        <meta name="keyword" content="Gestion, Projet, Artsiia, Artsia, Art, Réseau social, boutique, visibilité, Collaboration">
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}{{ 'global.website_name'|trans() }}{% endblock %}</title>

        {% block stylesheets %}
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="stylesheet" type="text/css" href="{{ asset('assets/cookie-law-popup/css/jquery-eu-cookie-law-popup.css') }}">
            <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('themeforest/style/bootstrap.min.css')}}">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('themeforest/style/icon.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/loader.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/idangerous.swiper.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/jquery-ui.css')}}">
            <link rel="stylesheet" href="{{ asset('themeforest/style/stylesheet.css')}}">

            <!--[if lt IE 10]>
            <link rel="stylesheet" type="text/css" href="{{ asset('themeforeststyle/ie-9.css')}}"/>
            <![endif]-->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <input type="hidden" class="agree-policy" data-policy="{{ agree_use.AgreePrivacyPolicy }}" data-locale="{{ app.request.locale }}" />
    <input type="hidden" class="agree-disclaimer" data-disclaimer="{{ agree_use.AgreeDisclaimer }}" data-locale="{{ app.request.locale }}" />
    <body class="eupopup eupopup-bottom">
        <div id="notifications"></div>
        <div class="be-loader">
            <div class="spinner">
                <img src="{{ asset('themeforest/img/img-logo.png') }}" height="80px" alt="">
                <p class="circle">
                    <span class="ouro">
                        <span class="left"><span class="anim"></span></span>
                        <span class="right"><span class="anim"></span></span>
                    </span>
                </p>
            </div>
        </div>
        <!-- THE HEADER -->
        <header>
            <div class="container-fluid custom-container">
                <div class="row no_row row-header">
                    <div class="brand-be">
                        <a href="{{ path('au_homepage') }}">
                            <img class="logo-c active be_logo" src="{{ asset('themeforest/img/img-header.png') }}" style="margin-top:-15px" alt="logo">
                        </a>
                    </div>
                    <div class="header-menu-block">
                        <button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
                        <ul class="header-menu" id="one">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li><a href="{{ path('timeline_index') }}">{{ 'global.timeline'|trans() }}</a></li>
                                {% endif %}
                            <li><a href="{{ path('au_homepage') }}">{{ 'discover'|trans() }}</a></li>
                            <li><a href="{{ path('lecture_search_category', {'id': 'all'}) }}">{{ 'lecture.courses'|trans() }}</a></li>
                            <li><a class="cursor-pointer"> {{'Community'|trans}}</a>
                                <ul>
                                    <li><a href="{{ path('people_index') }}">{{ 'artists'|trans() }}</a></li>
                                    <li><a href="{{ path('forum_index') }}">{{ 'forum.title'|trans() }}</a></li>
                                </ul>
                            </li>
                            <li><a href="{{ path('shop_index') }}">{{ 'shop'|trans() }}</a></li>
                            <!-- <li id="ad-work-li"><a id="add-work-btn" class="btn color-1" href="work.html">Add Work </a></li> -->
                        </ul>
                    </div>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                        <div class="login-header-block">
                            <div class="login_block">
                                <a class="btn color-1 size-2 hover-2" href="{{ path('fos_user_security_login') }}"><i class="fa fa-user"></i>
                                    {{ 'global.sign_in'|trans() }}</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="login-header-block">
                            <div>
                                {### NE PAS AFFICHER LE BLOC SI ON N'EST PAS CONNECTÉ###}
                                <a class="notofications-popup" href="#">
                                    <i class="fa fa-bell-o"></i>
                                    {############################ Mettre le nb de notif non lu #########}
                                    <span class="noto-count notification-count">0</span>
                                </a>
                                <div class="noto-popup notofications-block">
                                    <div class="m-close"><i class="fa fa-times"></i></div>
                                    <div class="noto-label">Notifications</div>
                                    <div class="noto-body notification-block">
                                    </div>
                                </div>

                                <a class="messages-popup" href="#">
                                    <i class="fa fa-envelope-o"></i>
                                    {% set messageNotRead = 0 %}
                                    {############################ Mettre le nb de msg non lu #########}
                                    <span class="noto-count messageCount">{% if getNbMessageNotRead(app.user)>9 %}9+{% else %}{{ getNbMessageNotRead(app.user) }}{% endif %}</span>
                                </a>
                                <div class="noto-popup messages-block">
                                    <div class="m-close"><i class="fa fa-times"></i></div>
                                    <div class="noto-label">Messages <span class="noto-label-links">
                                            <a href="{{ path('tchat_list') }}">{{ 'see_all'|trans() }}</a></span></div>
                                    <div class="noto-body dernierMessage">
                                        {########## Début de la boucle avec les notifications non lu #########}
                                        {% set messages = getMessageNotRead(app.user) %}
                                        {% if messages|length == 0 %}
                                            <div class="noto-entry style-2">
                                                <div class="noto-content clearfix">
                                                    <div class="noto-text">
                                                        <div class="noto-message">{{ 'message.nomessage'|trans() }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            {% include 'tchat/allMessageNotRead.html.twig' with {'messages': messages} %}
                                        {% endif %}
                                        {# FIN #}
                                    </div>
                                </div>

                                <a class="portfolio-popup" href="#">
                                    <i class="fa fa-university"></i>
                                    {############################ Mettre le nb de notif non lu #########}
                                    <span class="noto-count noto-count-big">{{ (app.user.mangopayUserId != null)? ((app_mangopay_services.getWalletUser(app.user.mangopayWalletId).Balance.Amount/100)|number_format(2, ",", " "))~' €' : '0,00 €' }}</span>
                                </a>

                                <div class="be-drop-down login-user-down user-parametres-block">
                                    {% set img  = getProfilPicture(app.user.id, app.user.picture) %}
                                    <img class="login-user" src="{{ asset(img) }}" alt="" width="40px">
                                    <span class="be-dropdown-content"></span>
                                    <div class="drop-down-list a-list">
                                        <a href="{{ path('show_me', { 'id' : app.user.id}) }}">{{ 'global.my_account'|trans() }}</a>
                                        <a href="{{ path('user_parameters', { 'id' : app.user.id}) }}">{{ 'settings'|trans() }}</a>
                                        <a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT -->
        {% if app.request.attributes.get('_route') == 'fos_user_security_login' or app.request.attributes.get('_route') == 'fos_user_registration_register' %}
            <div id="content-block" style="background-color:#1b212c; margin-bottom: 0px !important"></div>
        {% else %}
            <div id="content-block">
        {% endif %}

        {% block body %}
        {% endblock %}
        </div>

        <!-- THE FOOTER -->
        <footer>
            <div class="footer-main">
                <div class="container-fluid custom-container">
                    <div class="row">
                        <div class="col-md-3 col-xl-4">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'about'|trans() }}</h1>
                                <p class="text-justify">{{ 'text_about'|trans() }}</p>
                                <ul class="soc_buttons">
                                    <li><a href="https://facebook.com/artsiia" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/artsiia" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.instagram.com/artsiia/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xl-2">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'some_links'|trans() }}</h1>
                                <div class="row footer-list-footer">
                                    <div class="col-md-6">
                                        <ul class="link-list">
                                            <li><a href="{{ path('au_about') }}">{{ 'about'|trans() }}</a></li>
                                            <li><a href="{{ path('au_help') }}">{{ 'help'|trans() }}</a></li>
                                            <li><a href="{{ path('contact_new') }}">{{ 'menu.Contact'|trans() }}</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="link-list">
                                            <li><a href="{{ path('au_homepage') }}">{{ 'news'|trans() }}</a></li>
                                            <li><a href="{{ path('people_index') }}">{{ 'artists'|trans() }}</a></li>
                                            <li><a href="{{ path('faq_all') }}">FAQ</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 galerry">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'recent_articles'|trans() }}</h1>
                                {{ render(controller('AdminBundle:Article:layout')) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-block">
                                <h1 class="footer-title">{{ 'global.language'|trans() }}</h1>
                                <div class="soc-activity">

                                    <a class="btn color-7 size-2 hover-9" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a>
                                    <a class="btn color-7 size-2 hover-9" href=" {{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container-fluid custom-container">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                            <div class="col-md-12 btn-row">
                                <a class="btn color-6-5 size-2 hover-5" href="{{ path('home_admin') }}">Administration</a>
                            </div>
                        {% endif %}
                    {% endif %}


                    <div class="col-md-12 footer-end clearfix">
                        <div class="left">
                            <span class="copy">© 2017 {{ 'global.footer'|trans() }}. <span class="white"><a href="/"> Artsiia</a></span></span>
                        </div>
                        <div class="right">
                            <a class="btn color-7 size-2 hover-9" href="#" data-toggle="modal" data-target="#privacyPolicy">{{ 'global.privacy_policy'|trans() }}</a>
                            <a class="btn color-7 size-2 hover-9" data-toggle="modal" data-target="#disclaimer">{{ 'global.disclaimer'|trans() }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


        {% block javascripts %}
            <!-- SCRIPTS	 -->
            <script type="text/javascript">
                var title_cookie = '{{ "title_cookie"|trans }}';
                var message_cookie = '{{ "message_cookie"|trans }}';
                var button_cookie = '{{ "button_cookie"|trans }}';
            </script>
            <script type="text/javascript">
                var locale = "{{ app.request.locale }}";
                var comment_your_artwork = '{{ 'comment_your_artwork'|trans() }}';
                var comment_your = '{{ 'comment_your'|trans() }}';
                var accepted_friend_request = '{{ 'accepted_friend_request'|trans() }}';
                var new_subscriber = '{{ 'new_subscriber'|trans() }}';
                var new_subscribers = '{{ 'new_subscribers'|trans() }}';
                var you_have = '{{ 'you_have'|trans() }}';

                var friend_requests = '{{ 'friend_requests'|trans }}';
                var friend_request = '{{ 'friend_request'|trans }}';
                var new_friend_requests = '{{ 'new_friend_requests'|trans }}';
                var new_friend_request = '{{ 'new_friend_request'|trans }}';

                var default_img_artworks = "{{ 'themeforest/img/No_Cover.jpg'|imagine_filter('notifArtworks') }}";
                var imagine_filter_artwork = "{{ uploads_artwork_cover|imagine_filter('notifArtworks')}}";
                var imagine_filter_user = "{{'uploads/users/'|imagine_filter('notifUser')}}";
                var default_img_user = "{{ 'themeforest/img/Empty-profile.png'|imagine_filter('notifUser') }}";
            </script>
            <script src="{{ asset('themeforest/script/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('assets/js/Notification.js') }}"></script>
            {% if app.user %}
                <script>
                var current = '{{ app.user.id }}';
                $(document).ready(function () {
                    Notification();
                    setInterval(function () {
                        Notification();
                    }, 30 * 1000);
                });
                </script>
            {% endif %}
            <script src="{{ asset('themeforest/script/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js//bootbox.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/idangerous.swiper.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/jquery.mixitup.js') }}"></script>
            <script src="{{ asset('themeforest/script/jquery.viewportchecker.min.js') }}"></script>
            <script src="{{ asset('themeforest/script/filters.js') }}"></script>
            <script src="{{ asset('themeforest/script/global.js') }}"></script>
            <script src="{{ asset('bundles/artwork/js/artwork.js') }}"></script>
            <script src="{{ asset('assets/js/reporting.js') }}"></script>
            <script src="{{ asset('assets/js/agree.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="{{ asset('assets/js/pnotify.custom.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/js/Notify.js') }}"></script>
            <script type="text/javascript" charset="utf8" src="{{ asset('assets/cookie-law-popup/js/jquery-eu-cookie-law-popup.js') }}"></script>
            <script>
                $(document).ready(function () {
                    var agree = new Agree({});
                    agree.init();
                });
            </script>
            <script>
                $(".alert").delay(3200).fadeOut(3000);
                //        $(document).ready(function () {
                var data = [];
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        data[data.length] = ["{{ type }}", "{{ message }}"];
                    {% endfor %}
                {% endfor %}
                    for (var i = 0; i < data.length; i++) {
                        Notify(data[i][1], null, null, data[i][0]);
                    }
                    //        });
            </script>


        {% endblock %}
        {{ render(controller('AppBundle:Default:LegalAgreement')) }}
    </body>
</html>
