{% if comments|length != 0 or activitys|length != 0 %}
    <div class="be-large-post">
        <div class="info-block">
            <div class="be-large-post-align">
                <h3>{{ 'administration.reports.reporting.comments'|trans() }} / {{ 'administration.reports.reporting.publications'|trans() }}</h3>
            </div>
        </div>
        {% if comments|length != 0 %}
            <span id="comments-list"></span>
            {% set counter = 0 %}
            {% for report in comments %}
                {% set counter = counter + 1 %}
                <div class="blog-content popup-gallery be-large-post-align">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                            </div>
                            <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                    href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                            </div>
                        </div>
                        <div class="col-md-9 left-border">
                            <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                <b>{{ report.subject.subject|capitalize }}</b></div>
                            <div class="report-block-content">{{ 'administration.reports.text.comment_reported'|trans() }} </div>
                            <div class="report-block-message">
                                {{ report.comment.content|raw }}
                            </div>
                            <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                             href="{{ path('show_me', { 'id': report.comment.user.id }) }}">{{ report.comment.user.username|capitalize }}</a>
                            </span>
                            <span class="report-block-name" style="float: right">{{ 'pagination.on'|trans()|capitalize }} 
                                {% if report.comment.artwork is not null %}
                                    <a target="_blank" href="{{ path('artwork_show', { 'id': report.comment.artwork.id }) }}">{{ report.comment.artwork.title|capitalize }}</a>
                                {% endif %}
                                {% if report.comment.lecture is not null %}
                                    <a target="_blank" href="{{ path('lecture_show', { 'id': report.comment.lecture.id }) }}">{{ report.comment.lecture.name|capitalize }}</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <div class="report-block-content">{{ 'administration.reports.text.action'|trans() }}
                        {% if report.mark %}
                            <b>{{ 'administration.reports.text.marked_report'|trans() }}</b> /
                        {% endif %}
                        {% if report.comment.deleted is not null %}
                            <b>{{ 'administration.reports.text.comment_closed'|trans() }}</b> /
                        {% endif %}
                        {% if report.reporteduser.id in banishedUsers%}<b>{{ 'administration.reports.text.profile_banished'|trans() }}</b>{% endif %}
                    </div>
                    <div class="row margin-bottom">
                        {{ 'administration.reports.text.message_to_artist'|trans() }}
                        {% set reads = 0 %}
                        {% for msg in report.reportmessage %}
                            {% if not msg.isreadadmin %}
                                {% set reads = reads+1 %}
                            {% endif %}
                        {% endfor %}
                        <span id="block-message-{{ report.id }}"
                              class="report-block-messages {% if reads > 0 %}message-not-read{% endif %}"><span>( {{ report.reportmessage|length }}
                                )</span> {{ 'administration.reports.text.message_exchanged_with_artist'|trans() }}
                            <a class="cursor-pointer show-report-messages" data-id="{{ report.id }}"
                               data-locale="{{ app.request.locale }}">{{ 'administration.reports.text.view_all'|trans() }}</a>
                        </span>
                    </div>

                    {% if counter < comments|length %}
                        <div class="clear"></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
        
        {% if activitys|length != 0 %}
            <span id="publications-list"></span>
            {% set counter = 0 %}
            {% for report in activitys %}
                {% set counter = counter + 1 %}
                <div class="blog-content popup-gallery be-large-post-align">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                            </div>
                            <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                    href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                            </div>
                        </div>
                        <div class="col-md-9 left-border">
                            <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                <b>{{ report.subject.subject|capitalize }}</b></div>
                            <div class="report-block-content">{{ 'administration.reports.text.comment_reported'|trans() }} </div>
                            <div class="report-block-message">
                                {{ report.activity.description|raw }}
                            </div>
                            <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                             href="{{ path('show_me', { 'id': report.activity.author[0].id }) }}">{{ report.activity.author[0].username|capitalize }}</a>
                            </span>
                        </div>
                    </div>
                    <div class="report-block-content">{{ 'administration.reports.text.action'|trans() }}
                        {% if report.mark %}
                            <b>{{ 'administration.reports.text.marked_report'|trans() }}</b> /
                        {% endif %}
                        {% if report.activity.deleted is not null %}
                            <b>{{ 'administration.reports.text.activity_closed'|trans() }}</b> /
                        {% endif %}
                        {#<b>{{ 'administration.reports.text.profile_banished'|trans() }}</b>#}
                    </div>
                    <div class="row margin-bottom">
                        {{ 'administration.reports.text.message_to_artist'|trans() }}
                        {% set reads = 0 %}
                        {% for msg in report.reportmessage %}
                            {% if not msg.isreadadmin %}
                                {% set reads = reads+1 %}
                            {% endif %}
                        {% endfor %}
                        <span id="block-message-{{ report.id }}"
                              class="report-block-messages {% if reads > 0 %}message-not-read{% endif %}"><span>( {{ report.reportmessage|length }}
                                )</span> {{ 'administration.reports.text.message_exchanged_with_artist'|trans() }}
                            <a class="cursor-pointer show-report-messages" data-id="{{ report.id }}"
                               data-locale="{{ app.request.locale }}">{{ 'administration.reports.text.view_all'|trans() }}</a>
                        </span>
                    </div>

                    {% if counter < activitys|length %}
                        <div class="clear"></div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}

    </div>
    <div class="clear"></div>
{% endif %}