{% for article in articles|reverse %}
<div class="col-ml-12 col-xs-6 col-sm-4 padB">
    <div class="be-post">
        <a href="{{ path('article_show',{'id':article.id}) }}" class="thumbnail">
            {% if article.cover is not empty %}
                <img class="imgSc" src="{{ asset('uploads/article/cover/'~article.owner.username~'/'~article.cover) }}" alt="">
            {% else %}
                <img class="imgSc" src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ article.name }}" style="height:200px; width:200px;">
            {% endif %}
        </a>
        <div class="caption">
            <div class="margTB">
                <div class="col-md-4">
                    <a href="{{ path('category_show',{'id':article.category.id}) }}">
                        {{ article.category.name }}
                    </a>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <span>{{ article.availability }}</span>
                </div>
            </div>
            <div class="col-md-12 sep">
                <div class="col-md-4 margTB">
                    <a href="{{ path('article_show',{'id':article.id}) }}" class="">{{ article.name }}</a>
                </div>
                <div class="col-md-4 col-md-offset-4 noPad margTB price">
                    <span>
                        {{ article.price }}
                        <i class="fa fa-eur" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-12 margTB">
                {{ article.description|slice(0,50)|raw }} ...
            </div>
            <div class="col-md-4 margTB">
                <a href="{{ path('article_show', { 'id' : article.id }) }}" class="btn btn-primary size-3 hover-1" role="button">{{ 'article.show'|trans }}</a>
            </div>
            {% if (article.owner.id != app.user.id) %}
                <div class="col-md-4 col-md-offset-4 margTB buy">
                    <a href="#" class="btn btn-primary size-3 hover-1" role="button" onclick="ajaxBuyArticle('{{ article.id }}')">{{ 'article.buy'|trans }}</a>
                </div>
            {% endif %}
            <div class="col-md-12 pad">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <ul class="list_action">
                            <li>
                                <span>
                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                                    5
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                    3
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                    1
                                </span>
                            </li>
                            {% if (article.owner.id == app.user.id) %}
                                <li class="alignR">
                                    <a href="#" class="del_article_user" id="{{ article.id }}">
                                        <i class="fa fa-close red" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="alignR">
                                    <a href="{{ path('article_edit', { 'id' : article.id })}}">
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}