{% for artwork in artworks|reverse %}
    <div class="col-ml-12 col-xs-6 col-sm-4">
        <div class="be-post">
            <a href="{{ path('artwork_show',{'id':artwork.id}) }}" class="be-img-block">
                {% if artwork.cover is not empty %}
                    <img src="{{ uploads_artwork_cover|imagine_filter('coverArtworks')}}{{artwork.cover}}" alt="{{ artwork.title }}">
                {% else %}
                    <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ artwork.title }}" style="height:250px; width:250px;">
                {% endif %}
            </a>
            <a href="{{ path('artwork_show',{'id':artwork.id}) }}" class="be-post-title">{{ artwork.title }}</a>
            <span class="center-text-align">
                <div class="be-text-tags-artwork-date">
                    <a href="{{ path('artwork_show',{'id':artwork.id}) }}" class="be-post-tag">
                        {{ artwork.dateCreation|date('d/m/Y H') ~ 'h' ~ artwork.dateCreation|date('i') }}
                    </a>
                </div>
                <div class="be-text-tags-artwork">
                    {% for atCategory in artwork.category %}
                        <a href="{{ path('category_show',{'id':atCategory.id}) }}">
                            {{ atCategory.name|trans }}
                        </a>
                    {% endfor%}
                </div>
                <div class="be-text-tags-artwork">
                    {% set counter = 0 %}
                    {% for sub_category in artwork.subCategory %}
                        {% if counter == 0 %}
                            {{sub_category.name}}
                        {% endif %}
                        {% if not loop.last %}
                            {% set counter = counter + 1 %}
                        {% endif %}
                    {% endfor%}
                    {% if counter > 0 %}
                        , +{{ counter }}
                    {% endif %}
                    {% if artwork.subCategory is empty %}
                        {{ 'no_subcategory'|trans }}
                    {% endif %}
                </div>
            </span>
            <div class="author-post center-text-align">					                
                <span>{{ 'By'|trans }} 
                    {% for author in artwork.author %}
                        <a href="{{ path('show_me',{'id':author.id}) }}">{{ author.username }}</a>
                    {% endfor %}
                </span>					                
            </div>
            <div class="info-block">
                {% set is_liker = false %}
                {% set is_comment = false %}
                {% if (app.user) %}
                    {% for u in artwork.likers %}
                        {% if(app.user.id == u.id) %}
                            {% set is_liker = true %}
                        {% endif %}
                    {% endfor %}
                    {% for c in artwork.comments %}
                        {% if(app.user.id == c.user.id) %}
                            {% set is_comment = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <span class="cursor-auto"><i class="fa {% if(is_liker) %}fa-thumbs-up blue-style-1{% else %}fa-thumbs-o-up{% endif %}"></i>{{artwork.likers|length}}</span>
                <span class="cursor-auto"><i class="fa fa-eye followers"></i>{{ artwork.viewers|length}}</span>
                <span class="cursor-auto"><i class="fa {% if(is_comment) %}fa-comment blue-style-1{% else %}fa-comment-o{% endif %}"></i>{{artwork.comments|length}}</span>
            </div>
        </div>
    </div>
{% endfor %}