{% for cours in courses %}
<div class="col-ml-12 col-xs-6 col-sm-4">
    <div class="be-post">
        <a href="{{ path('lecture_show',{'id':cours.id}) }}" class="be-img-block">
            <img src="{{ 'uploads/lecture/cover/' | imagine_filter('coverLectures') }}{{ lecture.cover }}" alt="omg">
        </a>
        <a href="{{ path('lecture_show',{'id':cours.id}) }}" class="be-post-title">{{ cours.name }}</a>
        <span>{{ cours.description|raw|raw|slice(0,50)|raw }} ...</span>
        <div class="author-post" style="margin-top: 15px">
            <img src="{{asset('uploads/users/'~cours.author[0].id~'/'~cours.author[0].picture)}}" alt="" class="ava-author">
            <span>by <a href="#">{{ cours.author|join(' - ') }}</a></span>
        </div>
        <div class="info-block">
            <span><i class="fa fa-thumbs-o-up"></i>{{ cours.likers|length }}</span>
            <span><i class="fa fa-comment-o"></i>{{ cours.comments|length }}</span>
        </div>
    </div>
</div>
{% endfor %}