<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('home/img/favico.png') }}">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Artsiia - Accueil</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('home/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('home/css/landing-page.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('home/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="{{ path('au_general_homepage') }}#">Artsiia</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{{ path('au_general_homepage') }}#about">Accueil</a>
                    </li>
                    <li>
                        <a href="{{ path('au_general_homepage') }}#plateforme">La plateforme</a>
                    </li>
                    <li>
                        <a href="{{ path('au_general_homepage') }}#developpement">Le développement</a>
                    </li>
                     <li>
                        <a href="{{ path('fos_user_registration_register') }}">Pré-inscription</a>
                    </li>
                    <li>
                        <a href="{{ path('au_general_homepage') }}#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Artsiia</h1>
                        <h3>Lancement le 01 octobre 2017</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://facebook.com/artsiia" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/artsiia" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC54PTjs1TXAbTkFmTRRS1gQ" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="plateforme"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">La plateforme</h2>
                    <p class="lead" style="font-size:15px; text-align: justify">
                        Artsiia, c'est un réseau social d'Artistes et de Passionnés d'Art, où vous pourrez ajouter vos amis, vous abonner à des profils et des pages, publier des posts.<br /><br />
                        Artsiia, c'est un profil personnel et une boutique où vous pourrez vous décrire, promouvoir vos créations, vous faire connaître, échanger sur un forum ou sur une messagerie interne.<br /><br />
                        Artsiia, c'est un endroit où vous pourrez partager vos connaissances, créer des cours et des tutoriels, apprendre gratuitement et directement grâce aux cours d'autres utilisateurs.<br /><br />
                        Artsiia, c'est une plateforme de gestion de projet où vous pourrez organiser et montrer vos avancées, faire partie d'un projet de groupe, participer à des challenges.<br /><br />
                        Artsiia, ce sont quatre co-créateurs qui vous demandent directement ce dont VOUS avez besoin, quatre amis un peu fous et ambitieux, et quand même vachement enthousiastes.<br /><br />
                        Enfin, Artsiia, c'est un ensemble de valeurs qui prônent la collaboration, les rencontres et le partage, un site éthique qui ne récupérera pas vos données pour les revendre, un site où vous serez chez vous, que vous soyez Artiste ou Passionné d'Art.
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{{ asset('home/img/p.jpg') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <a  name="developpement"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Le développement</h2>
                    <p class="lead" style="font-size:15px; text-align: justify">

                        Nous comptons sortir une première version en octobre 2017.
                        <br /><br />
                        Voici une petite idée du programme actuel qui peut se préciser, s'affiner, changer, s'améliorer au fil du temps grâce à vos retours permanents sur ce que vous attendez.
                        <br /><br />
                        <span style="font-weight: bold; text-decoration: underline;">1 octobre 2017</span>
                        <br />
                            Mise en place du profil utilisateur et intégration de la boutique.
                            Création du Réseau Social avec plus de transparence et de modularité que les grands réseaux sociaux du type facebook.
                            Partie cours simplifiée.
                        <br /><br />
                        <span style="font-weight: bold; text-decoration: underline;">1 mars 2018</span>
                        <br />
                            Création de la partie "Gestion de projets".
                            Initialisation de la partie Challenge.
                            Amélioration des parties déjà existantes.
                            Intégration de nouveaux arts.
                            Forum.
                        <br /><br />
                        <span style="font-weight: bold; text-decoration: underline;">1 Juillet 2018</span>
                        <br />
                            Début d'application mobile.
                            Partie financement de projets.
                            Partie Appel et recherche de projets.
                        <br /><br />
                        Ensuite ?
                        <br />
                        Ensuite nous continuerons à développer un site qui vous correspond grâce à vos retours.
                        <br /><br />
                        L'année 2018 sera juste niveau développement, car nous participerons à des concours de création d'entreprise pour avoir les moyens de financer la plateforme et avoir des avis professionnels !

                        Merci à vous !
                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{{ asset('home/img/d.jpg') }}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

   

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>N'hésitez pas à nous suivre : </h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://facebook.com/artsiia" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/artsiia" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw" ></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UC54PTjs1TXAbTkFmTRRS1gQ" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Youtube</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="{{ path('au_general_homepage') }}#">Accueil</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ path('au_general_homepage') }}#plateforme">La plateforme</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ path('au_general_homepage') }}#developpement">Le développement</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                         <li>
                            <a href="{{ path('fos_user_registration_register') }}">Pré-inscription</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="{{ path('au_general_homepage') }}#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Artsiia 2017. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ asset('home/js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('home/js/bootstrap.min.js') }}"></script>

</body>

</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101039522-1', 'auto');
  ga('send', 'pageview');

</script>