{% extends "::layout2.html.twig" %}
{% block title %}
  {{ 'menu.home'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
	<div id="content-block">
		<div class="head-bg">
			<div class="head-bg-img" style="background-image: url({{ asset('home/img/Pinceau.jpg') }})"></div>
			<div class="head-bg-content">
				<h1>{{ 'header_title'|trans() }}</h1>
				<p>{{ 'header_subtitle'|trans() }}</p>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
				<a href="{{ path('fos_user_registration_register') }}" class="btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>{{ 'global.sign_up'|trans() }}</a>
				{% endif %}
			</div>	
		</div>
		<div class="container-fluid cd-main-content custom-container">
			<div class="row">
				<div class="col-md-2 left-feild">
					<form action="./" class="input-search">
						<input type="text" required="" placeholder="Tags">
							<i class="fa fa-search"></i>
							<input type="submit" value="">
					</form>				
				</div>			
				<div class="col-md-10 ">
					<div class="for-be-dropdowns">
						<div class="be-drop-down">
							<i class="icon-creative"></i>
							<span class="be-dropdown-content">{{ 'category.title'|trans() }}
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-1"><a>Arts Graphiques</a></li>
								<li class="filter" data-filter=".category-2"><a>Arts Vidéos</a></li>
								<li class="filter" data-filter=".category-3"><a>Arts Littéraires</a></li>
								<li class="filter" data-filter=".category-4"><a>Arts Manuels</a></li>
								<li class="filter" data-filter=".category-5"><a>Autres</a></li>
							</ul>
						</div>
						<div class="be-drop-down">
							<i class="icon-features"></i>
							<span class="be-dropdown-content">{{ 'sort'|trans() }}
							</span>
							<ul class="drop-down-list">
								<li class="filter" data-filter=".category-3"><a>{{ 'number_like'|trans() }}</a></li>
								<li class="filter" data-filter=".category-4"><a>{{ 'number_views'|trans() }}</a></li>
								<li class="filter" data-filter=".category-5"><a>{{ 'number_comment'|trans() }}</a></li>
								<li class="filter" data-filter=".category-1"><a>{{ 'newer'|trans() }}</a></li>
							</ul>
						</div>
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							<div class="be-drop-down">
							<i class="icon-projects"></i>
								<span class="be-dropdown-content"> {{ 'scope'|trans() }}	</span>
								<ul class="drop-down-list">
									<li class="filter" data-filter=".category-1"><a data-type="category-1">{{ 'All'|trans() }}</a></li>
									<li class="filter" data-filter=".category-2"><a data-type="category-2">{{ 'global.subscribers'|trans() }}</a></li>
									<li class="filter" data-filter=".category-3"><a data-type="category-3">{{ 'global.friends'|trans() }}</a></li>
								</ul>
							</div>
						{% endif %}

							<input class="btn color-4 size-2 hover-9" type="submit" value="{{ 'search'|trans() }}">
					</div>				
				</div>
			</div>
		</div>		
		<div class="container-fluid custom-container">
			<div class="row">
				
				<div class="col-md-2 left-feild">
					<div class="be-vidget">
					{# si pas de catégories sélectionnés, ne rien afficher #}
						<h3 class="letf-menu-article">
							{{ 'category.subtitle'|trans() }}
						</h3>
						<div class="creative_filds_block">
							<div class="ul">
								<a data-filter=".category-1" class="filter">Sous catégories	1	</a>
								<a data-filter=".category-2" class="filter">Sous catégories	2	</a>
								<a data-filter=".category-3" class="filter">Sous catégories	3   </a>
								<a data-filter=".category-4" class="filter">Sous catégories	4	</a>
								<a data-filter=".category-5" class="filter">sous catégories	5	</a>
							</div>
						</div>
						<input class="btn color-4 size-2 hover-9" type="submit" value="{{ 'search'|trans() }}">
					</div>
				</div>

				<div class="col-md-10">
					<div id="container-mix"  class="row _post-container_">
						{% for artwork in artworks %}
						<div class="category-1 mix custom-column-5">
							<div class="be-post">
								<a href="page1.html" class="be-img-block">
								<img src="{{ asset('home/img/Pinceau.jpg') }}" alt="omg">
								</a>
								<a href="page1.html" class="be-post-title">{{ artwork.title }}</a>
								<span>
									<a href="blog-detail-2.html" class="be-post-tag">{{ artwork.title }}</a>,
									<a href="blog-detail-2.html" class="be-post-tag"{{ artwork.confidential }}</a>,
									<a href="blog-detail-2.html" class="be-post-tag">{{ artwork.description }}</a>
								</span>
								<div class="author-post">
									<img src="{#### image auteur #####}" alt="" class="ava-author">
									{#### lien auteur #####}
									<span>by <a href="{#### lien auteur #####}">Auteur</a></span>
								</div>
								<div class="info-block">
									<span><i class="fa fa-thumbs-o-up"></i> 100</span>
									<span><i class="fa fa-eye"></i> 500</span>
									<span><i class="fa fa-comment-o"></i> 100</span>
								</div>
							</div>
						</div>
						{% endfor %}
						
						
					</div>
				</div>

			</div>
		</div>
	</div>


{% endblock %}