{% extends "::layout2.html.twig" %}

{% block title %}
	{% if app.request.get('_locale') == 'en' %}
   		{{ page.nameEn }} - {{ parent() }}
   	{% else %}
   		{{ page.name }} - {{ parent() }}
   	{% endif %}
{% endblock %}

{% block body %}
	<br />
	<div class="block">
		<h2 class="content-title">
			{% if app.request.get('_locale') == 'en' %}
		   		{{ page.nameEn }}
		   	{% else %}
		   		{{ page.name }}
		   	{% endif %}
		</h2>						
		<div class="contect-form">
		{% if app.request.get('_locale') == 'en' %}
	   		{{ page.textEn|raw }}
	   	{% else %}
	   		{{ page.text|raw }}
	   	{% endif %}
		</div>
	</div>

{% endblock %}