<div class="be-user-statistic">
    <div class="stat-row clearfix hidden-xs">
        <i class="stat-icon icon-views-b"></i>
        {{ 'global.user.statistics.views_artworks'|trans}}
        <span class="stat-counter">{{ views }}</span>
    </div>
    <div class="stat-row clearfix hidden-xs">
        <i class="stat-icon icon-like-b"></i>
        {% if app.user.id == user.id %}
            {{ 'global.user.statistics.reaction_artworks'|trans}}
        {% else %}
            {{ 'global.user.statistics.reaction_artworks2'|trans}}
        {% endif %}
        <span class="stat-counter">{{ likes }}</span>
    </div>
    <div class="stat-row clearfix hidden-xs">
        <i class="stat-icon icon-comment"></i>
        {% if app.user.id == user.id %}
        {{ 'global.user.statistics.comments_artworks'|trans}}
        {% else %}
            {{ 'global.user.statistics.comments_artworks2'|trans}}
        {% endif %}
        <span class="stat-counter">{{ comments }}</span>
    </div>
    <div class="stat-row clearfix">
        <i class="stat-icon icon-followers-b"></i>
        <a href="{{ path('show_followings', {'id': user.id}) }}">{{ 'global.user.statistics.subscriptions'|trans}}</a>
        <span class="stat-counter">{{ user.followings|length }}</span>
    </div>
    <div class="stat-row clearfix">
        <i class="stat-icon icon-following-b"></i>
        <a href="{{ path('show_followers', {'id': user.id}) }}">{{ 'global.user.statistics.followers'|trans}}</a>
        <span class="stat-counter">{{ user.followers|length }}</span>
    </div>
    <div class="stat-row clearfix"><i class="stat-icon icon-following-b"></i>
        <a href="{{ path('show_friends', {'id': user.id}) }}">{{ 'global.user.statistics.friends'|trans}} {% if app.user == user and user.askingFriends|length > 0 %}<span class="badge">{{ user.askingFriends|length }}</span> {% endif %}</a>
        <span class="stat-counter">{{ user.friends|length }} </span>
    </div>
</div>