{% if messages|length == 0 %}
    <div class="noto-entry style-2">
        <div class="noto-content clearfix">
            <div class="noto-text">
                <div class="noto-message">{{ 'message.nomessage'|trans }}</div>
            </div>
        </div>
    </div>
{% else %}
    {% for message in messages %}
    <div class="noto-entry style-2" {% if message['readByReceiver'] == 0 %} style="background: #CECECE" {% endif %}>

        <div class="noto-content clearfix">
            <div class="noto-img">
                {% set img  = getProfilPicture(message['userId'], message['picture']) %}
                <a href="{{ path('tchat_edit', {id: message['userId']}) }}">
                    <img src="{{ img|imagine_filter('notifUser') }}" width="40px" class="be-ava-comment">
                </a>
            </div>
            <div class="noto-text">

                <div class="noto-text-top">
                    <span class="noto-name"><a href="{{ path('tchat_edit', {id: message['userId']}) }}">{{ message['username']|capitalize }}</a> ( {{ message['count'] }} )</span>
                    <span class="noto-date"><i class="fa fa-clock-o"></i>{{ getTransDate(message['openDate']) }}</span>
                </div>
                <div class="noto-message">
                    <p {% if message['readByReceiver'] == 0 %} style="color: #000000" {% endif %}>{{ message['text']|striptags|scrope }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}