{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'Tchat message'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}

    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/tchat/global.css') }}" />

    <!-- MAIN CONTENT -->
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 left-feild">
                    <a href="{{ path('tchat_new') }}" class="btn btn-left color-1 size-1 hover-1"><i class="fa fa-envelope-o"></i>{{'message.new'|trans}}</a>
                    <form>
                        <div class="noto-header clearfix">
                            <div class="form-checkbox">
                                {#<input id="ch1" class="select-all" type="checkbox"> <span class="check"><i class="fa fa-check"></i></span>#}
                                <a><label for="ch1" class="messages-class-selected">{{ 'global.conversation.title'|trans }}</label></a>
                                <a href="{{ path('tchat_reports_messages')}}"><label for="ch1" class="messages-class">{{ 'global.signalement.title'|trans }} <span class="messages-reports-count">{{total_notRead}}</span></label></a>
                            </div>
                            <div class="stat-sort be-drop-down action-btn-style" style="content: !important;">
                                <span class="be-dropdown-content">actions</span>
                                <ul class="drop-down-list">
                                    <li><a onclick="ActionConversation(1)" class="marqueNonLu">{{ 'mark_as_unread'|trans() }}</a></li>
                                    <li><a onclick="ActionConversation(3)" class="marqueLu">{{ 'mark_as_read'|trans() }}</a></li>
                                    <li><a onclick="ActionConversation(2)" class="supprimerConv">{{ 'global.delete'|trans() }}</a></li>
                                </ul>
                            </div>
                        </div>
                        {% set listIn = [] %}
                        {% for conversation in conversations %}
                            {% if conversation['sender_id'] not in listIn %}
                                <div class="noto-entry style-3 {% if conversation['check'] %} active_hover {% endif %}">
                                    <div class="noto-content clearfix">
                                        <div class="form-checkbox">
                                            <input type="checkbox" id="list-conversation" name="list-conversation" value="{{ conversation['sender_id'] }}"><span class="check"><i class="fa fa-check"></i></span>
                                        </div>
                                        <div class="noto-img">
                                            <a href="{{ path('tchat_edit', {'id': conversation['sender_id'] }) }}">
                                                {% set img  = getProfilPicture(conversation['sender_id'], conversation['picture']) %}
                                                <img src="{{ img|imagine_filter('notifUser') }}" alt="" class="be-ava-comment">
                                            </a>
                                        </div>
                                        <div class="noto-text">
                                            <div class="noto-text-top">
                                                <span class="noto-name"><a href="{{ path('tchat_edit', {'id': conversation['sender_id'] }) }}">{{ conversation['username'] }}</a></span>
                                                <span class="noto-date"><i class="fa fa-clock-o"></i>{{ getTransDate(conversation['openDate']) }}</span>
                                            </div>
                                            {% set rawText = conversation['text']|striptags %}
                                            <div class="noto-message">{{ rawText|length > 150 ? (rawText|slice(0, 150) ~ '</p>...')|raw : (rawText)|raw  }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% set listIn = listIn|merge([conversation['sender_id']]) %}
                            {% endif %}
                        {% endfor %}
                        {% if filter %}
                            <br>
                            <div class="center-text-align"><a href="{{ path('tchat_list', {filter:'all'}) }}" class="btn color-3-1 size-3 hover-1">{{ 'see_all'|trans() }}</a></div>
                            {% endif %}
                    </form>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div>
                        <div class="info-block style-2">
                            <div class="be-large-post-align">
                                <h3 class="info-block-label">{{ 'global.inbox'|trans() }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript">
        var user_id = "{{ user.id }}";
        var update_true = {{ true }};
    </script>
    <script src="{{ asset('assets/js/tchat/action.js') }}"></script>
    <script src="{{ asset('assets/js/tchat/index.js') }}"></script>
{% endblock %}
