<div class="row">
    <div class="col-xs-12">
        <div class="be-comment-block">
            <center>
                <h3 class="report-block-date">
                    {% if report.artwork %}
                        {{ 'administration.reports.report_of_artwork'|trans() }} : {{ report.artwork.title|capitalize }}
                    {% elseif report.activity %}
                        {{ 'administration.reports.report_of_activity'|trans() }} : {{ report.activity.description|raw }}
                    {% elseif report.comment %}
                        {{ 'administration.reports.report_of_comment'|trans() }} : {{ report.comment.content|raw }}
                    {% elseif report.profile %}
                        {{ 'administration.reports.report_of_proil'|trans() }}
                    {% endif %}
                </h3>
            </center><br>
            <h1 class="comments-title">({{ messages|length }}) {{ 'administration.reports.text.message_exchanged_with_admin'|trans() }}</h1>
            {% for message in messages %}
                <div class="be-comment">
                    <div class="be-comment-content">
                        <span class="be-comment-name">
                            <a target="_blank" href="{{ path('show_me', {'id': message.sender.id}) }}"><b>{{ message.sender.username|capitalize }}</b></a>
                        </span>
                        <span class="be-comment-time"><i class="fa fa-clock-o"></i>
                            {#{{ message.created|date('F m, Y')|localizeddate('full', 'none', app.request.locale ) }}#}
                            {{ message.created|date('F m, Y') }} {{ 'administration.reports.text.at'|trans() }} {{ message.created|date('H:i') }}
                        </span>
                        <p class="be-comment-text">
                            {{ message.content|nl2br }}
                        </p>
                    </div>
                </div>
            {% endfor %}
            {% if report.type not in [3, 4, 5, 7] %}
                <div class="be-large-post-align">
                    <div id="list_message"></div>
                    <div class="form-group">
                        <div class="form-label" style="margin-top:25px;">Votre message</div>
                        <textarea id="message-{{ report.id }}" class="form-input" placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                    </div>
                    <button data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn btn-right color-1 size-2 hover-1 reply-report-message">Repondre</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{{ asset('assets/js/tchat/listMessagesReport.js') }}"></script>