{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'Tchat message'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/token-input.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/token-input-facebook.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap-tagsinput.css') }}">#}
{% endblock %}

{% block body %}
    <!-- MAIN CONTENT -->
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 left-feild">
                    <a href="{{ path('tchat_list') }}" class="btn color-4 size-1 hover-7"><i class="fa fa-chevron-left"></i>Retour aux messages</a>
                    <form>
                        <div class="noto-header clearfix">
                            <div class="form-checkbox">
                                {#<input id="ch1" class="select-all" type="checkbox"> <span class="check"><i class="fa fa-check"></i></span>#}
                                <label for="ch1">{{ 'global.conversation.title'|trans }}</label>
                                <a href="{{ path('tchat_reports_messages')}}"><label for="ch1" class="messages-class">Messages des signalements <span class="messages-reports-count">{{total_notRead}}</span></label></a>
                            </div>
                            <div class="stat-sort be-drop-down" style="content: !important;">
                                <span class="be-dropdown-content">actions</span>
                                <ul class="drop-down-list">
                                    <li><a onclick="ActionConversation(1)" class="marqueNonLu">{{ 'mark_as_unread'|trans() }}</a></li>
                                    <li><a onclick="ActionConversation(3)" class="marqueLu">{{ 'mark_as_read'|trans() }}</a></li>
                                    <li><a onclick="ActionConversation(2)" class="supprimerConv">{{ 'global.delete'|trans() }}</a></li>
                                </ul>
                            </div>
                        </div>
                        {% set listIn = [] %}
                        {% for conversation in conversations %}
                            {% if conversation['sender_id'] not in listIn %}
                                <div class="noto-entry style-3 {% if conversation['check'] %} active_hover {% endif %}">
                                    <input type="hidden" class="messageTitle" value="{{ 'message.title'|trans({'%value%': conversation['username']}) }}">
                                    <input type="hidden" class="pullPath" value="{{ path('pull_tchat_messages', {'id': conversation['sender_id'] }) }}">
                                    <input type="hidden" class="pushPath" value="{{ path('update_notification_activity', {'id': conversation['sender_id'] }) }}">
                                    <input type="hidden" class="sendPath" value="{{ path('send_tchat_message', {'id': conversation['sender_id'] }) }}">
                                    <div class="noto-content clearfix">
                                        <div class="form-checkbox">
                                            <input type="checkbox" id="list-conversation" name="list-conversation" value="{{ conversation['sender_id'] }}"><span class="check"><i class="fa fa-check"></i></span>
                                        </div>
                                        <div class="noto-img">
                                            <a href="{{ path('tchat_edit', {'id': conversation['sender_id'] }) }}">
                                                {% set img  = getProfilPicture(conversation['sender_id'], conversation['picture']) %}
                                                <img src="{{ img|imagine_filter('notifUser') }}" alt="" class="be-ava-comment">
                                            </a>
                                        </div>
                                        <div class="noto-text">
                                            <div class="noto-text-top">
                                                <span class="noto-name"><a class="voir_message" href="{{ path('tchat_edit', {'id': conversation['sender_id'] }) }}">{{ conversation['username'] }}</a></span>
                                                <span class="noto-date"><i class="fa fa-clock-o"></i> {{ getTransDate(conversation['openDate']) }}</span>
                                            </div>
                                            {% set rawText = conversation['text']|striptags %}
                                            <div class="noto-message">{{ rawText|length > 150 ? (rawText|slice(0, 150) ~ '</p>...')|raw : (rawText)|raw  }}</div>
                                        </div>
                                    </div>
                                </div>
                                {% set listIn = listIn|merge([conversation['sender_id']]) %}
                            {% endif %}
                        {% endfor %}
                        <br>
                        <div class="center-text-align"><a href="{{ path('tchat_list', {filter:'all'}) }}" class="btn color-3-1 size-3 hover-1">{{ 'see_all'|trans() }}</a></div>
                    </form>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div class="be-large-post">
                        <div class="info-block style-2">
                            <div class="be-large-post-align">
                                <h3 class="info-block-label">Nouveau message</h3>
                            </div>
                        </div>
                        <div class="be-large-post-align">
                            <form method="POST" name="formMessage" action="" role="form" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="form-label">Destinataires</div>
                                    <label class="control-label user-empty-label" for="inputError" style="display: none; color: #dd4b39;"><i class="fa fa-times-circle-o"></i>{{ 'message.nouser'|trans }}</label>
                                    <input type="hidden" id="list-users-tags" value="[]"/>
                                    <input class="form-input" type="text" placeholder="Saisir les destinataires" name="destinataires" id="destinataires" data-role="tagsinput">
                                </div>
                                <div class="form-group">
                                    <div class="form-label">Votre Message</div>
                                    <textarea class="form-input form-control" required="" placeholder="Votre message ici" name="message_text" id="message_text"></textarea>
                                </div>
                                <input type="reset" class="btn btn-right color-4 size-2 hover-7 clear_message" value="Annuler">
                                <button class="btn btn-right color-1 size-2 hover-1 send_message">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script type="text/javascript" src="{{ asset('assets/js/jquery.tokeninput.js') }}"></script>#}
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/jquery.tagsinput.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('assets/js/tchat/action.js') }}"></script>
    <script type="text/javascript">
                                        $(document).ready(function () {
                                            if (CKEDITOR.instances["message_text"]) {
                                                CKEDITOR.instances["message_text"].destroy(true);
                                                delete CKEDITOR.instances["message_text"];
                                            }
                                            CKEDITOR.replace("message_text", {
                                                "toolbar": ["\/", ["Bold", "Italic", "Underline", "Strike", "Subscript", "Superscript", "-"],
                                                    ["Image", "SpecialChar", "Smiley", "TextColor", "BGColor"],
                                                    []], "uiColor": "#ffffff", "language": "fr"
                                            });
                                            $(".send_message").click(function () {
                                                var message = CKEDITOR.instances["message_text"].getData();
                                                $("#message_text").val(message);
                                                var destinataires = $("#destinataires").val();
                                                if ($.trim(message) != "" && $.trim(destinataires) != "") {
                                                    $("[name^=formMessage]").submit();

                                                    return true;
                                                } else {
                                                    alert("Veuillez remplir les champs du formulaire (destinataires et message).");
                                                }
                                                //

                                                return false;
                                            });
                                            $(".clear_message").click(function () {
                                                CKEDITOR.instances["message_text"].setData('');
                                                $("#message_text").val('');

                                                return false;
                                            });
                                            $('#destinataires').tagsInput({
                                                defaultText: "Ajouter un destinataire",
                                                autocomplete_url: '{{ path('get_autocomplete_user') }}',
                                                autocomplete: {
                                                    source: function (request, response) {
                                                        $('.user-empty-label').hide();
                                                        // Saisie 3 caractère au minimum
                                                        if (request.term != null && request.term != "" && request.term.length > 2) {
                                                            $.ajax({
                                                                url: "{{ path('get_autocomplete_user') }}",
                                                                dataType: "json",
                                                                data: {
                                                                    q: request.term
                                                                },
                                                                success: function (data) {
                                                                    $('#list-users-tags').val(JSON.stringify($.map(data, function (item) {
                                                                        return item.name;
                                                                    })));
                                                                    if (data != null && data.length > 0) {
                                                                        response($.map(data, function (item) {
                                                                            return {
                                                                                label: item.name,
                                                                                value: item.name
                                                                            }
                                                                        }));
                                                                    } else {
                                                                        $('.user-empty-label').show();
                                                                        $('#destinataires_tag').val('');
                                                                    }

                                                                }
                                                            })
                                                        }
                                                    }},
                                                onChange: function (e) {
                                                    $('.user-empty-label').hide();
                                                },
                                                onAddTag: function (e) {
                                                    var tags = JSON.parse($('#list-users-tags').val());
                                                    if (!$.inArray(e, tags)) {
                                                        $('#destinataires_tag').prop('disabled', true);
                                                    } else {
                                                        $('.user-empty-label').show();
                                                        $('#destinataires_tagsinput .tag').remove();
                                                    }
                                                },
                                                onRemoveTag: function (e) {
                                                    $('#destinataires_tag').prop('disabled', false);
                                                }
                                            });
                                        });
                                        $("input[type=reset]").click(function () {
                                            $('#destinataires_tagsinput .tag').remove();
                                        });
    </script>
    <style type="text/css">
        .col-lg-4 {
            margin-bottom: 15px;
        }
        span.select2{
            width:100% !important;
        }
        .select2-container--default .select2-selection--multiple .select2-selection__choice {
            color: black;
        }
        div.tagsinput span.tag a {
            color: white;
        }
        div.tagsinput span.tag {
            color: white;
        }
        div.tagsinput span.tag {
            background: #0d58c8;
            color: white;
        }
        .active_hover {
            background: #d1d3d7 none repeat scroll 0 0;
        }
    </style>
{% endblock %}
