{% if nomessage is defined and nomessage == true %}
<div class="noto-entry style-2">
    <div class="noto-content clearfix">
        <div class="noto-text">
            <div class="noto-message">Aucun message reçu</div>
        </div>
    </div>
</div>
{% else %}
<div class="noto-entry style-2">
    <div class="noto-content clearfix">
        <div class="noto-img">
        {# Lien de l'artiste lié au message #}
            <a href="{{ path('tchat_edit', {'id': dernierMessage['sender_id']}) }}">
                {# Avatar de l'artiste #}
                {% if dernierMessage['picture'] is null %}
                    <img class="be-ava-comment" src="{{ asset('assets/img/logo.png') }}" alt="" width="40px" class="img-circle">
                {% else %}
                    <img class="be-ava-comment" src="{{ asset('uploads/users/'~ dernierMessage['userId'] ~ '/' ~ dernierMessage['picture']) }}" alt="" width="40px" class="img-circle">
                {% endif %}
            </a>
        </div>
        <div class="noto-text">
            <div class="noto-text-top">
                {# Lien et non de l'artiste lié au message #}
                <span class="noto-name"><a href="{{ path('tchat_edit', {'id': dernierMessage['sender_id']}) }}">{{ dernierMessage['username'] }}</a></span>
                <span class="noto-date"><i class="fa fa-clock-o"></i>{{ dernierMessage['openDate']|date('F d, Y')~' at '~ dernierMessage['openDate']|date('H:m') }}</span>
            </div>
            {% set rawText = dernierMessage['text']|striptags %}
            <div class="noto-message">{# Message tronqué à 150 charactère #}{{ rawText|length > 150 ? (rawText|slice(0, 150) ~ '</p>...')|raw : (rawText)|raw  }}</div>
        </div>
    </div>
</div>
{% endif %}