{% set nbMaxAffichage = getNbMaxAffichage() %}
{% for message in messages %}
    {% if loop.first %}
        {% if count > nbMaxAffichage %}
            {% if count != messages|length %}
                <div class='text-center drm'>
                    <a href='#' class="btn btn-general" onclick="readMoreMessage()"> {{ 'Read_more'|trans}} </a>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    <div class="be-comment">
        <div class="be-img-comment">
            <a href="{{ path('show_me', {id: message['userId']}) }}">
                {% set img  = getProfilPicture(message['userId'], message['picture']) %}
                <img src="{{ img|imagine_filter('notifUser') }}" width="40px" class="be-ava-comment">
            </a>
        </div>
        <div class="be-comment-content">
            <span class="be-comment-name">
                <a href="{{ path('show_me', {id: message['userId']}) }}">{% if message['sender_id'] == user.id %}Moi{% else %}{{ message['username'] }}{% endif %}</a>
            </span>
            <span class="be-comment-time">
                <i class="fa fa-clock-o"></i>
                {{ getTransDate(message['openDate']) }}
            </span>
            <div class="be-comment-text" style="padding: 2px 10px 1px;">
                {{ message['text']|raw }}
            </div>
        </div>
    </div>
    <script>
        readMoreMessage = function () {
            $('#page-messages').val(parseInt($('#page-messages').val()) + 1);
            TChat.pull_message();
        };
    </script>
{% endfor %}
