{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'Tchat message'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/tchat/global.css') }}" />
    <!-- MAIN CONTENT -->
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-sm-5 left-feild">
                    <form>
                        <div class="noto-header clearfix">
                            <div class="form-checkbox">
                                <a href="{{ path('tchat_list')}}"><label for="ch1" class="messages-class">{{ 'global.conversation.title'|trans }}</label></a>
                                <a><label for="ch1" class="messages-class-selected">{{ 'global.signalement.title'|trans }} <span id="content-count"><span class="messages-reports-count" data-count="{{total_notRead}}">{{total_notRead}}</span></span></label></a>
                            </div>

                        </div>
                        <input type="hidden" id="ids" data-ids="{{ids}}"/>
                        {% for conversation in conversations %}
                            <div class="noto-entry style-3" id="block-message-{{conversation.report.id}}">
                                <div class="noto-content clearfix">
                                    <div class="noto-img">
                                        <a class="voir_message get-list-messages" data-id="{{conversation.report.id}}" data-locale="{{ app.request.locale }}" href>
                                            <img class="be-ava-comment" src="{{ asset('assets/img/logo_report_message.jpg') }}" alt="" width="40px" class="img-circle">
                                        </a>
                                    </div>
                                    <div class="noto-text" >
                                        <div class="noto-text-top">
                                            <span style="float:right" id="is-read-name-{{conversation.report.id}}" class="noto-date {% if not conversation.isread %}message-isnot-read{% endif %}"><i class="fa fa-clock-o"></i> {{ conversation.date|date('F m, Y') }} {{ 'administration.reports.text.at'|trans() }} {{ conversation.date|date('H:i') }}</span>
                                            <span class="noto-name"><a href id="is-read-type-{{conversation.report.id}}" class="voir_message get-list-messages {% if not conversation.isread %}message-isnot-read{% endif %}" data-id="{{conversation.report.id}}" data-locale="{{ app.request.locale }}">
                                                    {% if conversation.report.artwork %}
                                                        {{ 'artwork'|capitalize|trans() }} :
                                                    {% elseif conversation.report.activity %}
                                                        {{ 'publication'|capitalize|trans() }} :
                                                    {% elseif conversation.report.comment %}
                                                        {{ 'comment'|capitalize|trans() }} : 
                                                    {% elseif conversation.report.profile %}
                                                        {{ 'profile'|capitalize|trans() }}
                                                    {% endif %}
                                                </a></span>
                                        </div>
                                        <a href class="get-list-messages" data-id="{{conversation.report.id}}" data-locale="{{ app.request.locale }}"><div id="is-read-content-{{conversation.report.id}}" class="noto-message {% if not conversation.isread %}message-isnot-read{% endif %}">{{conversation.content|truncate(90)}}</div></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="col-xs-12 col-sm-7">
                    <div id="list_message"></div>
                </div>
            </div>
        </div>
    </div>
    <form method="POST" name="formAction" class="formAction" action="" role="form" enctype="multipart/form-data">
        <input type="hidden" name="ids" id="ids">
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/tchat/reprts_messages.js') }}"></script>
{% endblock %}
