.col-lg-4 { margin-bottom: 15px;}
span.select2{width:100% !important;}
.select2-container--default .select2-selection--multiple .select2-selection__choice {color: black;}
.datepicker {
    background: #EEE;
    border: 1px solid #555;
    color: #333;
}