.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified>li {
    display: table-cell;
    width: 0%;
}

.alignR{
    text-align: right;
}

.margBot{
    margin-bottom: 5%;
}

.thumbnail {
    height: 150px;
    margin: 12px;
    padding: 0;
}

.noPad{
    padding-left: 0;
}

.pad{
    padding: unset;
}

.margTB{
    margin: 10px 0px;
}

.be-post{
    height: 418px;
}

.buy{
    text-align: right;
    float: right;
    margin: 10px 20px;
}

.price{
    text-align: right;
    float: right;
}

.sep{
    padding: 0px;
    border-top: 1px solid #e1e1e1;
    margin-top: 5%;
    width: 88%;
    margin-left: 6%;
}

.list_action{
    display: -webkit-flex;
    display: flex;
    display: -moz-flex;
}

.list_action li {
    width: 20%;
}

.red{
    color: red;
}

.padTB{
    padding: 4% 0;
}

.padB{
    padding-bottom: 3%;
}

.imgSc{
    width: 100%;
    height: 100% !important;
}

.error_del_art,
.del_art {
    display: none;
    margin-bottom: 2%;
}

.del_art {
    color: #155724;
    background-color: #d4edda;
}

.error_del_art {
    color: #721c24;
    background-color: #f8d7da;
}