{% extends "ForumBundle::layout.html.twig" %}
{% block title %}
  {{ 'forum.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
<div id="content-block">
	<div class="custom-container gallery-container">
        <div class="container">
        	
        	<div class="col-lg-12 " style="padding-left: 0">
        	</br><h1> {{ 'forum.admin.title'|trans}} </h1>
        	<br />
        	</div>
        	
            <div class="gallery-box-2 col-md-5">
                <div class="gallery-info">
                    <h3>{{ 'forum.admin.manage_forums'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('admin_forum_manage_forums') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
            <div class="gallery-box-2  col-md-5 col-md-offset-2 ">
                <div class="gallery-info">
                    <h3>{{ 'forum.admin.manage_messages'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('admin_forum_manage_forums') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}