{% extends "ForumBundle::layout.html.twig" %}
{% block title %}
  {{ 'forum.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
<div id="content-block">
	<div class="custom-container gallery-container">
        <div class="container">
        	<a class="btn color-1 size-2 hover-2" href="{{ path('admin_forum_new_forum') }}"> {{ 'forum.admin.new_forum'|trans}} </a>
        	<br />

        	{% for forum in forums %}
        		{{forum.position}} : {{ forum.title }} - ({{ forum.titleEn}}) 
        		<a class="btn btn-info" href="{{ path('admin_forum_add_room', { 'slug': forum.slug }) }}"> {{ 'forum.admin.new_forum'|trans}} </a>

        		<a href="{{ path('admin_forum_edit_forum', { 'id' : forum.id })}}" class="btn btn-primary" />{{ 'global.edit'|trans() }}</a>
        		<a href="#" class="btn btn-danger" />{{ 'global.delete'|trans() }}</a>
        		{% if forum.position > 1 %}
        			<a href="#" class="btn btn-primary" />{{ 'forum.admin.up'|trans() }}</a>
        		{% endif %}
        		{% if forum.position < lastPosition %}
        			<a href="#" class="btn btn-primary" />{{ 'forum.admin.down'|trans() }}</a>
        		{% endif %}
        		<br />
        		{######## Affichage des salons ########}
        		{% if forum.rooms is not null %}
	        		{% for room in forum.rooms %}
	        			{{ room.title }}
                        <a href="{{ path('admin_forum_edit_room', { 'id' : room.id })}}" class="btn btn-primary" />{{ 'global.edit'|trans() }}</a>
	        		{% endfor %}
	        	{% endif %}
        		<br />
        	{% endfor %}

        </div>
    </div>
</div>

{% endblock %}