{% extends "ForumBundle::layout.html.twig" %}
{% block title %}
  {{ 'forum.title'|trans() }} - {{ parent() }}
{% endblock %}
{% form_theme form 'form/fields.html.twig' %}
{% block body %}
<div id="content-block">
	<div class="custom-container gallery-container">
        <div class="container">
        	<div class="col-lg-12">
        		<br />
				<h1>{{ 'forum.admin.new_room'|trans }}</h1>
				<br />
			</div>
		    {{ form_start(form) }}
		        {{form_rest(form)}}
		        <div class="text-center clearfix">
		        	<br />
		            <input type="submit" class="btn btn-success" value="{{ 'global.send'|trans() }}" />
		            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
		        </div>

		    {{ form_end(form)}} 
		</div>
	</div>
</div>
{% endblock %}
