<div class="row">
    <div class="col-xs-12">
        <div class="block-courses-info">
            {{ 'agree.update_agree'|trans({}, 'text') }}
        </div>
        {% if app.request.locale == 'en' %}
            {{ legals.disclaimerEn|raw }}
        {% else %}
            {{ legals.disclaimer|raw }}
        {% endif %}

        <form class="update-agree-disclaimer-form" name="agree" method="post" action="{{ path('agree_disclaimer') }}">
            {{ form_widget(form) }}
        </form>
        
        <br>
        <div class="block-courses-danger">
            {{ 'agree.accept_agree'|trans({}, 'text') }}
        </div>
    </div>
</div>