{% extends "::layout_admin.html.twig" %}
{% block title %}
   {{ 'faq.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h3 class="content-title" style="padding: 2%;"><i class="fa fa-question-circle" aria-hidden="true"></i>
        {{ 'faq.title'|trans() }}</h3>
    
    <div class="container">
        <div style="margin-bottom:2%;">
            <a href="{{ path('faq_new') }}" class="btn btn-success">   {{'global.new'|trans()}} <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
             <a href="{{ path('faq_all') }}" class="btn btn-success">   {{'users.display'|trans()}}
            </a>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class = "table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>{{ 'faq.question'|trans() }}</th>
                            <th>{{ 'faq.response'|trans() }}</th>
                            <th>{{ 'global.array.actions'|trans() }}</th>
                           </tr>
                    </thead>
                    <tbody>
                    {% if faqs is not null %}
                        {% for faq in faqs %}
                            <tr>
                                <td>{{ faq.question }}</td>
                                <td>{{ faq.response }}</td>
                                <td>
                                    <a href="{{ path('faq_show', { 'id': faq.id }) }}" style="margin-bottom: 0;" class ="btn btn-warning">{{ 'global.show'|trans() }}</a>
                                    <a href="{{ path('faq_edit', { 'id': faq.id }) }}" class ="btn btn-success">{{ 'global.edit'|trans() }}</a>

                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
