{% extends '::layout2.html.twig' %}

{% block body %}
    <div id="content-block">
        <div class="container be-detail-container">
            <h2 class="content-title">{{'faq.title'|trans()}}</h2>
            <div class="row">
                <div class="left-feild col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="be-vidget">
                    <h3 class="letf-menu-article">
                        {{'category.choose'|trans()}}
                    </h3>
                    <div class="creative_filds_block">
                        <div class="ul">
                        {% for categories in categories %}
                            <a href="{{ path('faq_category', { 'id': categories.id }) }}">{{categories.name}}</a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
