{% extends "::layout_admin.html.twig" %}

{% block body %}
    <div class="container be-detail-container">
        <div class="row">
            <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-pencil" aria-hidden="true"></i>
                {{'global.edit_faq'|trans()}}
            </h3> 
            <div class="col-sm-1 col-sm-offset-10">
                {{ form_start(delete_form) }}
                
                    <div class="pull-left">
                        <input type="submit" value="{{'global.delete'|trans()}}" class="btn btn-danger">
                    </div>

                {{ form_end(delete_form) }}
            </div>
            <div class="block">
                
                    {{ form_start(edit_form) }}
                    
                    <div class="col-xs-12" style="margin-top:2%;">
                        <div class="form-group fl_icon">
                            <div class="col-lg-2 col-md-4">
                                {{ form_label(edit_form.question, null, {'label_attr': {'class':'control-label' }}) }}
                            </div>
                            <div class="col-lg-12 col-md-12 noPadLeft">
                                {{ form_widget(edit_form.question, { 'attr':  {
                                    'class': 'form-control',
                                }}) }}
                            </div>
                        </div>
                    </div>                                      
                    <div class="col-xs-12"> 
                        <div class="form-group fl_icon">
                            <div class="col-lg-2 col-md-4">
                                {{ form_label(edit_form.response, null, {'label_attr': {'class':'control-label' }}) }}
                            </div>
                             <div class="col-lg-12 col-md-12 noPadLeft">
                                {{ form_widget(edit_form.response, { 'attr':  {
                                    'class': 'form-control',
                                }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12" style="margin-top:2%;">
                        <div class="form-group">
                            <div class="col-lg-4 col-md-6">
                                <input type="submit" value="{{'global.edit'|trans()}}" class="btn btn-success"/>
                             {{ form_end(edit_form) }}
                                <a href="{{ path('faq_index') }}" class="btn btn-danger" /> <i class="fa fa-arrow-left" aria-hidden="true"></i>  {{ 'global.back'|trans() }}
                                </a>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}
