{% extends "::layout2.html.twig" %}
{% block title %}
    {{ 'faq.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="content-block">
        <div class="container be-detail-container">
            <h3 class="content-title"><i class="fa fa-question-circle" aria-hidden="true"></i> {{'faq.title'|trans()}}</h3>
            <div class="row">
                <div class="left-feild col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-9" id="faqsSection">
                    {% if faqs is not null %}
                        {% for faq in faqs %}

                            <div class="accordion style-2">
                                <div class="acc-panel">
                                    <div class="acc-title"><span class="acc-icon"></span>{{faq.question}}</div>
                                    <div class="acc-body">
                                        <p>{{faq.response}}</p>
                                    </div>
                                </div>                
                            </div>
                        {% endfor %}
                    {% endif %} 
                </div>
                <div class="row">
                    <div class="loader" style="display:none;"></div> 
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/faq.css') }}" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var url = "{{path('faq_search')}}";
        var msg = "{{'faq.no_available'|trans()}}";
    </script>
    <script src="{{ asset('assets/js/faq.js') }}"></script>

{% endblock %}