{% extends "::layout_admin.html.twig" %}
{% block title %}
  {{ 'faq.add'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container be-detail-container">
        <div class="row">
            <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-plus" aria-hidden="true"></i>
                {{'faq.add'|trans()}}
            </h3> 
            <div class="block">
                {{ form_start(form) }}
                    <div class="col-lg-12">
                        <div class="form-group clearfix">
                            <div class="col-lg-2 col-md-4">
                                {{ form_label(form.question, null, {'label_attr': {'class':'control-label' }}) }}
                            </div>
                            {{ form_errors(form.question) }}
                            <div class="col-lg-12 col-md-12 noPadLeft">
                                {{ form_widget(form.question, { 'attr':  {
                                    'class': 'form-control',
                                }}) }}
                            </div> 
                        </div>
                    </div>    
                    <div class="col-lg-12">
                        <div class="form-group clearfix">
                            <div class="col-lg-2 col-md-4">
                                {{ form_label(form.response, null, {'label_attr': {'class':'control-label' }}) }}
                            </div>
                            {{ form_errors(form.response) }}
                            <div class="col-lg-12 col-md-12 noPadLeft">
                                {{ form_widget(form.response, { 'attr':  {
                                    'class': 'form-control',
                                    'required' : 'required',
                                    'rows' : '5',
                                }}) }}
                            </div> 
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="text-center" style="margin-top:2%;">
                            <input type="submit" class="btn btn-success" value=" {{ 'global.add'|trans() }}" />
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
        {% endblock %}
