{% extends "::layout_admin.html.twig" %}
{% block title %}
   {{ 'faq.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h3 class="content-title" style="padding: 2%;">{{ 'faq.title'|trans() }}</h3>
        <div class="table-responsive">
            <table class = "table table-bordered">
                <tbody>
                    <tr>
                        <th>{{ 'global.array.ref'|trans() }}</th>
                        <td>{{ faq.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'faq.question'|trans() }}</th>
                        <td>{{ faq.question }}</td>
                    </tr>
                    <tr>
                        <th>{{ 'faq.response'|trans() }}</th>
                        <td>{{ faq.response }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" style="margin-top:2%;" />{{ 'global.back'|trans() }}</a>
    </div>
</div>    
{% endblock %}
