{% for artwork in artworks %}
    <div id="category-{{ artwork.id }}" class="mix custom-column-5">
        <div class="be-post">
            <a href="{{ path('artwork_show',{'id':artwork.id}) }}" class="be-img-block">
                <img src="{{ asset(uploads_artwork_cover~''~artwork.cover) }}" alt="{{ artwork.title }}" style="height:200px; width:200px;">
            </a>
            <a href="{{ path('artwork_show', { 'id': artwork.id }) }}" class="be-post-title">{{ artwork.title }}</a>
        <span>
            <a href="blog-detail-2.html" class="be-post-tag">{{ artwork.dateCreation|date('d/m/Y H') ~ 'h' ~ artwork.dateCreation|date('i') }}</a>
            {% for atCategory in artwork.category %}
                <a href="blog-detail-2.html" class="be-post-tag">{{ atCategory.name }}</a>
            {% endfor%}
            {% for subCategory in artwork.subCategory %}
                <a href="blog-detail-2.html" class="be-post-tag">{{ subCategory.name }}</a>
            {% endfor %}
        </span>
            <div class="author-post">
                {% for author in artwork.author %}
                    <span>{{ 'By'|trans }} <a href="{{ link }}">{{ author.username }}</a></span>
                {% endfor %}
            </div>
            <div class="info-block">
                <span><i class="fa fa-thumbs-o-up"></i> 100</span>
                {% for author in artwork.author %}
                    <span><i class="fa fa-eye followers"></i> 500</span>
                {% endfor %}
                <span><i class="fa fa-comment-o"></i> 100</span>
            </div>
        </div>
    </div>
    {#{% else %}#}
    {#<div><p>{{ 'global.artwork.nodata'|trans() }}</p></div>#}
{% endfor %}