<div class="row">
    <div class="col-xs-12">
        <p>{{ 'global.artwork.remove_my_artwork'|trans() }} <strong>{{ entity.title|capitalize }} ?</strong></p>
        <form class="remove-my-artwork-form" name="artwork" method="delete" action="{{ path('remove_my_artwork', { 'id': entity.id }) }}">
            {{ form_widget(form) }}
        </form>
    </div>
</div>
