{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'global.artwork.edit'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ 'global.artwork.edit'|trans() }}</h1>

    {{ form_start(edit_form) }}

    <div class="col-lg-12">
        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.cover, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(edit_form.cover) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.cover, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.file, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(edit_form.file) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.file, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.title, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(edit_form.title) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.title, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>


        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.confidential, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(edit_form.confidential) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.confidential, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.description, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
            </div>
            {{ form_errors(edit_form.description) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.description, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.text, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(edit_form.text) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.text, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.category, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(edit_form.category) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.category, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(edit_form.subCategory, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(edit_form.subCategory) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(edit_form.subCategory, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

    </div>



    <div class="text-center">
        <a href="{{ path('artwork_index') }}" class="btn btn-primary">Back to the list</a>
        <input type="submit" value="{{ 'artwork.button.edit'|trans() }}" class="btn btn-success" />
    </div>

    {{ form_end(edit_form) }}

{% endblock %}
