{% spaceless %}
    {% set aaData = {} %}

    {% set edit = '' %}
    {% for artwork in values %}
        {% set edit = 'global.edit'|trans %}
        {% set img = asset('uploads/artwork/'~artwork.cover) %}
        {%
        set value = [
        artwork.id,
        '<img src="'~img~'" width="90px">',
        artwork.file,
        artwork.title,
        artwork.dateCreation|date('Y-m-d h:i:s'),
        artwork.confidential,
        artwork.description,
        '<a href="'~path('artwork_edit', { 'id': artwork.id })~'">'~edit~'</a>',
        ]
        %}

        {% set aaData = aaData|merge({ (loop.index0): value }) %}
    {% endfor %}
{% endspaceless %}
{% set data = data|merge({ 'aaData': aaData} ) %}
{{ data|json_encode|raw }}

