{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ 'global.artwork.title'|trans() }} - {{ parent() }}
{% endblock %}


{% block body %}
    <h1>{{ 'global.artwork.title'|trans() }}</h1>
    {{ form_start(form) }}
    <div class="col-lg-12">

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.cover, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(form.cover) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.cover, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        {#<div class="form-group clearfix">#}
            {#<div class="col-lg-4 col-md-4">#}
                {#{{ form_label(form.file, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}#}
                {#<span>*</span>#}
            {#</div>#}
            {#{{ form_errors(form.file) }}#}
            {#<div class="col-lg-8 col-md-8 noPadLeft">#}
                {#{{ form_widget(form.file, { 'attr':  {#}
                    {#'class': 'form-control',#}
                {#}}) }}#}
            {#</div>#}
        {#</div>#}

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.title, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(form.title) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.title, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>


        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.confidential, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(form.confidential) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.confidential, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.description, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
            </div>
            {{ form_errors(form.description) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.description, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.text, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.text) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.text, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.category, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(form.category) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.category, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.sub_category, null, {'label_attr': {'class':'control-label', 'required':'required' }}) }}
                <span>*</span>
            </div>
            {{ form_errors(form.sub_category) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.sub_category, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div>
        </div>

    </div>

    <div class="text-center">
        <a href="{{ path('artwork_index') }}" class="btn btn-primary">Back to the list</a>
        <input type="submit" value="{{ 'global.artwork.save'|trans() }}" class="btn btn-success" />
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}
