{% extends 'layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>Artwork</h3>
                    <div class="list-count">
                        <span class="title-count-text"> TOTAL: </span><span class="title-count"></span>
                    </div>
                </div>

                <div class="add-btn-top-list">
                    {#<a href="{{ path('mcs_new_product') }}" onclick=";"><button class="btn btn-mini btn-mini-rectif">Créer un(e) nouveau produit</button></a>#}
                </div>

                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="show_artwork" class="table table-bordered dataTable">
                                    <thead >
                                    <tr role="row">
                                        <th>{{ 'artwork.id'|trans }}</th>
                                        <th>{{ 'artwork.cover'|trans }}</th>
                                        <th>{{ 'artwork.file'|trans }}</th>
                                        <th>{{ 'artwork.title'|trans }}</th>
                                        <th>{{ 'artwork.date_creation'|trans }}</th>
                                        <th>{{ 'artwork.confidential'|trans }}</th>
                                        <th>{{ 'artwork.description'|trans }}</th>
                                        <th>{{ 'artwork.action'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('artwork_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('artwork_edit', { 'id': artwork.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $.fn.dataTable.ext.legacy.ajax = true;

            // display list all user.
            $('#show_artwork').DataTable(
                    {
                        "pageLength": 10,
                        "aoColumns": [
                            {"bSortable": true}, {"bSortable": false}, {"bSortable": false}, {"bSortable": false}, {"bSortable": false},
                            {"bSortable": false}, {"bSortable": false}, {"bSortable": false}],
                        "order": [[ 0, "desc" ]],
                        "bProcessing": true,
                        "bServerSide": true,
                        "searching": true,
                        "sAjaxSource": "{{ path('ajax_get_user_artwork') }}",
                        "paging": true,
                        "oLanguage": {
                            "sProcessing": "traitement...",
                            "oPaginate": {
                                "sPrevious": "Précédante",
                                "sNext": "Suivante",
                            },
                            "sSearch": "Filtrer: ",
                            "sLengthMenu": "Afficher _MENU_ enregistrement par page",
                            "sEmptyTable": "Aucun(e) produit trouvé",
                            "sInfo": "Voir _START_ de _END_ à _TOTAL_ enregistrement"
                        },
                        "drawCallback": function(settings) {
                            $('.title-count').html(settings.json.iTotalRecords) ;
                        }
                    });

        }) ;
    </script>
{% endblock %}