{% extends "::layout2.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
<div class="container" style="min-height:300px;">
	<div class="row text-center" style="margin-top: 10%;">
    	<div class="alert-success" style="padding:2%;">
    	<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
    	</div>
    </div>
</div>
{% endblock %}
