{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

    
	<div class="col-lg-12">
        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.email, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.email) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.email, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.username, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.username) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.username, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>
  
        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.plainPassword.first, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.plainPassword.first) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.plainPassword.first, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>

        <div class="form-group clearfix">
            <div class="col-lg-4 col-md-4">
                {{ form_label(form.plainPassword.second, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.plainPassword.second) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.plainPassword.second, { 'attr':  {
                    'class': 'form-control',
                }}) }}
            </div> 
        </div>
    </div>
	<div class = "text-center">
        <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success" />
    </div>
{{ form_end(form) }}
