{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'global.inbox'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}

    <h1>{{ 'global.inbox'|trans() }} - {{ 'global.new'|trans() }} </h1>
    {% if error is not empty %}
        <div class="text-center alert alert-danger">
            {% for err in error %}
                {{ err }}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_start(form) }}
    <div class="col-lg-12">
        <div class="form-group clearfix">
            <div class="col-lg-2 col-md-4">
                {{ form_label(form.receiver, null, {'label_attr': {'class':'control-label' }}) }}
                {{ form_errors(form.receiver) }}
            </div>
            <div class="col-lg-12 col-md-12 noPadLeft">
                {{ form_widget(form.receiver, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                }}) }}
            </div> 
            <div class="col-lg-2 col-md-4">
                {{ form_label(form.message, null, {'label_attr': {'class':'control-label' }}) }}
                {{ form_errors(form.message) }}
            </div>
            <div class="col-lg-12 col-md-12 noPadLeft">
                {{ form_widget(form.message, { 'attr':  {
                        'class': 'form-control',
                        'required' : 'required'
                }}) }}
            </div>
        </div>
    </div>
    <div class="text-center">
        <input type="submit" value="{{ 'inbox.send'|trans() }}" class ="btn btn-success"/>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
</div>
{{ form_end(form) }}




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {


            initSidebar();
        });

        function initSidebar() {

            var url_ajax = "{{ path('ajax_sidebar_message' )}}";

            var request = $.ajax({
                url: url_ajax,
                type: "GET",
            });

            request.done(function (msg) {
                var i;
                for (i = 0; i < msg.length; ++i) {
                    var url_message = "<a href=\"{{path('message_show', {id : 'msg_id' })}}\"> name </a><p><muted>" + msg[i].message + "</p></muted>";
                    url_message = url_message.replace('msg_id', msg[i].id);
                    url_message = url_message.replace('name', msg[i].username);


                    $(".ds").append("<div class=\"desc\">" + url_message + "</div>");
                }

            });

            request.fail(function (jqXHR, textStatus) {
                alert("{{ 'global.error'|trans() }} : " + textStatus);
            });

        }
    </script>
{% endblock %}
