{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'global.inbox'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <style>

        .site-footer {
            visibility: hidden;
            clear: both;
            height: 0;
        }
        @media screen and (max-width: 600px) {
            .ds {
                visibility: hidden;
                clear: both;
                height: 0;
            }
        }
    </style>

    <div class="col-lg-12 reading-message" style="position:fixed; max-height: 70%; min-height:70%; overflow-y: auto; z-index: 1">
        {% for msg in message.message %} 

            <div class="col-lg-2">
                {{ msg.sender[0].username }}<br />
                {{ msg.openDate|date('d-m-Y H:i')}}
            </div>

            <div class="col-lg-10" >
                <p {% if app.user.username not in with %} style="background: #64c3c2; padding:3px; border-radius:7px;" {% endif %}>{{ msg.text|raw }} </p>
            </div>
            <br /><br />
        {% endfor %}
    </div>
    <div class="col-lg-12 message" style="position:fixed; overflow-y: none; background: #ddd;  z-index: 5; padding:3px;">

        <div class="col-lg-10">
            <div class = "text-center" id ="block_send_message">
                <textarea class="form-control" rows = "2" name="textarea_message" id="textarea_message"></textarea>

            </div>
        </div>      
        <div class="col-lg-2 sending-message" style="padding-bottom: 4px;">
            {{ 'inbox.with'|trans() }} 
            {% for sender in with %}
                {{ sender }}
            {% endfor %}
            <br />
            <a href="#block_send_message" onclick="addMessage({{message.id}})">{{ 'global.send'|trans() }}</a>
        </div>
    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {


            $(".main-chart").css("padding-top", 0);
            $(".main-chart").css("padding-left", 0);
            $(".main-chart").css("margin", 0);
            $(".message").width($(".main-chart").width() + 15);
            if (detectmob)
                $(".message").css("bottom", 0);
            $(".reading-message").css("max-height", $(document).height() - $(".message").height() - $(".header").height() - $(".site-footer").height() - 30);
            $(".reading-message").width($(".main-chart").width() - 20);
            $(".reading-message").css("top", 0);
            $(".reading-message").height($(document).height() - $(".sending-message").height() - $(".header").height());
            $(".reading-message").css("margin-top", $(".header").height() + 5);
            $(".reading-message").animate({scrollTop: $('.reading-message')[0].scrollHeight});

            initSidebar();
        });


        function detectmob() {
            if (navigator.userAgent.match(/Android/i)
                    || navigator.userAgent.match(/webOS/i)
                    || navigator.userAgent.match(/iPhone/i)
                    || navigator.userAgent.match(/iPad/i)
                    || navigator.userAgent.match(/iPod/i)
                    || navigator.userAgent.match(/BlackBerry/i)
                    || navigator.userAgent.match(/Windows Phone/i)
                    ) {
                return true;
            } else {
                return false;
            }
        }

        function addMessage(id_message) {

            var url_m = "{{ path('ajax_add_message') }}";
            var datas = {};
            datas['message'] = $("#textarea_message").val();
            datas['id_message'] = id_message;
        {% if with|length >0 %}
                var receiver = '{{ with[0]}}';
        {% else %}
                var receiver = null;

        {% endif %}
            }
            datas['receiver'] = receiver;

            var request = $.ajax({
                data: datas,
                url: url_m,
                type: "POST",
            });

            request.done(function (msg) {
                var value = $("#textarea_message").val();
                var date = '{{ "now"|date("d-m-Y h:i")}}';
                $(".reading-message").append("<div class=\"col-lg-2\"> {{ app.user.username }} <br />" + date + "</div><div class=\"col-lg-10\"><p>" + value + "</p></div><br />");
                $("#textarea_message").val('');
                $(".reading-message").animate({scrollTop: $('.reading-message')[0].scrollHeight});
            });

            request.fail(function (jqXHR, textStatus) {
                alert("{{ 'global.error'|trans() }} : " + textStatus);
            });
            }

            function initSidebar() {

                var url_ajax = "{{ path('ajax_sidebar_message' )}}";

                var request = $.ajax({
                    url: url_ajax,
                    type: "GET",
                });

                request.done(function (msg) {
                    var i;
                    for (i = 0; i < msg.length; ++i) {
                        var url_message = "<a href=\"{{path('message_show', {id : 'msg_id' })}}\"> name </a><p><muted>" + msg[i].message + "</p></muted>";
                        url_message = url_message.replace('msg_id', msg[i].id);
                        url_message = url_message.replace('name', msg[i].username);


                        $(".ds").append("<div class=\"desc\">" + url_message + "</div>");
                    }

                });

                request.fail(function (jqXHR, textStatus) {
                    alert("{{ 'global.error'|trans() }} : " + textStatus);
                });

            }




    </script>
{% endblock %}