{% extends "::layout2.html.twig" %}

{% block title %}
    {{ 'administration.reports.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="container be-detail-container">
                <div class="block-2">
                    <span class="back-block">
                    </span>
                </div>
            </div>

            <div class="row">
                <fieldset>
                    <legend>{{ 'administration.reports.text.message_of_admin'|trans() }}</legend>
                    <p class="banish-block-content">{{ 'administration.reports.text.banish_text_1'|trans() }}</p>
                    <p class="banish-block-content">{{ 'administration.reports.text.banish_text_2'|trans({'%start%': report.banishment.created|date('d/m/Y')~' '~report.banishment.created|date('H')~'h'~report.banishment.created|date('i'), '%end%': report.banishment.endbanish|date('d/m/Y')~' '~report.banishment.endbanish|date('H')~'h'~report.banishment.endbanish|date('i')}) }}</p>
                    <p class="banish-block-content">{{ 'administration.reports.text.banish_text_3'|trans() }}</p>
                    <p class="banish-block-content">{{ 'administration.reports.text.banish_text_4'|trans() }}</p>
                </fieldset>
            </div>
            <br>
            <div class="col-xs-12">
                <div class="be-comment-block">
                    <h1 class="comments-title">({{ messagesUsers|length }}) {{ 'administration.reports.text.message_exchanged'|trans() }}</h1>
                    {% for message in messagesUsers %}
                        <div class="be-comment">
                            <div class="be-comment-content">
                                <span class="be-comment-name">
                                    <a target="_blank" href="{{ path('show_me', {'id': message.sender.id}) }}"><b>{{ message.sender.username|capitalize }}</b></a>
                                </span>
                                <span class="be-comment-time"><i class="fa fa-clock-o"></i>
                                    {#{{ message.created|date('F m, Y')|localizeddate('full', 'none', app.request.locale ) }}#}
                                    {{ message.created|date('F m, Y') }} {{ 'administration.reports.text.at'|trans() }} {{ message.created|date('H:i') }}
                                </span>
                                <p class="be-comment-text">
                                    {{ message.content|nl2br }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="blog-content popup-gallery be-large-post-align">

            <div class="row margin-bottom">
                {{ 'administration.reports.text.message_to_admin'|trans() }}
            </div>

            {{ form_start(form) }}
            {{ form_widget(form.message) }}
            <small style="color: red">{{ form.message.vars.errors|replace({'ERROR: ' : ''}) }}</small>
            <div class="report-block-btn-submit">
                <input type="submit" class="btn color-1 size-2 hover-1 margin send-report-message-user" value="{{ 'administration.reports.button.send_message'|trans() }}" />
            </div>
            {{ form_end(form) }}

        </div>

    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

{% endblock %}