{% extends "::layout_admin.html.twig" %}

{% block title %}
    {{ 'administration.reports.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="container be-detail-container">
                <div class="block-2">
                    <div class="row">
                        <div class="col-md-4 center-text-align">
                        <span class="back-block">
                            <a class="btn color-1 size-1" href="{{ path('home_admin') }}"><i
                                        class="fa fa-chevron-left"></i>{{ 'administration.reports.button.back_to_home'|trans() }}</a>
                        </span>
                        </div>
                        <div class="col-md-4 ">
                            <h2 class="content-title">{{ 'administration.reports.title_banish'|trans() }}</h2>
                        </div>
                        <div class="col-md-4 "></div>
                    </div>
                </div>
            </div>

            <div class="gallery-box-2 col-lg-6 border">
                <div class="gallery-info">
                    <h3>{{ 'administration.reports.button.banishment_in_progress'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('banishment_routes_inprogress_homepage') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>
            <div class="gallery-box-2 col-lg-6 border">
                <div class="gallery-info">
                    <h3>{{ 'administration.reports.button.historhisty'|trans() }}</h3>
                </div>
                <div class="gallery-btn">
                    <a class="btn-login btn color-1 size-2 hover-2" href="{{ path('banishment_routes_history_homepage') }}">
                        {{ 'administration.reports.button.to_access'|trans() }}
                    </a>
                </div>
            </div>

        </div>
    </div>
    </div>
{% endblock %}