{% extends "::layout_admin.html.twig" %}

{% block title %}
    {{ 'administration.reports.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="container be-detail-container">
                <div class="block-2">
                    <span class="back-block">
                        <a class="btn color-1 size-1" href="{{ path('banishment_routes_homepage') }}"><i
                                class="fa fa-chevron-left"></i>{{ 'administration.reports.button.back_to_banishment_home'|trans() }}</a>
                    </span>
                </div>
            </div>


            {% set counter = 0 %}

            {% for report in banis %}
                {% set counter = counter + 1 %}
                <div class="blog-content popup-gallery be-large-post-align banish-block">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="banish-block-banished"><a><a target="_blank"
                                                                    href="{{ path('show_me', { 'id': report.reporteduser.id }) }}">{{ report.reporteduser.username|capitalize }}</a></a></div>
                            <div class="report-block-date">{{ 'administration.reports.text.banish_text_5'|trans({'%start%': report.banishment.created|date('d/m/Y')~' '~report.banishment.created|date('H')~'h'~report.banishment.created|date('i'),
                                                                                                                                                 '%end%': report.banishment.endbanish|date('d/m/Y')~' '~report.banishment.endbanish|date('H')~'h'~report.banishment.endbanish|date('i'),
                                                                                                                                                 '%days%': report.banishment.days }) }}</div>
                            <div class="report-block-name">{{ 'by'|capitalize|trans() }} <a target="_blank"
                                                                                            href="{{ path('show_me', { 'id': report.banishment.admin.id }) }}">{{ report.banishment.admin.username|capitalize }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        {{ 'administration.reports.text.message_to_artist'|trans() }}
                        {% set reads = 0 %}
                        {% for msg in report.reportmessage %}
                            {% if not msg.isreadadmin %}
                                {% set reads = reads+1 %}
                            {% endif %}
                        {% endfor %}
                        <span id="block-message-{{ report.id }}"
                              class="report-block-messages {% if reads > 0 %}message-not-read{% endif %}"><span>( {{ report.reportmessage|length }}
                                )</span> {{ 'administration.reports.text.message_exchanged_with_artist'|trans() }}
                            <a class="cursor-pointer show-report-messages" data-id="{{ report.id }}"
                               data-locale="{{ app.request.locale }}">{{ 'administration.reports.text.view_all'|trans() }}</a>
                        </span>
                    </div>

                    <textarea rows="3" class="form-control" id="message-{{ report.id }}"
                              placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                    <div class="row margin">
                        <div class="col-md-10">
                            <a class="btn color-3-5 size-2 hover-3 stop-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.stop_ban_artist_profile'|trans() }}</a>
                        </div>
                        <div class="col-md-2 report-block-btn-submit">
                            <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                               data-receiver="{{ report.reporteduser.id }}"
                               class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            {% endfor %}


        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var reporting = new Reporting({});
        reporting.init();
    </script>

{% endblock %}