<div class="row">
    <div class="col-xs-12">
        <p class="center-text-align"><h4 class="center-text-align">{{ 'administration.reports.text.confirm_stop_banish_profile'|trans() }} <br><br><strong>{{ report.reporteduser.username|raw }}
                ?</strong></h4></p>
        <form class="stop-banish-profile-form" name="banish" method="post" action="{{ path('banishment_routes_stop_banish_report', {'id': id}) }}">
            {{ form_widget(form) }}
        </form>
    </div>
</div>