<div class="row">
    <div class="col-xs-12">
        <p class="center-text-align"><h4 class="center-text-align">{{ 'administration.reports.text.confirm_remove_comment'|trans() }} <br><br><strong>{{ comment.content|raw }}
                ?</strong></h4></p>
        <form class="remove-report-comment-form" name="report" method="delete" action="{{ path('report_routes_remove_reporting_comment', {'id': id}) }}">
            {{ form_widget(form) }}
        </form>
    </div>
</div>