<div class="row">
    <div class="col-xs-12">
        <p class="center-text-align"><h4 class="center-text-align">{{ 'administration.reports.text.confirm_remove_artwork'|trans() }} <strong>{{ artwork.title|capitalize }}
                ?</strong></h4></p>
        <form class="remove-report-artwork-form" name="report" method="delete" action="{{ path('report_routes_remove_reporting_artwork', {'id': id}) }}">
            {{ form_widget(form) }}
        </form>
    </div>
</div>