<div class="row">
    <div class="col-xs-12">

        <div class="be-comment-block">
            <h1 class="comments-title">({{ messages|length }}) {{ 'administration.reports.text.message_exchanged_with_artist'|trans() }}</h1>
            {% for message in messages %}
                <div class="be-comment">
                    <div class="be-comment-content">
                            <span class="be-comment-name">
                                <a target="_blank" href="{{ path('show_me', {'id': message.sender.id}) }}"><b>{{ message.sender.username|capitalize }}</b></a>
                            </span>
                        <span class="be-comment-time"><i class="fa fa-clock-o"></i>
                            {#{{ message.created|date('F m, Y')|localizeddate('full', 'none', app.request.locale ) }}#}
                            {{ message.created|date('F m, Y') }} {{ 'administration.reports.text.at'|trans() }} {{ message.created|date('H:i') }}
                        </span>
                        <p class="be-comment-text">
                            {{ message.content|nl2br }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
