<div class="row">
    <div class="col-xs-12">
        <h4 class="style-head-report">{{ 'administration.reports.head_popup'|trans() }}</h4>
        {% if check %}
            <br>
            <h2 class="center-text-align">{{ 'administration.reports.text.comment_already_reported'|trans() }}</h2>
            <br>
        {% else %}
            <form class="form-horizontal add-report-comment-form" name="report" method="post" action="{{ path('report_routes_add_reporting_comment', { 'id': id }) }}" novalidate="">

                <div class="form-group {% if form.subject.vars.errors != '' %}has-error{% endif %}">
                    <label for="inputName" class="col-sm-6 control-label">{{ form_label(form.subject) }}</label>
                    <div class="col-sm-5">
                        {{ form_widget(form.subject) }}
                        <small class="help-block" style="color: red">{{ form.subject.vars.errors|replace({'ERROR: ' : ''}) }}</small>
                    </div>
                </div>

                {#<div class="form-group {% if form.description.vars.errors != '' %}has-error{% endif %}">
                    <div class="col-sm-12">
                        {{ form_widget(form.description) }}
                        <small class="help-block" style="color: red">{{ form.description.vars.errors|replace({'ERROR: ' : ''}) }}</small>
                    </div>
                </div>#}

                <div class="margin-bottom" style="font-size: 15px;">{{ 'administration.reports.body_popup'|trans() }}</div>
                <div style="font-size: 15px;">{{ 'administration.reports.body_comment_popup'|trans() }}</div>


                {#            {{ form_widget(form) }}#}
                {{ form_widget(form._token) }}
            </form>
        {% endif %}
    </div>
</div>