.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin-top: 2%;
    margin-left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.blog-content ul li::before, ul.styled li::before {

    content: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: black;
}
.select2-container {
    width: 100%;	
}

.rating, .ratingF{
    width: 226px;
    margin: 0 auto 1em;
    font-size: 35px;
    overflow:hidden;
}
.rating a{
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.ratingF a{
    float:right;
    color: orange;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;	
}
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;
}
.starActive{
    color: orange !important;;
    cursor: pointer;
}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}
div.tagsinput span.tag a {
    color: white;
}
div.tagsinput span.tag {
    color: white;
}
div.tagsinput span.tag {
    background: #0d58c8;
    color: white;
}