h1 { color: black; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }

h2 { color: black; font-family: 'Source Sans Pro', sans-serif; font-size: 28px; font-weight: 400; line-height: 32px; margin: 0 0 16px; }

h3 { font-size: 26px; font-weight: 300; color: #ffcc66; margin: 0 0 13px; }

h4 { color: #4c4a37; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 13px; font-weight:bold;  }

span { margin-left : 25px; margin-top: 0px; margin-bottom: 0px; }
.btn-website { background-color:#2b2b2b; color: white; font-size: 12px; }

.text-center { text-align: center; }