.col-lg-4 {
    margin-bottom: 15px;
}
span.select2{
    width:100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {

    color: black;
}
div.tagsinput input {
    width: 100%;
}
div.tagsinput span.tag a {
    color: white;
}
div.tagsinput span.tag {
    color: white;
}
div.tagsinput span.tag {
    background: #0d58c8;
    color: white;
}