{% extends "AppBundle::layout.html.twig" %}

{% block title %}
    {{ user.username }} - {{ 'global.edit'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/user/edit.css') }}" />
{% endblock %}
{% block au_body %}
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-md-3 left-feild">
                    <div class="be-vidget back-block">
                        <a class="btn full color-1 size-1 hover-1" href="{{ path('show_me', { 'id' : app.user.id })}}"><i class="fa fa-chevron-left"></i>{{'profile.back'|trans}}</a>
                    </div>
                    <div class="be-vidget hidden-xs hidden-sm" id="scrollspy">
                        <h3 class="letf-menu-article">
                            {{'profile.choose_section'|trans}}
                        </h3>
                        <div class="creative_filds_block">
                            <ul class="ul nav">
                                <li class="edit-ln"><a href="#basic-information">{{'profile.basic_information'|trans}}</a></li>
                                <li class="edit-ln"><a href="#on-the-web">{{'profile.on_the_web'|trans}}</a></li>
                                <li class="edit-ln"><a href="#about-me">{{'profile.about_my_art'|trans}}</a></li>
                            </ul>
                        </div>   
                    </div>

                </div>
                {{ form_start(form) }}
                <div class="col-xs-12 col-md-9 _editor-content_">
                    <div class="sec"  data-sec="basic-information">
                        <div class="be-large-post">
                            <div class="info-block style-2">
                                <div class="be-large-post-align "><h3 class="info-block-label">{{'profile.basic_information'|trans}}</h3></div>
                            </div>
                            <div class="be-large-post-align">

                                <div class="be-change-ava">
                                    <div class="col-md-6">
                                        <a class="be-ava-user style-2" style="margin-top: 20px;">
                                            {% if app.user.picture is not empty %}
                                                <img src="{{ asset('uploads/users/'~ app.user.id ~ '/' ~ app.user.picture) }}" alt="">
                                            {% else %}
                                                <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="">
                                            {% endif %} 
                                        </a>
                                        <span>
                                            <span class="btn btn-default btn-file" style="margin-right:2px; border:none;">
                                                {{'profile.replace_image'|trans}}{{ form_widget(form.picture) }}
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group center-text-align">
                                                {#                                            <span class="input-group-btn">#}
                                                <a class="be-ava-user style-2 ">
                                                    <span style="display:none;" class="preview_picture">{{ 'profile.preview' |trans}}</span>
                                                    <img id='img-upload' style="display: none;"/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12"><br /></div>
                            <div class="be-large-post-align">
                                <div class="row">
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.firstname, null, {'label_attr': {'class':'form-label' }}) }}

                                            {{ form_widget(form.firstname, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.firstname) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">
                                            {{ form_label(form.firstnameStatus, null, {'label_attr': {'class':'form-label' }}) }}

                                            {{ form_widget(form.firstnameStatus, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.firstnameStatus) }}
                                        </div>
                                    </div>                                 
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.lastname, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.lastname, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.lastname) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">

                                            {{ form_label(form.lastnameStatus, null, {'label_attr': {'class':'form-label' }}) }}

                                            {{ form_widget(form.lastnameStatus, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.lastnameStatus) }}
                                        </div>                                         
                                    </div>

                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.email, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.email, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.email) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">

                                            {{ form_label(form.emailStatus, null, {'label_attr': {'class':'form-label' }}) }}

                                            {{ form_widget(form.emailStatus, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.emailStatus) }}
                                        </div>                                         
                                    </div>

                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.gender, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.gender, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.gender) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">

                                            {{ form_label(form.genderStatus, null, {'label_attr': {'class':'form-label' }}) }}

                                            {{ form_widget(form.genderStatus, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.genderStatus) }}
                                        </div>                                         
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.bio, null, {'label_attr': {'class':'form-label' } }) }} ( {{ 'profile.status'|trans() }} : {{ 'users.Public'|trans() }} )
                                            {{ form_widget(form.bio) }}
                                            {{ form_errors(form.bio) }}
                                        </div>
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.birthday, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.birthday) }}
                                            {{ form_errors(form.birthday) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">

                                            {{ form_label(form.birthday_status, null, {'label_attr': {'class':'form-label' }}) }}

                                            {{ form_widget(form.birthday_status, { 'attr':  {
                                                'class': 'form-input',
                                            }}) }}
                                            {{ form_errors(form.birthday_status) }}
                                        </div>                                         
                                    </div>

                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.language, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.language) }}
                                            {{ form_errors(form.language) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">
                                            {{ form_label(form.acceptDonation, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.acceptDonation) }}
                                            {{ form_errors(form.acceptDonation) }}

                                        </div>                                         
                                    </div>

                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.street, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.street) }}
                                            {{ form_errors(form.street) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">
                                            {{ form_label(form.streetStatus, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.streetStatus) }}
                                            {{ form_errors(form.streetStatus) }}
                                        </div>                                         
                                    </div>

                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.postalCode, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.postalCode) }}
                                            {{ form_errors(form.postalCode) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">
                                            {{ form_label(form.postalCodeStatus, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.postalCodeStatus) }}
                                            {{ form_errors(form.postalCodeStatus) }}

                                        </div>                                         
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.city, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.city) }}
                                            {{ form_errors(form.city) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">
                                            {{ form_label(form.cityStatus, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.cityStatus) }}
                                            {{ form_errors(form.cityStatus) }}

                                        </div>
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.country, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.country) }}
                                            {{ form_errors(form.country) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12 col-sm-6">
                                        <div class="form-group focus-2">
                                            {{ form_label(form.countryStatus, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.countryStatus) }}
                                            {{ form_errors(form.countryStatus) }}

                                        </div>                                         
                                    </div>                                    

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec" data-sec="on-the-web">
                        <div class="be-large-post m-social">
                            <div class="info-block style-2">
                                <div class="be-large-post-align"><h3 class="info-block-label">{{'profile.on_the_web'|trans}}</h3></div>
                            </div>
                            <div class="be-large-post-align">
                                <div class="social-input form-group focus-2">
                                    <div class="s_icon">

                                        <span class="social-btn color-1"><i class="fa fa-facebook"></i></span>
                                    </div>
                                    <div class="s_input">
                                        {{ form_widget(form.facebook) }}
                                        {{ form_errors(form.facebook) }}
                                    </div>
                                </div>
                                <div class="social-input form-group focus-2">
                                    <div class="s_icon">

                                        <span class="social-btn color-2"><i class="fa fa-twitter"></i></span>
                                    </div>
                                    <div class="s_input">
                                        {{ form_widget(form.twitter) }}
                                        {{ form_errors(form.twitter) }}
                                    </div>
                                </div>
                                <div class="social-input form-group focus-2">
                                    <div class="s_icon">

                                        <span class="social-btn color-3"><i class="fa fa-google-plus"></i></span>
                                    </div>
                                    <div class="s_input">
                                        {{ form_widget(form.googlePlus) }}
                                        {{ form_errors(form.googlePlus) }}
                                    </div>
                                </div>
                                <div class="social-input form-group focus-2">
                                    <div class="s_icon">

                                        <span class="social-btn color-4"><i class="fa fa-pinterest-p"></i></span>
                                    </div>
                                    <div class="s_input">
                                        {{ form_widget(form.pinterest) }}
                                        {{ form_errors(form.pinterest) }}
                                    </div>
                                </div>
                                <div class="social-input form-group focus-2">
                                    <div class="s_icon">

                                        <span class="social-btn color-5"><i class="fa fa-instagram"></i></span>
                                    </div>
                                    <div class="s_input">
                                        {{ form_widget(form.instagram) }}
                                        {{ form_errors(form.instagram) }}
                                    </div>
                                </div>                                                                                                                  
                            </div>
                        </div>
                    </div>
                    <div class="sec"  data-sec="about-me" >
                        <div class="be-large-post">
                            <div class="info-block style-2">
                                <div class="be-large-post-align"><h3 class="info-block-label">{{'profile.about_my_art'|trans}}</h3></div>
                            </div>
                            <div class="be-large-post-align">
                                <div class="row">
                                    <div class="input-col col-lg-12">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.category, null, {'label_attr': {'class':'control-label' }}) }}
                                            {{ form_widget(form.category, { 'attr':  { 'class': 'form-control select2', }}) }}
                                            {{ form_errors(form.category) }}
                                        </div>
                                    </div>
                                    <div class="input-col col-lg-12">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.styles, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.styles) }}
                                            {{ form_errors(form.styles) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-lg-12">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.tools, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.tools) }}
                                            {{ form_errors(form.tools) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-lg-12">
                                        <div class="form-group fg_icon focus-2">
                                            {{ form_label(form.equipments, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.equipments) }}
                                            {{ form_errors(form.equipments) }}
                                        </div>                          
                                    </div>
                                    <div class="input-col col-xs-12">
                                        <div class="form-group focus-2">                                   
                                            {{ form_label(form.website, null, {'label_attr': {'class':'form-label' }}) }}
                                            {{ form_widget(form.website) }}
                                            {{ form_errors(form.website) }}
                                        </div>                              
                                    </div>      
                                </div>
                            </div>                      
                        </div>
                    </div>                                                                               
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <input type="submit" value="{{ 'global.validate'|trans() }}" class="btn btn-success" />
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        {{ form_end(form) }}
</div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

    <script src="{{ asset('assets/js/user/edit.js') }}"></script>
{% endblock %}