{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'users.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}
    <h1>{{ 'menu.artist_and_creativecraftsman'|trans() }}</h1>
    <div class="table-responsive">
        <table class = "table table-bordered" id="paginations">
            <thead>
                <tr>
                    <th>{{ 'global.username'|trans() }}</th>
                    <th>{{ 'global.language'|trans() }}</th>
                    <th>{{ 'global.location'|trans() }}</th>
                    <th>{{ 'global.array.actions'|trans() }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users if user.profiletype == 'public' %}
                    <tr>
                        <td><a href="{{ path('show_me', { 'id': user.id }) }}">{{ user.username }}</a></td>
                        <td>{{ user.language }}</td>
                        <td>{{ user.location }}</td>
                        <td>
                            <a href="{{ path('show_me', { 'id': user.id }) }}" class="btn btn-info">{{ 'global.show'|trans() }}</a>
                            {% if app.user.id == user.id %}
                                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-info">{{ 'global.edit'|trans() }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.1/jquery.dataTables.yadcf.min.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
    <script>
        var locale = {{ app.request.locale }};
    </script>
    <script src="{{ asset('assets/js/user/index.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/yadcf/0.9.1/jquery.dataTables.yadcf.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
{% endblock %}