{% extends "AppBundle::layout.html.twig" %}

{% block title %}
  {{ user.username }} - {{ 'global.parameters'|trans() }} - {{ parent() }}
{% endblock %}

{% block au_body %}

</style>
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-xs-12 col-md-3 left-feild">
                    <div class="be-vidget back-block">
                        <a class="btn full color-1 size-1 hover-1" href="{{ path('show_me', { 'id' : app.user.id })}}"><i class="fa fa-chevron-left"></i>{{'profile.back'|trans}}</a>
                    </div>
                    <div class="be-vidget hidden-xs hidden-sm" id="scrollspy">
                        <h3 class="letf-menu-article">
                            {{'profile.choose_section'|trans}}
                        </h3>
                        <div class="creative_filds_block">
                            <ul class="ul nav">
                                <li class="edit-ln"><a href="#edit-password">{{'profile.edit_password'|trans}}</a></li>
                            </ul>
                        </div>   
                    </div>

                </div>
                <div class="col-xs-12 col-md-9 _editor-content_">
                    <div class="sec"  data-sec="edit-password">
                        <div class="be-large-post">
                            <div class="info-block style-2">
                                <div class="be-large-post-align"><h3 class="info-block-label">{{'profile.password'|trans}}</h3></div>
                            </div>
                            <div class="be-large-post-align">
                                <div class="row">
                                    {{ render(controller('FOSUserBundle:ChangePassword:changePassword')) }}
                                                                          
                                </div>
                            </div>
                        </div>
                    </div>                                                                       
                </div>              
            </div>
        </div>
    </div>
{% endblock %}
