{% set relation =  app_user_services.getLinkUser(app.user, user) %}
{% set Friends = ['Friends', 'Subscribers', 'Public'] %}
{% set Subscribers = ['Subscribers', 'Public'] %}
{% set Public = ['Public'] %}

<style type="text/css">
    .profile-block { margin-top: 15px; }
    .profile-block h2 { font-size: 18px; width: 100%; text-align: center; margin-bottom: 8px; margin-top: 8px; }
    .profile-block h3 { font-size: 15px; }
</style>

{% if relation == 'Me' %}
    <div class="profile-block col-lg-12">
        {# ################################################################################ #}
        {# ################			Informations privées		########################## #}
        {# ################################################################################ #}
        <h2> {{'profile.basic_information'|trans}} </h2>
        <br />
        {% if user.firstname is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'profile.firstname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.firstname }}
            </div>
        {% endif %}
        {% if user.lastname is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'profile.lastname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.lastname }}
            </div>
        {% endif %}
        {% if user.email is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'contact.email'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.email }}
            </div>
        {% endif %}
        {% if user.birthday is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.birthday'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.birthday|date('d-m-Y') }}
            </div>
        {% endif %}
        {% if user.gender is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'profile.gender'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.gender|trans }}
            </div>
        {% endif %}
        {% if user.language is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'language'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.language }}
            </div>
        {% endif %}
        {% if user.street is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'profile.street'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.street }}
            </div>
        {% endif %}
        {% if user.postalCode is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'profile.postalCode'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.postalCode }}
            </div>
        {% endif %}
        {% if user.city is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'profile.city'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.city }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'profile.country'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.country }}
            </div>
        {% endif %}
        {# ################################################################################ #}
        {# ################			Informations sur l'art		########################## #}
        {# ################################################################################ #}
    </div>
    <div class="profile-block col-lg-12">
        <h2>{{'profile.about_my_art'|trans}}</h2>
        <br />
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.styles'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.styles }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.tools'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.tools }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.equipments'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.equipments }}
            </div>
        {% endif %}
    </div>                                  
{% elseif relation == 'Friends' %}
    <div class="profile-block col-lg-12">
        {# ################################################################################ #}
        {# ################			Informations privées		########################## #}
        {# ################################################################################ #}
        <h2> {{'profile.basic_information'|trans}} </h2>
        <br />
        {% if user.firstname is not empty and user.firstnameStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'profile.firstname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.firstname }}
            </div>
        {% endif %}
        {% if user.lastname is not empty and user.lastnameStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'profile.lastname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.lastname }}
            </div>
        {% endif %}
        {% if user.email is not empty and user.emailStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'contact.email'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.email }}
            </div>
        {% endif %}
        {% if user.birthday is not empty and user.firstnameStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'users.birthday'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.birthday|date('d-m-Y') }}
            </div>
        {% endif %}
        {% if user.gender is not empty and user.genderStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'profile.gender'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.gender|trans }}
            </div>
        {% endif %}
        {% if user.language is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'language'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.language }}
            </div>
        {% endif %}
        {% if user.street is not empty and user.streetStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'profile.street'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.street }}
            </div>
        {% endif %}
        {% if user.postalCode is not empty and user.postalCodeStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'profile.postalCode'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.postalCode }}
            </div>
        {% endif %}
        {% if user.city is not empty and user.cityStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'profile.city'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.city }}
            </div>
        {% endif %}
        {% if user.country is not empty and user.countryStatus in Friends %}
            <div class="col-lg-4">
                <h3> {{ 'profile.country'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.country }}
            </div>
        {% endif %}
        {# ################################################################################ #}
        {# ################			Informations sur l'art		########################## #}
        {# ################################################################################ #}
    </div>
    <div class="profile-block col-lg-12">
        <h2>{{'profile.about_my_art'|trans}}</h2>
        <br />
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.styles'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.styles }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.tools'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.tools }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.equipments'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.equipments }}
            </div>
        {% endif %}
    </div>                     

{% elseif relation == 'Subscribers' %}
    <div class="profile-block col-lg-12">
        {# ################################################################################ #}
        {# ################			Informations privées		########################## #}
        {# ################################################################################ #}
        <h2> {{'profile.basic_information'|trans}} </h2>
        <br />
        {% if user.firstname is not empty and user.firstnameStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'profile.firstname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.firstname }}
            </div>
        {% endif %}
        {% if user.lastname is not empty and user.lastnameStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'profile.lastname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.lastname }}
            </div>
        {% endif %}
        {% if user.email is not empty and user.emailStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'contact.email'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.email }}
            </div>
        {% endif %}
        {% if user.birthday is not empty and user.birthdayStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'users.birthday'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.birthday|date('d-m-Y') }}
            </div>
        {% endif %}
        {% if user.gender is not empty and user.genderStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'profile.gender'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.gender|trans }}
            </div>
        {% endif %}
        {% if user.language is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'language'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.language }}
            </div>
        {% endif %}
        {% if user.street is not empty and user.streetStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'profile.street'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.street }}
            </div>
        {% endif %}
        {% if user.postalCode is not empty and user.postalCodeStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'profile.postalCode'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.postalCode }}
            </div>
        {% endif %}
        {% if user.city is not empty and user.cityStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'profile.city'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.city }}
            </div>
        {% endif %}
        {% if user.country is not empty and user.countryStatus in Subscribers %}
            <div class="col-lg-4">
                <h3> {{ 'profile.country'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.country }}
            </div>
        {% endif %}
        {# ################################################################################ #}
        {# ################			Informations sur l'art		########################## #}
        {# ################################################################################ #}
    </div>
    <div class="profile-block col-lg-12">
        <h2>{{'profile.about_my_art'|trans}}</h2>
        <br />
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.styles'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.styles }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.tools'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.tools }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.equipments'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.equipments }}
            </div>
        {% endif %}
    </div>                     

{% else %}
    <div class="profile-block col-lg-12">
        {# ################################################################################ #}
        {# ################			Informations privées		########################## #}
        {# ################################################################################ #}
        <h2> {{'profile.basic_information'|trans}} </h2>
        <br />
        {% if user.firstname is not empty and user.firstnameStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'profile.firstname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.firstname }}
            </div>
        {% endif %}
        {% if user.lastname is not empty and user.lastnameStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'profile.lastname'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.lastname }}
            </div>
        {% endif %}
        {% if user.email is not empty and user.emailStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'contact.email'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.email }}
            </div>
        {% endif %}
        {% if user.birthday is not empty and user.firstnameStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'users.birthday'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.birthday|date('d-m-Y') }}
            </div>
        {% endif %}
        {% if user.gender is not empty and user.genderStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'profile.gender'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.gender|trans }}
            </div>
        {% endif %}
        {% if user.language is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'language'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.language }}
            </div>
        {% endif %}
        {% if user.street is not empty and user.streetStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'profile.street'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.street }}
            </div>
        {% endif %}
        {% if user.postalCode is not empty and user.postalCodeStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'profile.postalCode'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.postalCode }}
            </div>
        {% endif %}
        {% if user.city is not empty and user.cityStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'profile.city'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.city }}
            </div>
        {% endif %}
        {% if user.country is not empty and user.countryStatus in Public %}
            <div class="col-lg-4">
                <h3> {{ 'profile.country'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.country }}
            </div>
        {% endif %}
        {# ################################################################################ #}
        {# ################			Informations sur l'art		########################## #}
        {# ################################################################################ #}
    </div>
    <div class="profile-block col-lg-12">
        <h2>{{'profile.about_my_art'|trans}}</h2>
        <br />
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.styles'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.styles }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.tools'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.tools }}
            </div>
        {% endif %}
        {% if user.country is not empty %}
            <div class="col-lg-4">
                <h3> {{ 'users.equipments'|trans }} </h3>   
            </div>
            <div class="col-lg-8">
                {{ user.equipments }}
            </div>
        {% endif %}
    </div>                     
{% endif %}