{% extends "::layout2.html.twig" %}
{% block title %}
    {{ user.username }} - {{ parent() }}
{% endblock %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/user/show.css') }}" />
{% endblock %}

{% block body %}
    <div class="container be-detail-container">
        <div class="row">
            <div class="col-xs-12 col-md-4 left-feild">
                <div class="be-user-block style-3">
                    <div class="be-user-detail">
                        <a class="be-ava-user style-2" href="{{ path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) }}">
                            {% if user.picture is not empty %}
                                <img src="{{ 'uploads/users/'|imagine_filter('artistFilter')}}{{ user.id ~ '/' ~ user.picture }}" alt="">
                            {% else %}
                                <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="">
                            {% endif %}

                        </a>
                        <p>
                            {% if user.id == app.user.id %}
                                <a class="btn color-1 size-2 hover-1" href="{{ path('artwork_new') }}" style="margin:2px 2px;">
                                    <i class="fa fa-pencil"></i>{{ 'global.artwork.new'|trans}}
                                </a>
                            {% else %}
                                {% if app.user in user.followers %}
                                    <a class="btn color-1 size-2 hover-1 first_button ajax_unsubscribe" style="margin:2px 2px;">
                                        {{ 'profile.want_unsub'|trans}}
                                    </a>
                                {% else %}
                                    <a class="btn color-1 size-2 hover-1 first_button ajax_subscribe" style="margin:2px 2px;">
                                        {{ 'profile.want_sub'|trans}}
                                    </a>
                                {% endif %}
                                {% if app.user in user.friends %}
                                    <a class="btn color-1 size-2 hover-1 ajax_retrieve_friend" style="margin:2px 2px;">
                                        {{ 'profile.retrieve_friend'|trans}}
                                    </a>
                                {% elseif app.user in user.askingFriends or app.user in user.refuseFriends %}
                                    <a class="btn color-1 size-2 hover-1 ajax_retrieve_asking"  style="margin:2px 2px;">
                                        {{ 'profile.retrieve_pending'|trans}}
                                    </a>
                                {% else %}
                                    <a class="btn color-1 size-2 hover-1 ajax_ask_friend" style="margin:2px 2px;">
                                        {{ 'profile.ask_friend'|trans}}
                                    </a>
                                {% endif %}
                                <a class="btn color-9-5 size-3 hover-3 add-report-profil" data-id="{{ user.id }}" data-locale="{{ app.request.locale }}"
                                   style="margin-bottom: 15px;">{{ 'administration.reports.button.report_profil'|trans() }}</a>
                            {% endif %}
                        </p>

                        <p class="be-use-name">{{ user.username }}</p>
                        {% if user.location is not empty %}
                            <div class="be-user-info">
                                {{ user.location }}
                            </div>
                        {% endif %}
                        {# si il a ajouté des catégories de son profil #}
                            {% set categories = '' %}
                            {% for category in user.category %}
                                {% if category.name|length > 2 %}
                                    {% set categories = categories ~ category.name %}
                                    {% if not loop.last %} {% set categories = categories ~ ', ' %} {% endif %}
                                {% endif %}
                            {% endfor %}
                            <div class="profile_block">
                            {% if categories|length < 2 %}
                                {{ 'category.no_existing'| trans}}
                            {% else %}
                                {{ categories }}
                            {% endif %}
                            </div>
                        <div class="profile_block">
                        {% if user.facebook is empty and user.twitter is empty and user.googlePlus is empty and user.pinterest is empty and user.instagram is empty %}
                            {{ 'profile.no_social_network'|trans}}
                        {% else %}
                            {% if user.facebook is not empty %}
                                <a class="social-btn color-1" href="{{user.facebook}}" target="_blank"><i class="fa fa-facebook"></i></a>
                            {% endif %}
                            {% if user.twitter is not empty %}
                                <a class="social-btn color-2" href="{{user.twitter}}" target="_blank"><i class="fa fa-twitter"></i></a>
                            {% endif %}
                            {% if user.googlePlus is not empty %}
                                <a class="social-btn color-3" href="{{user.googlePlus}}" target="_blank"><i class="fa fa-google-plus"></i></a>
                            {% endif %}
                            {% if user.pinterest is not empty %}
                                <a class="social-btn color-4" href="{{user.pinterest}}" target="_blank"><i class="fa fa-pinterest-p"></i></a>
                            {% endif %}
                            {% if user.instagram is not empty %}
                                <a class="social-btn color-5" href="{{user.instagram}}" target="_blank"><i class="fa fa-instagram"></i></a>
                            {% endif %}
                        {% endif %}
                        </div>
                        <div class="profile_block">
                        {% if user.website is not empty %}
                            <a class="be-user-site" href="{{ user.website }}"><i class="fa fa-link"></i> {{ user.website }}</a>
                        {% else %}
                            {{ 'profile.no_website'|trans }}
                        {% endif%}
                        </div>
                    </div>
                    {{ render(controller('UserBundle:User:statistics',{'id':user.id})) }}
                </div>
                <div class="be-desc-block">
                    <div class="be-desc-author">
                        <div class="be-desc-label">A propos de moi</div>
                        <div class="clearfix"></div>
                        <div class="be-desc-text">
                            {{ user.bio }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="tab-wrapper style-1">
                    <div class="tab-nav-wrapper">
                        <div  class="nav-tab  clearfix">
                            <div class="nav-tab-item active">
                                <span>{{ 'global.user.profile.timeline'|trans}}</span>
                            </div>
                            <div class="nav-tab-item ">
                                <span>{{ 'global.user.profile.gallery'|trans}}</span>
                            </div>
                            <div class="nav-tab-item ">
                                <span>{{ 'global.user.profile.shop'|trans}}</span>
                            </div>
                            <div class="nav-tab-item ">
                                <span>{{ 'global.user.profile.profile'|trans}}</span>
                            </div>
                            <div class="nav-tab-item ">
                                <span>{{ 'global.user.profile.courses'|trans}}</span>
                            </div>
                            <div class="nav-tab-item ">
                                <span>{{ 'global.user.profile.wallet'|trans}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-content clearfix">
                        {# Actualités #}
                        <div class="tab-info active gallery-block">
                            {% if app.user == user%}
                                {{ render(controller('UserBundle:Activity:new')) }}
                            {% endif %}
                            <div class="custom-container gallery-container">
                                <div class="Activities" style="margin:1%"></div>
                                <div class='text-center drm'>
                                    <a href = '#read_more' onClick='printActivitiesUser()' class='btn btn-general read_more'> {{ 'Read_more'|trans}} </a>
                                </div>
                            </div>
                        </div>

                        {# Galerie #}
                        <div class="tab-info">
                            <div class="row">
                                {{ render(controller('ArtworkBundle:Artwork:Artworks',{'id':user.id})) }}
                            </div>
                        </div>

                        {# Boutique #}
                        <div class="tab-info">
                            {% if user.id == app.user.id %}
                                <div class="col-md-4 margBot">
                                    <a class="btn color-1 size-2 hover-1" href="{{ path('article_new') }}">
                                        <i class="fa fa-pencil"></i>{{ 'article.add_new'|trans}}
                                    </a>
                                </div>
                                <div class="col-md-4 col-md-offset-4 margBot alignR">
                                    <a class="btn color-1 size-2 hover-1" href="#">
                                        <i class="fa fa-list"></i> {{ 'article.my.commande'|trans}}
                                    </a>
                                </div>
                                <br>
                            {% endif %}
                            <div class="row padTB">
                                <div class="col-md-12 text-center">
                                    <div class="col-md-4">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </span>
                                            <input type="text" placeholder="TAGS" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>{{ 'article.categories'|trans }}</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control">
                                            <option>{{ 'article.filter'|trans }}</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6 alert alert-danger error_del_art" role="alert"></div>
                                <div class="col-md-6 alert alert-success del_art" role="alert"></div>
                            </div>
                            <div class="row refreshShop">
                                {{ render(controller('ShopBundle:Article:Articles',{'user_id':user.id})) }}
                            </div>
                        </div>

                        {# Profil #}
                        <div class="tab-info">
                            <div class="row">
                                {% if user.id == app.user.id %}
                                    <div class="center-text-align">
                                        <a class="btn color-1 size-2 hover-1" href="{{ path('user_edit', { 'id': user.id }) }}">
                                            <i class="fa fa-pencil-square-o"></i>{{ 'global.edit'|trans}}
                                        </a>
                                    </div>
                                {% endif %}
                                {% include 'user/profile.html.twig' %}
                            </div>
                        </div>

                        {# Cours #}
                        <div class="tab-info">
                            <div class="row">
                                {{ render(controller('LectureBundle:Lecture:myLectures',{'id':user.id})) }}
                            </div>
                        </div>

                         {# Portefeuille #}
                        <div class="tab-info">
                            <div class="row">
                                <div class="center-text-align">
                                    <a href="{{ payinLink }}"><button type="button" class="btn btn-general">Ajouter de l'argent</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var reporting = new Reporting({});
        reporting.init();
        $('#autre').hide();
        $('#acceptDonation').on('change', function () {
            if (this.value == 'autre') {
                $('#autre').show();
            } else {
                $('#autre').hide();
            }
        });
        var unsubscribe_text = "{{ 'profile.want_unsub'|trans}}";
        var subscribe_text = "{{ 'profile.want_sub'|trans}}";
        var askFriend_text = "{{ 'profile.ask_friend'|trans}}";
        var pending_text = "{{ 'profile.retrieve_pending'|trans}}";
        var retrieveFriend_text = "{{ 'profile.retrieve_friend'|trans}}";
        var error = "{{ 'global.error'|trans() }}";
        var locale = "{{ app.request.locale }}";
        var title_report = "Report";
        var url_subscribe = "{{ path('user_subscribing') }}";
        var url_unsubscribe = "{{ path('user_unsubscribing') }}";
        var url_askFriend = "{{ path('user_asking_friend') }}";
        var url_acceptFriend = "{{ path('user_accept_friend') }}";
        var url_refuseFriend = "{{ path('user_refuse_friend') }}";
        var url_retrieveFriend = "{{ path('user_retrieve_friend') }}";
        var url_retrieveAskingFriend = "{{ path('user_retrieve_asking_friend') }}";
        var url = "{{ path('get_activity_general_ajax') }}";
        var url_vote = "{{ path('post_like') }}";
        var delete_activity = "{{ 'global.remove_activity'|trans() }}";
        var show_more = "{{ 'global.show_more'|trans() }}";
        var edited = "{{ 'edited'|trans() }}";
        var edit = "{{ 'global.edit'|trans() }}";
        var add_comments = "{{ 'global.add_comments'|trans() }}";
        var send = "{{ 'global.send'|trans() }}";
        var global_error = "{{ 'global.error'|trans() }}";
        var show_more_comment = "{{ 'show_more_comment'|trans() }}";
        var show_less_comment = "{{ 'show_less_comment'|trans() }}";
        var limit_publication = "{{ 'limit_publication'|trans() }}";
        var limit_publication_characters_still = "{{ 'limit_publication_characters_still'|trans() }}";
        var user_id
                = "{{ user.id }}";
        var this_user = "{{ app.user.id }}";
        var positionActivity = 0;
        var numberActivity = 24;
        $(document).ready(function () {
            printActivitiesUser();
        });
    </script>
    <script src="{{ asset('assets/js/timeline.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.maxlength.js') }}"></script>
    <script src="{{ asset('assets/js/profile.js') }}"></script>
    <script src="{{ asset('assets/js/user/shop.js') }}"></script>
{% endblock %}