{% extends "::layout_admin.html.twig" %}
{% block title %}
  {{ 'admninistration.page.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container be-detail-container">
        <h1>{{ 'administration.page.subtitle'|trans() }}</h1>

        <div class="table-responsive">
            <table class = "table table-bordered " id="pagination">
                <thead>
                    <tr>
                        <th>{{ 'global.array.ref'|trans() }}</th>
                        <th>{{ 'global.title'|trans() }}</th>
                        <th>{{ 'global.title'|trans() }} (En)</th>
                        <th>{{ 'global.array.text'|trans() }}</th>
                        <th>{{ 'global.array.text'|trans() }} (En)</th>
                        <th>{{ 'global.array.actions'|trans() }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td><a href="{{ path('admin_page_show', { 'id': page.id }) }}">{{ page.id }}</a></td>
                        <td>{{ page.name }}</td>
                        <td>{{ page.nameEn }}</td>
                        <td>{{ page.text|raw }}</td>
                        <td>{{ page.textEn|raw }}</td>
                        <td>
                            <a href="{{ path('admin_page_edit', { 'id': page.id }) }}" class="btn btn-info">{{ 'global.edit'|trans() }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('admin_page_new') }}" class="btn btn-info">{{ 'global.new'|trans() }}</a>
    </div>
{% endblock %}
