{% extends "AppBundle::layout.html.twig" %}
{% block title %}
  Administration Page - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container be-detail-container">
        <h1>Page</h1>

        <table>
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ page.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ page.name }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ page.text }}</td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
            </li>
            <li>
                <a href="{{ path('admin_page_edit', { 'id': page.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
