{% extends "::layout_admin.html.twig" %}
{% block title %}
  Administration Page - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container be-detail-container">
        <h1>{{ 'global.privacy_policy'|trans() }}</h1>

        {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="form-group clearfix">

                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.text, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.text) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.text, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required'
                        }}) }}
                    </div>


                    <div class="col-lg-2 col-md-4">
                        {{ form_label(form.textEn, null, {'label_attr': {'class':'control-label' }}) }}
                    </div>
                    {{ form_errors(form.textEn) }}
                    <div class="col-lg-12 col-md-12 noPadLeft">
                        {{ form_widget(form.textEn, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required'
                        }}) }}
                    </div>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-success" value="Enregistrer" />
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" >{{ 'global.back'|trans() }}</a>
            </div>
        {{ form_end(form)}}
    </div>
{% endblock %}
