<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ 'text_about'|trans() }}">
    <meta name="author" content="Fadyl BELLO">
    <meta name="keyword" content="Gestion, Projet, Artsiia, Artsia, Art, Réseau social, boutique, visibilité, Collaboration">
    <link rel="icon" type="image/png" href="{{ asset('assets/img/favicon.ico') }}">

	<title>{% block title %}{{ 'global.website_name'|trans() }}{% endblock %}</title>

	{% block stylesheets %}
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ asset('assets/cookie-law-popup/css/jquery-eu-cookie-law-popup.css') }}">
		<link rel="stylesheet" href="{{ asset('themeforest/style/bootstrap.min.css')}}">
			<link rel="stylesheet" href="{{ asset('themeforest/style/icon.css')}}">
		<link rel="stylesheet" href="{{ asset('themeforest/style/jquery-ui.css')}}">
		<link rel="stylesheet" href="{{ asset('themeforest/style/stylesheet.css')}}">

		<style type="text/css">body {font-family: "Exo 2", Arial, Helvetica, sans-serif; font-size: 15px;}</style>             
		<link href="{{ asset('forum/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}" rel="stylesheet">
		<link href="{{ asset('forum/stylesheet.css') }}" rel="stylesheet">
		<link href="{{ asset('forum/style.css') }}" rel="stylesheet">
		<link href="{{ asset('forum/stylesheet.css') }}" rel="stylesheet">
		<link href="{{ asset('forum/colours_dark.css') }}" rel="stylesheet">
		<link href="{{ asset('forum/Titanium.css') }}" rel="stylesheet" class="preset_stylesheet">
	{% endblock %}
</head>

<header>
    <div class="container-fluid custom-container">
        <div class="row no_row row-header">
            <div class="brand-be">
                <a href="{{ path('au_homepage') }}">
                    <img class="logo-c active be_logo" src="{{ asset('themeforest/img/img-header.png') }}" style="margin-top:-15px" alt="logo">
                </a>
            </div>
            <div class="header-menu-block">
                <button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>
                <ul class="header-menu" id="one">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('timeline_index') }}">{{ 'global.timeline'|trans() }}</a></li>
                    {% endif %}
                    <li><a href="{{ path('au_homepage') }}">{{ 'discover'|trans() }}</a></li>
                    <!-- <li><a href="search.html"></a
                        <ul>
                            <li><a href="search.html">Explore</a></li>
                            <li><a href="people.html">People</a></li>
                            <li><a href="gallery.html">Galleries</a></li>
                        </ul>
                    </li> -->
                    <li><a href="{{ path('lecture_category_index') }}">{{ 'lecture.title'|trans() }}</a></li>
                    <li><a href=""> {{'Community'|trans}}</a>
                        <ul style="background-color: black">
                            <li><a href="{{ path('people_index') }}">{{ 'artists'|trans() }}</a></li>
                            <li><a href="{{ path('forum_index') }}">{{ 'forum.title'|trans() }}</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('shop_index') }}">{{ 'shop'|trans() }}</a></li>

                    <!-- <li id="ad-work-li"><a id="add-work-btn" class="btn color-1" href="work.html">Add Work </a></li> -->
                </ul>
            </div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                <div class="login-header-block">
                    <div class="login_block">
                        <a class="btn color-1 size-2 hover-2" href="{{ path('fos_user_security_login') }}"><i class="fa fa-user"></i>
                            {{ 'global.sign_in'|trans() }}</a>
                    </div>
                </div>
            {% else %}
                <div class="login-header-block">
                    <div class="login_block">
                        <a class="notofications-popup" href="page1.html">
                            <i class="fa fa-bell-o"></i>
                            {############################ Mettre le nb de notif non lu #########}
                            <span class="noto-count">0</span>
                        </a>
                        <div class="noto-popup notofications-block">
                            <div class="m-close"><i class="fa fa-times"></i></div>
                            <div class="noto-label">Notifications</div>
                            <div class="noto-body">

                                {########## Début de la boucle avec les notifications non lu #########}
                                <div class="noto-entry">
                                    <div class="noto-content clearfix">
                                        <div class="noto-img">
                                            {# Lien de l'artiste lié à la notification #}
                                            <a href="#">
                                                {# image de l'artiste lié à la notification #}
                                                <img src="#" alt="" class="be-ava-comment">
                                            </a>
                                        </div>
                                        <div class="noto-text">
                                            <div class="noto-text-top">
                                                {# Lien de l'artiste et pseudo lié à la notification #}
                                                <span class="noto-name"><a href="#">XXXXX</a></span>
                                                {# Date de la notification #}
                                                <span class="noto-date"><i class="fa fa-clock-o"></i> XX/XX MM:DD</span>
                                            </div>
                                            {# text de la notification #} XXX
                                        </div>
                                    </div>
                                </div>
                                {# Fin de la boucle #}
                            </div>
                        </div>
                        <a class="messages-popup" href="#">
                            <i class="fa fa-envelope-o"></i>
                            {############################ Mettre le nb de msg non lu #########}
                            <span class="noto-count messageCount">0</span>
                        </a>
                        <div class="noto-popup messages-block">
                            <div class="m-close"><i class="fa fa-times"></i></div>
                            <div class="noto-label">Messages <span class="noto-label-links"><a href="{{ path('tchat_new') }}">{{ 'global.new'|trans() }}</a><a
                                            href="{{ path('tchat_list') }}">{{ 'see_all'|trans() }}</a></span></div>
                            <div class="noto-body dernierMessage">
                                {########## Début de la boucle avec les notifications non lu #########}
                                <div class="noto-entry style-2">
                                    <div class="noto-content clearfix">
                                        <div class="noto-text">
                                            <div class="noto-message">Aucun message reçu</div>
                                        </div>
                                    </div>
                                </div>
                                {# FIN #}
                            </div>
                        </div>
                        <a class="messages-popup" href="#">
                            <span class="noto-count noto-count-big">0,00 €</span>
                        </a>
                        <div class="be-drop-down login-user-down">
                            {% if app.user.picture is null %}
                                <img class="login-user" src="{{ asset('assets/img/logo.png') }}" alt="" width="40px" class="img-circle">
                            {% else %}
                                <img class="login-user" src="{{ asset('uploads/users/'~ app.user.id ~ '/' ~ app.user.picture) }}" alt="" width="40px" class="img-circle">
                            {% endif %}
                                <span class="be-dropdown-content"></span>
                                <div class="drop-down-list a-list">
                                    <a href="{{ path('show_me', { 'id' : app.user.id}) }}">{{ 'global.my_account'|trans() }}</a>
                                    <a href="{{ path('user_parameters', { 'id' : app.user.id}) }}">{{ 'settings'|trans() }}</a>
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'logout'|trans }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</header>
<body id="phpbb" class="notouch section-index ltr body-layout-Boxed content_block_header_block dark_base navbar_i_header eupopup eupopup-bottom">
	{% block body %}

	{% endblock %}
<footer>
    <div class="footer-main">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-md-3 col-xl-4">
                    <div class="footer-block">
                        <h1 class="footer-title">{{ 'about'|trans() }}</h1>
                        <p class="text-justify">{{ 'text_about'|trans() }}</p>
                        <ul class="soc_buttons">
                            <li><a href="https://facebook.com/artsiia"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/artsiia"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/artsiia/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-xl-2">
                    <div class="footer-block">
                        <h1 class="footer-title">{{ 'some_links'|trans() }}</h1>
                        <div class="row footer-list-footer">
                            <div class="col-md-6">
                                <ul class="link-list">
                                    <li><a href="{{ path('au_about') }}">{{ 'about'|trans() }}</a></li>
                                    <li><a href="{{ path('au_help') }}">{{ 'help'|trans() }}</a></li>
                                    <li><a href="{{ path('contact_new') }}">{{ 'menu.Contact'|trans() }}</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="link-list">
                                    <li><a href="{{ path('timeline_index') }}">{{ 'news'|trans() }}</a></li>
                                    <li><a href="#">{{ 'artists'|trans() }}</a></li>
                                    <li><a href="{{ path('faq_all') }}">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 galerry">
                    <div class="footer-block">
                        <h1 class="footer-title">{{ 'recent_articles'|trans() }}</h1>
                        {{ render(controller('AdminBundle:Article:layout')) }}
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-block">
                        <h1 class="footer-title">{{ 'global.language'|trans() }}s</h1>
                        <div class="soc-activity">

                            <a class="btn color-7 size-2 hover-9" href="{{ path('forum_index', {'_locale' : 'fr'}) }}">FR</a>
                            <a class="btn color-7 size-2 hover-9" href="{{ path('forum_index', {'_locale' : 'en'}) }}">EN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container-fluid custom-container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                    <div class="col-md-12">
                        Admin :
                        <a class="btn color-7 size-2 hover-9" href="{{ path('contact_index') }}">Les messages</a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('admin_page_index') }}">Pages Administratives</a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('admin_poll_index') }}">Les sondages</a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('category_index') }} "> Les catégories de cours </a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('lecture_index') }} "> Les cours</a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('admin_privacy_policy_edit') }} "> Politique de confidentialité </a>>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('admin_disclaimer_edit') }} "> Mentions légales</a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('faq_index') }} "> FAQ</a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('contact_index') }} "> Contact</a>
                        <a class="btn color-7 size-2 hover-9" href="{{ path('subject_index') }} "> Sujets de contact</a>
                    </div>
                {% endif %}
            {% endif %}


            <div class="col-md-12 footer-end clearfix">
                <div class="left">
                    <span class="copy">© 2017 {{ 'global.footer'|trans() }}. <span class="white"><a href="/"> Artsiia</a></span></span>
                </div>
                <div class="right">
                    <a class="btn color-7 size-2 hover-9" href="#" data-toggle="modal" data-target="#privacyPolicy">{{ 'global.privacy_policy'|trans() }}</a>
                    <a class="btn color-7 size-2 hover-9" href="#" data-toggle="modal" data-target="#disclaimer">{{ 'global.disclaimer'|trans() }}</a>
                </div>
            </div>
        </div>
    </div>
</footer>


{% block javascripts %}
    <!-- SCRIPTS	 -->
    <script type="text/javascript">
        var title_cookie = '{{ "title_cookie"|trans }}';
        var message_cookie = '{{ "message_cookie"|trans }}';
        var button_cookie = '{{ "button_cookie"|trans }}';
    </script>
    <script src="{{ asset('themeforest/script/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js//bootbox.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/idangerous.swiper.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/jquery.mixitup.js') }}"></script>
    <script src="{{ asset('themeforest/script/jquery.viewportchecker.min.js') }}"></script>
    <script src="{{ asset('themeforest/script/filters.js') }}"></script>
    <script src="{{ asset('themeforest/script/global.js') }}"></script>
    <script src="{{ asset('bundles/artwork/js/artwork.js') }}"></script>
    <script src="{{ asset('assets/js/reporting.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('assets/js/pnotify.custom.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/Notify.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/cookie-law-popup/js/jquery-eu-cookie-law-popup.js') }}"></script>

    <script>
        $(".alert").delay(3200).fadeOut(3000);
            var data = [];
            {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
            data[data.length] = ["{{ type }}", "{{ message }}"];
            {% endfor %}
            {% endfor %}
            for (var i = 0; i < data.length; i++) {
                Notify(data[i][1], null, null, data[i][0]);
            }
    </script>


{% endblock %}
{{ render(controller('AppBundle:Default:LegalAgreement')) }}
</body>