{% extends "ForumBundle::layout.html.twig" %}
{% block title %}
  {{ 'forum.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}

<div class="head-bg">
    <br />
</div>
<div id="wrap" class="wrap" style="padding-top: 18px;">
                  
    <div id="inner-wrap">     
        <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
            <li class="breadcrumbs" style="max-width: 1125px;">
                <span class="crumb">
                    <a href="{{ path('forum_index') }}">
                        <i class="icon fa-home fa-fw"></i>
                        <span itemprop="title">{{'global.array.home'|trans }}</span>
                    </a>
                </span>  
                &nbsp;/
                <span itemprop="title">
                    {% if app.request.get('_locale') == 'fr' %}
                        <a href="{{path('forum_show', { 'slug': room.forum.slug }) }}">
                        <span itemprop="title">{{room.forum.title}}</span>
                    {% else %}
                        <a href="{{path('forum_show', { 'slug': room.forum.slugEn }) }}">
                        <span itemprop="title">{{room.forum.titleEn}}</span>
                    {% endif %}
                    </a>
                </span>
                &nbsp;/
                <span itemprop="title">
                    {% if app.request.get('_locale') == 'fr' %}
                        <a href="{{path('room_show', { 'slug': room.slug }) }}">
                        <span itemprop="title">{{room.title}}</span>
                    {% else %}
                        <a href="{{path('room_show_en', { 'slug': room.slugEn }) }}">
                        <span itemprop="title">{{room.titleEn}}</span>
                    {% endif %}
                    </a>
                </span>
            </li>
        </ul> 
        {{ form_start(form)}}
        <div class="panel" id="postingbox">
			<div class="inner">
				<h3>{{'forum.publish_new_topic'|trans}}</h3>
				<fieldset class="fields1">
					<dl style="clear: left;">
						<dt>
							{{ form_label(form.title, null) }} :
							{{ form_errors(form.title) }}
						</dt>
						<dd>
							{{ form_widget(form.title, { 'attr':  {
		                        'class': 'inputbox autowidth',
		                        'size' : '45',
		                        'maxlength' : '120'
		                    }}) }}   
						</dd>

						<dt>
							{{ form_label(form.language, null) }}
							{{ form_errors(form.language) }}
						</dt>
						<dd>
							{{ form_widget(form.language)}}   
						</dd>

						<dt>
							{{ form_label(form.text, null) }}
							{{ form_errors(form.text) }}
						</dt>
						<dd>
							{{ form_widget(form.text)}}   
						</dd>

					</dl>
				</fieldset>
				<div class="text-center clearfix">
		        	<br />
		            <input type="submit" class="btn btn-success" value="{{ 'global.send'|trans() }}" />
		            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
		        </div>
			</div>
		</div>
		{{ form_end(form)}}
    </div>
</div>
{% endblock %}