{% extends "ForumBundle::layout.html.twig" %}
{% block title %}
  {{ 'forum.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}

<div class="head-bg">
    <br />
</div>
<div id="wrap" class="wrap" style="padding-top: 18px;">                 
    <div id="inner-wrap">     
        <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
            <li class="breadcrumbs" style="max-width: 1125px;">
                <span class="crumb">
                    <a href="{{ path('forum_index') }}">
                        <i class="icon fa-home fa-fw"></i>
                        <span itemprop="title">{{'global.array.home'|trans }}</span>
                    </a>
                </span>  
                &nbsp;/
                <span itemprop="title">
                    {% if app.request.get('_locale') == 'fr' %}
                        <a href="{{path('forum_show', { 'slug': topic.room.forum.slug }) }}">
                        <span itemprop="title">{{topic.room.forum.title}}</span>
                    {% else %}
                        <a href="{{path('forum_show', { 'slug': topic.room.forum.slugEn }) }}">
                        <span itemprop="title">{{topic.room.forum.titleEn}}</span>
                    {% endif %}
                    </a>
                </span>
                &nbsp;/
                <span itemprop="title">
                    {% if app.request.get('_locale') == 'fr' %}
                        <a href="{{path('room_show', { 'slug': topic.room.slug }) }}">
                        <span itemprop="title">{{topic.room.title}}</span>
                    {% else %}
                        <a href="{{path('room_show_en', { 'slug': topic.room.slugEn }) }}">
                        <span itemprop="title">{{topic.room.titleEn}}</span>
                    {% endif %}
                    </a>
                </span>
            </li>
        </ul>
        <span id="head-topic"></span>
        <a href="#answer-topic" class="button specialbutton" title="Répondre">
            <span>Répondre</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
        </a>

        <div class="dropdown-container dropdown-button-control topic-tools dropdown-right dropdown-down">
            <span title="Outils du sujet" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                <i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
                <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
            </span>
            <div class="dropdown" style="display: none; margin-right: -1559.52px;">
                <div class="pointer"><div class="pointer-inner"></div></div>
                <ul class="dropdown-contents dropdown-nonscroll" style="margin-left: 0px; left: 0px; max-width: 1329px;">
                    <li>
                        <a href="#" class="watch-topic-link" title="Se désabonner du sujet">
                            <i class="icon fa-square-o fa-fw" aria-hidden="true"></i><span>Se désabonner du sujet</span>
                        </a>
                    </li>                              
                </ul>
            </div>
        </div>
        <div class="pagination">
            {% if answers|length > 0 %}
                {{ answers|length }} 
                {% if answers|length == 1%}{{'forum.answer'|trans}}{% else %}{{'forum.answers'|trans}}{% endif %} 
            {% else %}
                {{'forum.no_answer'|trans}}
            {% endif %}
            • {{'pagination.page'|trans}} <strong>{{ page }} </strong> {{'pagination.on'|trans}} <strong> {{total_page}}</strong>
        </div>

        <div class="viewtopic_wrapper">
            <div id="p2" class="post has-profile bg2 unreadpost warned">
                <div class="inner">
                    <dl class="postprofile" id="profile2">
                        <dt class="no-profile-rank no-avatar">
                            <div class="avatar-container">
                            </div>
                            <a href="{{ path('show_me', { 'id': topic.writers[0].id})}}" class="username">{{ topic.writers[0].username}}</a>                             
                        </dt>        
                        <dd class="profile-posts">
                            <strong>Messages :</strong> <a href="#">10</a>
                        </dd>     
                        <dd class="profile-contact">
                            <strong>Contact :</strong>
                            <a href="#" class="dropdown-trigger dropdown-toggle" title="Contacter l'utilisateur">
                                <i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">Contacter l'utilisateur</span>
                            </a>
                        </dd>
                    </dl>
                    <div class="postbody"> 
                        <div id="post_content2">
                            <h3 class="first">{{topic.title}}</h3>
                            <ul class="post-buttons">
                                {% if app.user == topic.writers[0] or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                    <li>
                                        <a href="#" title="Éditer le message" class="button button-icon-only">
                                            <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">Éditer</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" title="Supprimer le message" class="button button-icon-only">
                                            <i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">Supprimer le message</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" title="Avertir l’utilisateur" class="button button-icon-only">
                                            <i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">Avertir l’utilisateur</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li>                                                                                       
                                    <a href="#" title="Rapporter le message" class="button button-icon-only">
                                        <i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">Rapporter le message</span>
                                    </a>
                                </li>                                       
                            </ul>
                            <p class="author">
                                <!--<i class="icon fa-circle fa-fw icon-red icon-md" aria-hidden="true"></i>-->
                                <span class="sr-only">Message non lu</span>  
                                <a class="unread" href="#" title="Message non lu"><i class="icon fa-clock-o"></i> {{topic.dateOpening|date('d-m-Y H:i')}}</a>
                            </p> 
                            <div class="content">{{topic.text|raw}}</div>         
                        </div>
                    </div>

                    <div class="back2top">
                        <a href="#head-topic" class="top" title="Haut">
                            <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                            <span class="sr-only">Haut</span>
                        </a>
                    </div>
                </div>
            </div>

            {% for answer in answers %}
                <div id="p2" class="post has-profile bg2 unreadpost warned">
                    <div class="inner">
                        <dl class="postprofile" id="profile2">
                            <dt class="no-profile-rank no-avatar">
                                <div class="avatar-container">
                                </div>
                                <a href="path('show_me', {'id' : answer.writer.id }) }}" class="username">{{answer.writer.username}}</a>                             
                            </dt>        
                            <dd class="profile-posts">
                                <strong>Messages :</strong> 10 </a>
                            </dd>     
                            <dd class="profile-contact">
                                <strong>Contact :</strong>
                                <a href="#" class="dropdown-trigger dropdown-toggle" title="Contacter l'utilisateur">
                                    <i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">Contacter l'utilisateur</span>
                                </a>
                            </dd>
                        </dl>
                        <div class="postbody"> 
                            <div id="post_content2">
                                <h3 class="first">{{topic.title}}</h3>
                                <ul class="post-buttons">
                                    {% if app.user == topic.writers[0] or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                                        <li>
                                            <a href="#" title="Éditer le message" class="button button-icon-only">
                                                <i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">Éditer</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="Supprimer le message" class="button button-icon-only">
                                                <i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">Supprimer le message</span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#" title="Avertir l’utilisateur" class="button button-icon-only">
                                                <i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">Avertir l’utilisateur</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>                                                                                       
                                        <a href="#" title="Rapporter le message" class="button button-icon-only">
                                            <i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">Rapporter le message</span>
                                        </a>
                                    </li>                                       
                                </ul>
                                <p class="author">
                                    <!--<i class="icon fa-circle fa-fw icon-red icon-md" aria-hidden="true"></i>-->
                                    <span class="sr-only">Message non lu</span>  
                                    <a class="unread" href="#" title="Message non lu"><i class="icon fa-clock-o"></i> {{answer.dateOpening|date('d-m-Y H:i')}}</a>
                                </p> 
                                <div class="content">{{answer.text|raw}}</div>         
                            </div>
                        </div>

                        <div class="back2top">
                            <a href="#head-topic" class="top" title="Haut">
                                <i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
                                <span class="sr-only">Haut</span>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="action-bar bar-bottom">
            <div class="dropdown-container dropdown-button-control topic-tools">
                <span title="Outils du sujet" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                    <i class="icon fa-wrench fa-fw" aria-hidden="true"></i>
                    <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
                </span>
                <div class="dropdown" style="display: none; margin-right: -1559.52px;">
                    <div class="pointer"><div class="pointer-inner"></div></div>
                    <ul class="dropdown-contents dropdown-nonscroll" style="margin-left: 0px; left: 0px; max-width: 1329px;">
                        <li>
                            <a href="#" class="watch-topic-link" title="Se désabonner du sujet">
                                <i class="icon fa-square-o fa-fw" aria-hidden="true"></i><span>Se désabonner du sujet</span>
                            </a>
                        </li>                              
                    </ul>
                </div>
            </div>

            {% if app.user == topic.writers[0] or 'ROLE_SUPER_ADMIN' in app.user.roles %}
                <div class="quickmod dropdown-container dropdown-container-left dropdown-up dropdown-right dropdown-button-control" id="quickmod">
                    <span title="Outils de modération rapide" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
                        <i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span class="sr-only">Outils de modération rapide</span>
                        <span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
                    </span>
                    <div class="dropdown">
                        <ul class="dropdown-contents">
                            <li><a href="#" data-ajax="true" data-refresh="true">Verrouiller le sujet</a></li>
                            <li><a href="#" data-ajax="true" data-refresh="true">Supprimer le sujet</a></li>
                            <li><a href="#">Déplacer le sujet</a></li>
                            <li><a href="#" data-ajax="true" data-refresh="true">Epingler</a></li>
                         </ul>
                    </div>
                </div>
            {% endif %}
            <div class="pagination">
                {% if answers|length > 0 %}
                    {{ answers|length }} 
                    {% if answers|length == 1%}{{'forum.answer'|trans}}{% else %}{{'forum.answers'|trans}}{% endif %} 
                {% else %}
                    {{'forum.no_answer'|trans}}
                {% endif %}
                • {{'pagination.page'|trans}} <strong>{{ page }} </strong> {{'pagination.on'|trans}} <strong> {{total_page}}</strong>
            </div>

            <span id="answer-topic"></span>
            {{ form_start(form)}}
                <div class="panel" id="postingbox">
                    <div class="inner">
                        <h3>{{'forum.publish_new_response'|trans}}</h3>
                        <fieldset class="fields1">
                            <dl style="clear: left;">
                                <dt>
                                    {{ form_label(form.text, null) }}
                                    {{ form_errors(form.text) }}
                                </dt>
                                <dd>
                                    {{ form_widget(form.text)}}   
                                </dd>

                            </dl>
                        </fieldset>
                        <div class="text-center clearfix">
                            <br />
                            <input type="submit" class="btn btn-success" value="{{ 'global.send'|trans() }}" />
                            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
                        </div>
                    </div>
                </div>
            {{ form_end(form)}}
        </div>
    </div>
</div>

{% endblock %}