{% extends "::layout_admin.html.twig" %}
{% block title %}
  Les sous catégories - {{ parent() }}
{% endblock %}

{% block body %}
<style>

    #pagination td, tr, th {
     border: 1px solid #ddd !important;
    background: transparent !important ;
    }

    
</style>
    <div class="container be-detail-container">
        
        <h1>Liste des sous catégories</h1>
        <div class="table-responsive">
            <table class = "table table-bordered " id="pagination">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Catégorie</th>
                        <th>Cover</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for subcategory in subCategories %}
                    <tr>
                        <td><a href="{{ path('category_show', { 'id': subcategory.id }) }}">{{ subcategory.id }}</a></td>
                        <td>{{ subcategory.name }}</td>
                        <td>{{ subcategory.category.name }}</td>
                        <td><img src="{{ asset('uploads/subcategory/'~subcategory.cover) }}" width="90px"></td>
                        <td>{{ subcategory.description|raw }}</td>
                        <td>
                            <ul>
                                {#<li>#}
                                    {#<a href="{{ path('c', { 'id': category.id }) }}">{{ 'global.show'|trans() }}</a>#}
                                {#</li>#}
                                <li>
                                    <a href="{{ path('subcategory_edit', { 'id': subcategory.id }) }}">{{ 'global.edit'|trans() }}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <a href="{{ path('subcategory_new') }}" class="btn btn-success" >{{ 'global.new'|trans() }}</a>
        <a href="{{ path('category_index') }}" class="btn btn-danger">{{ 'global.back'|trans() }}</a>
    </div>

{% endblock %}
