<div class="row">
    <div class="col-xs-12">
        <p class="center-text-align"><h4 class="center-text-align">{{ 'global.add_role'|trans() }} <br><br></h4></p>
        <form class="add-role-user-form" name="role" method="post" action="{{ path('admin_roles_management_add_role', {'id': user.id}) }}">
            <h3 style="margin-top: 10px;">{{'administration.roles.current_roles'|trans()}} : </h3>
            <div style="margin-left: 50px;margin-bottom: 30px;margin-top: 5px;">
                {% for role in user.roles %}
                    <div class="roles-user">- {{ role }}</div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <h4>{{ user.username|capitalize}}</h4>
            </div>
            <div class="form-group col-md-8">
                <select name="roles_management_add_role" class="form-input" style="color: black; border: 1px solid black;">
                    {% if not('ROLE_ADMIN_REPORT' in user.roles)  %}<option value="ROLE_ADMIN_REPORT">ROLE_ADMIN_REPORT</option>{% endif %}
                    {% if not('ROLE_ADMIN_SHOP' in user.roles)  %}<option value="ROLE_ADMIN_SHOP">ROLE_ADMIN_SHOP</option>{% endif %}
                    {% if not('ROLE_SUPER_ADMIN' in user.roles)  %}<option value="ROLE_SUPER_ADMIN">ROLE_SUPER_ADMIN</option>{% endif %}
                    {% if not('ROLE_MODERATEUR_REPORT' in user.roles)  %}<option value="ROLE_MODERATEUR_REPORT">ROLE_MODERATEUR_REPORT</option>{% endif %}
                    {% if not('ROLE_MODERATEUR_SHOP' in user.roles)  %}<option value="ROLE_MODERATEUR_SHOP">ROLE_MODERATEUR_SHOP</option>{% endif %}
                    {% if not('ROLE_SUPER_MODERATEUR' in user.roles)  %}<option value="ROLE_SUPER_MODERATEUR">ROLE_SUPER_MODERATEUR</option>{% endif %}
                </select>
            </div>
            {{ form_widget(form) }}
        </form>
    </div>
</div>