{% extends "::layout_admin.html.twig" %}

{% block title %}
    {{ 'administration.roles.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="custom-container gallery-container">
        <div class="container">
            <div class="container be-detail-container">
                <div class="block-2">
                    <div class="row">
                        <div class="col-md-4 center-text-align">
                            <span class="back-block">
                                <a class="btn color-1 size-1" href="{{ path('home_admin') }}"><i
                                        class="fa fa-chevron-left"></i>{{ 'administration.reports.button.back_to_home'|trans() }}</a>
                            </span>
                        </div>
                        <div class="col-md-4 ">
                            <h2 class="content-title">{{ 'administration.roles.title'|trans() }}</h2>
                        </div>
                        <div class="col-md-4 "></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a>{{ 'administration.roles.onglet_1'|trans() }}</a></li>
                        <li><a href="{{ path('admin_roles_management_users') }}" >{{ 'administration.roles.onglet_2'|trans() }}</a></li>
                    </ul>
                    <div class="tab-content">

                        <div class="row">
                            {% if users is not empty %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="center-text-align">{{'administration.roles.users'|trans()}}</th>
                                            <th class="center-text-align">{{'administration.roles.roles'|trans()}}</th>
                                            <th class="center-text-align">{{'administration.roles.action'|trans()}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                            <tr>
                                                <td>{{ user.username|capitalize }}<span class="details-user"> {% if user.firstname and user.lastname %} ( {{ user.firstname }} {{ user.lastname }} ){% endif %}</span></td>
                                                <td>
                                                    {% for role in user.roles %}
                                                        <div class="roles-user">- {{ role }}</div>
                                                    {% endfor %}
                                                </td>
                                                <td class="center-text-align">
                                                    <a class="btn btn-success add-role-user" data-id="{{ user.id }}" data-locale="{{ app.request.locale }}">{{'global.add_role'|trans()}}</a>
                                                    <a class="btn btn-warning remove-role-user" data-id="{{ user.id }}" data-locale="{{ app.request.locale }}">{{'global.remove_role'|trans()}}</a>
                                                    <span></span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="col-sm-8 col-sm-offset-2 text-center">
                                    <div class="alert alert-danger" role="alert">
                                        {{'users.no_existing'|trans()}}
                                    </div>
                                </div>
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        var reporting = new Reporting({});
        reporting.init();
    </script>
{% endblock %}