{% extends 'layout2.html.twig' %}

{% block body %}
    <h1>Homes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>God</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for home in homes %}
            <tr>
                <td><a href="{{ path('home_show', { 'id': home.id }) }}">{{ home.id }}</a></td>
                <td>{{ home.name }}</td>
                <td>{{ home.description }}</td>
                <td>{{ home.god }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('home_show', { 'id': home.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('home_edit', { 'id': home.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('home_new') }}">Create a new home</a>
        </li>
    </ul>
{% endblock %}
