{% if comments24|length != 0 or comments48|length != 0 or comments72|length != 0 or activitys24|length != 0 or activitys48|length != 0 or activitys72|length != 0%}
    <div class="row">
        <div class="col-md-12">

            <div class="be-large-post">
                <div class="info-block">
                    <div class="be-large-post-align">
                        <h3>{{ 'administration.reports.reporting.comments'|trans() }} / {{ 'administration.reports.reporting.publications'|trans() }}</h3>
                    </div>
                </div>
                {#// List of Comments For The First Slice 0 - 24 #}
                {% if comments24|length != 0 %}
                    <span id="comments-list"></span>
                    {% set counter = 0 %}
                    {% for report in comments24 %}
                        {% set counter = counter + 1 %}
                        <div class="blog-content popup-gallery be-large-post-align">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                        {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                                    </div>
                                    <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                            href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="col-md-9 left-border">
                                    <div class="report-block-content">{{ 'administration.reports.text.number_records_comment'|trans() }}
                                        <b>{{ report.comment.reporting|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.artist_reporting_totals'|trans() }}
                                        <b>{{ report.reporteduser.reportinguser|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                        <b>{{ report.subject.subject|capitalize }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.comment_reported_1'|trans() }} </div>
                                    <div class="report-block-message">
                                        {{ report.comment.content|raw }}
                                    </div>
                                    <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                                     href="{{ path('show_me', { 'id': report.comment.user.id }) }}">{{ report.comment.user.username|capitalize }}</a>
                                    </span>
                                    <span class="report-block-name" style="float: right">{{ 'pagination.on'|trans()|capitalize }} 
                                        {% if report.comment.artwork is not null %}
                                            <a target="_blank" href="{{ path('artwork_show', { 'id': report.comment.artwork.id }) }}">{{ report.comment.artwork.title|capitalize }}</a>
                                        {% endif %}
                                        {% if report.comment.lecture is not null %}
                                            <a target="_blank" href="{{ path('lecture_show', { 'id': report.comment.lecture.id }) }}">{{ report.comment.lecture.name|capitalize }}</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="report-block-button row" style="text-align: center">
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 remove-report-comment">{{ 'administration.reports.button.remove_comment'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 close-report">{{ 'administration.reports.button.close_report'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 mark-report">{{ 'administration.reports.button.mark_report'|trans() }}</a></div>
                            </div>
                            <div>
                                {{ 'administration.reports.text.banish_time'|trans() }}
                                <input type="number" min="1" max="99" value="1" class="banish-input" id="banish-input-{{ report.id }}"/>
                                <a class="btn color-9-5 size-3 hover-3 add-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.ban_artist_profile'|trans() }}</a>
                            </div>

                            <div class="row margin-bottom">
                                {{ 'administration.reports.text.message_to_artist'|trans() }}
                            </div>

                            <textarea rows="3" class="form-control" id="message-{{ report.id }}" placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                            <div class="report-block-btn-submit">
                                <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                                   data-receiver="{{ report.comment.user.id }}"  class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                            </div>
                            {% if counter < comments24|length %}
                                <div class="clear"></div>
                            {% endif %}
                        </div>
                        {% if counter == comments24|length %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {#// List of Activitys For The First Slice 0 - 24 #}
                {% if activitys24|length != 0 %}
                    <span id="publications-list"></span>
                    {% set counter = 0 %}
                    {% for report in activitys24 %}
                        {% set counter = counter + 1 %}
                        <div class="blog-content popup-gallery be-large-post-align">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                        {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                                    </div>
                                    <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                            href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="col-md-9 left-border">
                                    <div class="report-block-content">{{ 'administration.reports.text.number_records_comment'|trans() }}
                                        <b>{{ report.activity.reporting|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.artist_reporting_totals'|trans() }}
                                        <b>{{ report.reporteduser.reportinguser|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                        <b>{{ report.subject.subject|capitalize }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.comment_reported_2'|trans() }} </div>
                                    <div class="report-block-message">
                                        {{ report.activity.description|raw }}
                                    </div>
                                    <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                                     href="{{ path('show_me', { 'id': report.activity.author[0].id }) }}">{{ report.activity.author[0].username|capitalize }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="report-block-button row" style="text-align: center">
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 remove-report-activity">{{ 'administration.reports.button.remove_publication'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 close-report">{{ 'administration.reports.button.close_report'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 mark-report">{{ 'administration.reports.button.mark_report'|trans() }}</a></div>
                            </div>
                            <div>
                                {{ 'administration.reports.text.banish_time'|trans() }}
                                <input type="number" min="1" max="99" value="1" class="banish-input" id="banish-input-{{ report.id }}"/>
                                <a class="btn color-9-5 size-3 hover-3 add-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.ban_artist_profile'|trans() }}</a>
                            </div>

                            <div class="row margin-bottom">
                                {{ 'administration.reports.text.message_to_artist'|trans() }}
                            </div>

                            <textarea rows="3" class="form-control" id="message-{{ report.id }}" placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                            <div class="report-block-btn-submit">
                                <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                                   data-receiver="{{ report.activity.author[0].id }}"  class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                            </div>
                            {% if counter < activitys24|length %}
                                <div class="clear"></div>
                            {% endif %}
                        </div>
                        {% if counter == activitys24|length %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {#// List of Comments For The Second Slice 24 - 48 #}
                {% if comments48|length != 0 %}
                    {% set counter = 0 %}
                    {% for report in comments48 %}
                        {% set counter = counter + 1 %}
                        <div class="blog-content popup-gallery be-large-post-align">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                        {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                                    </div>
                                    <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                            href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="col-md-9 left-border">
                                    <div class="report-block-content">{{ 'administration.reports.text.number_records_comment'|trans() }}
                                        <b>{{ report.comment.reporting|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.artist_reporting_totals'|trans() }}
                                        <b>{{ report.reporteduser.reportinguser|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                        <b>{{ report.subject.subject|capitalize }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.comment_reported'|trans() }} </div>
                                    <div class="report-block-message">
                                        {{ report.comment.content|raw }}
                                    </div>
                                    <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                                     href="{{ path('show_me', { 'id': report.comment.user.id }) }}">{{ report.comment.user.username|capitalize }}</a>
                                    </span>
                                    <span class="report-block-name" style="float: right">{{ 'pagination.on'|trans()|capitalize }} 
                                        {% if report.comment.artwork is not null %}
                                            <a target="_blank" href="{{ path('artwork_show', { 'id': report.comment.artwork.id }) }}">{{ report.comment.artwork.title|capitalize }}</a>
                                        {% endif %}
                                        {% if report.comment.lecture is not null %}
                                            <a target="_blank" href="{{ path('lecture_show', { 'id': report.comment.lecture.id }) }}">{{ report.comment.lecture.name|capitalize }}</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="report-block-button row" style="text-align: center">
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 remove-report-comment">{{ 'administration.reports.button.remove_comment'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 close-report">{{ 'administration.reports.button.close_report'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 mark-report">{{ 'administration.reports.button.mark_report'|trans() }}</a></div>
                            </div>
                            <div>
                                {{ 'administration.reports.text.banish_time'|trans() }}
                                <input type="number" min="1" max="99" value="1" class="banish-input" id="banish-input-{{ report.id }}"/>
                                <a class="btn color-9-5 size-3 hover-3 add-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.ban_artist_profile'|trans() }}</a>
                            </div>

                            <div class="row margin-bottom">
                                {{ 'administration.reports.text.message_to_artist'|trans() }}
                            </div>

                            <textarea rows="3" class="form-control" id="message-{{ report.id }}" placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                            <div class="report-block-btn-submit">
                                <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                                   data-receiver="{{ report.comment.user.id }}"  class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                            </div>
                            {% if counter < comments48|length %}
                                <div class="clear"></div>
                            {% endif %}
                        </div>
                        {% if counter == comments48|length %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {#// List of Activitys For The First Slice  24 - 48 #}
                {% if activitys48|length != 0 %}
                    {% set counter = 0 %}
                    {% for report in activitys48 %}
                        {% set counter = counter + 1 %}
                        <div class="blog-content popup-gallery be-large-post-align">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                        {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                                    </div>
                                    <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                            href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="col-md-9 left-border">
                                    <div class="report-block-content">{{ 'administration.reports.text.number_records_comment'|trans() }}
                                        <b>{{ report.activity.reporting|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.artist_reporting_totals'|trans() }}
                                        <b>{{ report.reporteduser.reportinguser|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                        <b>{{ report.subject.subject|capitalize }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.comment_reported_2'|trans() }} </div>
                                    <div class="report-block-message">
                                        {{ report.activity.description|raw }}
                                    </div>
                                    <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                                     href="{{ path('show_me', { 'id': report.activity.author[0].id }) }}">{{ report.activity.author[0].username|capitalize }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="report-block-button row" style="text-align: center">
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 remove-report-activity">{{ 'administration.reports.button.remove_publication'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 close-report">{{ 'administration.reports.button.close_report'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 mark-report">{{ 'administration.reports.button.mark_report'|trans() }}</a></div>
                            </div>
                            <div>
                                {{ 'administration.reports.text.banish_time'|trans() }}
                                <input type="number" min="1" max="99" value="1" class="banish-input" id="banish-input-{{ report.id }}"/>
                                <a class="btn color-9-5 size-3 hover-3 add-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.ban_artist_profile'|trans() }}</a>
                            </div>

                            <div class="row margin-bottom">
                                {{ 'administration.reports.text.message_to_artist'|trans() }}
                            </div>

                            <textarea rows="3" class="form-control" id="message-{{ report.id }}" placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                            <div class="report-block-btn-submit">
                                <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                                   data-receiver="{{ report.activity.author[0].id }}"  class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                            </div>
                            {% if counter < activitys48|length %}
                                <div class="clear"></div>
                            {% endif %}
                        </div>
                        {% if counter == activitys48|length %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {#// List of Comments For The Third Slice 48 - 72 #}
                {% if comments72|length != 0 %}
                    {% set counter = 0 %}
                    {% for report in comments72 %}
                        {% set counter = counter + 1 %}
                        <div class="blog-content popup-gallery be-large-post-align">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                        {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                                    </div>
                                    <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                            href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="col-md-9 left-border">
                                    <div class="report-block-content">{{ 'administration.reports.text.number_records_comment'|trans() }}
                                        <b>{{ report.comment.reporting|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.artist_reporting_totals'|trans() }}
                                        <b>{{ report.reporteduser.reportinguser|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                        <b>{{ report.subject.subject|capitalize }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.comment_reported'|trans() }} </div>
                                    <div class="report-block-message">
                                        {{ report.comment.content|raw }}
                                    </div>
                                    <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                                     href="{{ path('show_me', { 'id': report.comment.user.id }) }}">{{ report.comment.user.username|capitalize }}</a>
                                    </span>
                                    <span class="report-block-name" style="float: right">{{ 'pagination.on'|trans()|capitalize }} 
                                        {% if report.comment.artwork is not null %}
                                            <a target="_blank" href="{{ path('artwork_show', { 'id': report.comment.artwork.id }) }}">{{ report.comment.artwork.title|capitalize }}</a>
                                        {% endif %}
                                        {% if report.comment.lecture is not null %}
                                            <a target="_blank" href="{{ path('lecture_show', { 'id': report.comment.lecture.id }) }}">{{ report.comment.lecture.name|capitalize }}</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="report-block-button row" style="text-align: center">
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 remove-report-comment">{{ 'administration.reports.button.remove_comment'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 close-report">{{ 'administration.reports.button.close_report'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 mark-report">{{ 'administration.reports.button.mark_report'|trans() }}</a></div>
                            </div>
                            <div>
                                {{ 'administration.reports.text.banish_time'|trans() }}
                                <input type="number" min="1" max="99" value="1" class="banish-input" id="banish-input-{{ report.id }}"/>
                                <a class="btn color-9-5 size-3 hover-3 add-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.ban_artist_profile'|trans() }}</a>
                            </div>

                            <div class="row margin-bottom">
                                {{ 'administration.reports.text.message_to_artist'|trans() }}
                            </div>

                            <textarea rows="3" class="form-control" id="message-{{ report.id }}" placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                            <div class="report-block-btn-submit">
                                <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                                   data-receiver="{{ report.comment.user.id }}"  class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                            </div>
                            {% if counter < comments72|length %}
                                <div class="clear"></div>
                            {% endif %}
                        </div>
                        {#{% if counter == comments72|length %}#}
                        {#<div class="clear"></div>#}
                        {#{% endif %}#}
                    {% endfor %}
                {% endif %}
                {#// List of Activitys For The First Slice  48 - 72 #}
                {% if activitys72|length != 0 %}
                    {% set counter = 0 %}
                    {% for report in activitys72 %}
                        {% set counter = counter + 1 %}
                        <div class="blog-content popup-gallery be-large-post-align">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="report-block-date">{{ 'administration.reports.text.the'|trans() }} {{ report.created|date('d/m/Y') }} <br>
                                        {{ 'administration.reports.text.at'|trans() }} {{ report.created|date('H') }}h{{ report.created|date('i') }}
                                    </div>
                                    <div class="report-block-name">{{ 'administration.reports.text.report_by'|trans() }} <a target="_blank"
                                                                                                                            href="{{ path('show_me', { 'id': report.reporter.id }) }}">{{ report.reporter.username|capitalize }}</a>
                                    </div>
                                </div>
                                <div class="col-md-9 left-border">
                                    <div class="report-block-content">{{ 'administration.reports.text.number_records_comment'|trans() }}
                                        <b>{{ report.activity.reporting|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.artist_reporting_totals'|trans() }}
                                        <b>{{ report.reporteduser.reportinguser|length }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.subject_report'|trans() }}
                                        <b>{{ report.subject.subject|capitalize }}</b></div>
                                    <div class="report-block-content">{{ 'administration.reports.text.comment_reported_2'|trans() }} </div>
                                    <div class="report-block-message">
                                        {{ report.activity.description|raw }}
                                    </div>
                                    <span class="report-block-name">{{ 'by'|trans()|capitalize }} <a target="_blank"
                                                                                                     href="{{ path('show_me', { 'id': report.activity.author[0].id }) }}">{{ report.activity.author[0].username|capitalize }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="report-block-button row" style="text-align: center">
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 remove-report-activity">{{ 'administration.reports.button.remove_publication'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 close-report">{{ 'administration.reports.button.close_report'|trans() }}</a></div>
                                <div class="col-sm-4"><a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" class="btn color-9-5 size-3 hover-3 mark-report">{{ 'administration.reports.button.mark_report'|trans() }}</a></div>
                            </div>
                            <div>
                                {{ 'administration.reports.text.banish_time'|trans() }}
                                <input type="number" min="1" max="99" value="1" class="banish-input" id="banish-input-{{ report.id }}"/>
                                <a class="btn color-9-5 size-3 hover-3 add-banish-profil" data-id="{{ report.id }}" data-locale="{{ app.request.locale }}">{{ 'administration.reports.button.ban_artist_profile'|trans() }}</a>
                            </div>

                            <div class="row margin-bottom">
                                {{ 'administration.reports.text.message_to_artist'|trans() }}
                            </div>

                            <textarea rows="3" class="form-control" id="message-{{ report.id }}" placeholder="{{ 'administration.reports.text.placeholder_message'|trans() }}"></textarea>
                            <div class="report-block-btn-submit">
                                <a data-id="{{ report.id }}" data-locale="{{ app.request.locale }}" data-sender="{{ app.user.id }}"
                                   data-receiver="{{ report.activity.author[0].id }}"  class="btn color-1 size-2 hover-1 margin send-report-message">{{ 'administration.reports.button.send_message'|trans() }}</a>
                            </div>
                            {% if counter < activitys72|length %}
                                <div class="clear"></div>
                            {% endif %}
                        </div>
                        {% if counter == activitys72|length %}
                            <div class="clear"></div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>

        </div>

    </div>

    <div class="clear"></div>

{% endif %}