{% extends "::layout2.html.twig" %}
{% block title %}
    {{ 'menu.home'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="content-block">
        <div class="head-bg">
            <div class="head-bg-img" style="background-image: url({{ asset('themeforest/img/Pinceau.jpg') }})"></div>
            <div class="head-bg-content">
                <h1>{{ 'header_title'|trans() }}</h1>
                <p>{{ 'header_subtitle'|trans() }}</p>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>{{ 'global.sign_up'|trans() }}</a>
                    {% endif %}
            </div>
        </div>
        <div class="container-fluid cd-main-content custom-container">
            <div class="row">
                <form action="{{ path('search_artworks') }}" method="POST" id="form-artwork-filter" class="input-search">
                    <div class="for-be-dropdowns">
                        <div class="col-md-2 left-feild form-input-search">
                            <div class="input-search">
                                <input type="text" placeholder="Tags" name="tag">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select name="category" id="filter-category" class="select-be-drop-down">
                                <option value="">{{ 'category.title'|trans() }}</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="contents-sub-category">
                        </div>
                        <div class="col-md-2">
                            <select name="sort" class="select-be-drop-down">
                                <option value="">{{ 'sort'|trans() }}</option>
                                <option value="like">{{ 'number_like'|trans() }}</option>
                                <option value="view">{{ 'number_views'|trans() }}</option>
                                <option value="comment">{{ 'number_comment'|trans() }}</option>
                                <option value="date">{{ 'newer'|trans() }}</option>
                            </select>
                        </div>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="col-md-2">
                                <select name="scope" class=" select-be-drop-down">
                                    <option value="">{{ 'scope'|trans() }}</option>
                                    <option value="subscribers">{{ 'Subscribs'|trans() }}</option>
                                    <option value="friends">{{ 'global.friends'|trans() }}</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="col-md-2 center-text-align">
                            <button class="btn color-4 size-2 hover-9" style="margin-top: 10px;" type="submit" form="form-artwork-filter" value="{{ 'search'|trans() }}">{{ 'search'|trans() }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid custom-container">
        <div class="row">

            <div class="col-md-1 left-feild">
            </div>

            <div class="col-md-10">
                <div id="container-mix"  class="row _post-container_">
                    {% for artwork in artworks %}
                        <div class="col-ml-12 col-xs-4 col-sm-3">
                            <div class="be-post">
                                <a href="{{ path('artwork_show',{'id':artwork.id}) }}" class="be-img-block">
                                    {% if artwork.cover is not empty %}
                                        <img src="{{ uploads_artwork_cover|imagine_filter('coverArtworks')}}{{artwork.cover}}" alt="{{ artwork.title }}">
                                    {% else %}
                                        <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ artwork.title }}">
                                    {% endif %}
                                </a>
                                <a href="{{ path('artwork_show',{'id':artwork.id}) }}" class="be-post-title">{{ artwork.title }}</a>
                                <span class="center-text-align">
                                    <div class="be-text-tags-artwork-date">
                                        <a href="{{ path('artwork_show',{'id':artwork.id}) }}" class="be-post-tag">
                                            {{ artwork.dateCreation|date('d/m/Y H') ~ 'h' ~ artwork.dateCreation|date('i') }}
                                        </a>
                                    </div>
                                    <div class="be-text-tags-artwork">
                                        {% for atCategory in artwork.category %}
                                            <a href="{{ path('category_show',{'id':atCategory.id}) }}">
                                                {{ atCategory.name }}
                                            </a>
                                        {% endfor%}
                                    </div>
                                    <div class="be-text-tags-artwork">
                                        {% set counter = 0 %}
                                        {% for sub_category in artwork.sub_category %}
                                            {% if counter == 0 %}
                                                {{sub_category.name}}
                                            {% endif %}
                                            {% if not loop.last %}
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endfor%}
                                        {% if counter > 0 %}
                                            , +{{ counter }}
                                        {% endif %}
                                        {% if artwork.sub_category is empty %}
                                            {{ 'no_subcategory'|trans }}
                                        {% endif %}
                                    </div>
                                </span>
                                <div class="author-post center-text-align">					                
                                    <span>{{ 'By'|trans }} 
                                        {% for author in artwork.author %}
                                            <a href="{{ path('show_me',{'id':author.id}) }}">{{ author.username }}</a>
                                        {% endfor %}
                                    </span>					                
                                </div>
                                <div class="info-block">
                                    {% set is_liker = false %}
                                    {% set is_comment = false %}
                                    {% if (app.user) %}
                                        {% for u in artwork.likers %}
                                            {% if(app.user.id == u.id) %}
                                                {% set is_liker = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% for c in artwork.comments %}
                                            {% if(app.user.id == c.user.id) %}
                                                {% set is_comment = true %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <span class="cursor-auto"><i class="fa {% if(is_liker) %}fa-thumbs-up blue-style-1{% else %}fa-thumbs-o-up{% endif %}"></i>{{artwork.likers|length}}</span>
                                    <span class="cursor-auto"><i class="fa fa-eye followers"></i>{{ artwork.viewers|length}}</span>
                                    <span class="cursor-auto"><i class="fa {% if(is_comment) %}fa-comment blue-style-1{% else %}fa-comment-o{% endif %}"></i>{{artwork.comments|length}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 center-text-align">
                <span id="data-length">
                    <input type="hidden" class="data-length" data-length="{{artworks|length}}" />
                </span>
                <a class="be-register btn color-3-1 size-2 hover-1 show-more-artworks">{{ 'show_more'|trans() }}</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var by = "{{ 'By'|trans }}";
        var empty_artworks = "{{ 'global.empty_artworks'|trans }}";
        var locale = "{{ app.request.locale }}";
        var uploads_artwork_cover = "{{asset(uploads_artwork_cover)}}";
        var default_img = "{{asset('themeforest/img/No_cover.jpg')}}";
        var imagine_filter = "{{ uploads_artwork_cover|imagine_filter('coverArtworks')}}";
        var user_id = {% if app.user %}"{{ app.user.id }}"{% else %}null{% endif %};
                var subtitle = "{{ 'category.subtitle'|trans() }}";
    </script>
    <script src="{{ asset('assets/js/artwork_show_more.js') }}"></script>
    <script type="text/javascript">
        var pullMessageNotReacontentsdUrl = '';
        var pullAllMessageNotReadUrl = '';
        {% if app.user %}
            var pullMessageNotReadUrl = '{{ path('notif_messages', {'id' : app.user.id }) }}'
            var pullAllMessageNotReadUrl = '{{ path('notread_messages', {'id' : app.user.id }) }}';
        {% endif %}
    </script>
{% endblock %}


