{% extends "::layout2.html.twig" %}
{% block title %}
    {{ 'menu.home'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="content-block">
        <div class="head-bg">
            <div class="head-bg-img" style="background-image: url({{ asset('home/img/Pinceau.jpg') }})"></div>
            <div class="head-bg-content">
                <h1>{{ 'header_title'|trans() }}</h1>
                <p>{{ 'header_subtitle'|trans() }}</p>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                    <a href="{{ path('fos_user_registration_register') }}" class="btn color-3 size-1 hover-6"><i class="fa fa-lock"></i>{{ 'global.sign_up'|trans() }}</a>
                    {% endif %}
            </div>
        </div>
        <div class="container-fluid cd-main-content custom-container">
            <div class="row">
                <form action="{{ path('search_artworks') }}" method="POST" id="form-artwork-filter" class="input-search">
                    <div class="for-be-dropdowns">
                        <div class="col-md-2 left-feild form-input-search">
                            <div class="input-search">
                                <input type="text" id="tag_filter" placeholder="Tags" name="tag" value="{{ tag }}">
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <select name="category" id="filter-category" class="select-be-drop-down">
                                <option value="">{{ 'category.title'|trans() }}</option>
                                {% for cat in categories %}
                                    <option {% if category == cat.id %}selected{%endif%} value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div id="contents-sub-category">
                            {% if category %}
                                <div class="col-md-2">
                                    <select name="subcategory" class="select-be-drop-down" id="sub_category_filter">
                                        <option value="">{{ 'category.subtitle'|trans() }}</option>
                                        {% for subcat in subCategories %}
                                            <option {% if subcategory == subcat.id %}selected{%endif%} value="{{ subcat.id }}">{{ subcat.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <select name="sort" class="select-be-drop-down" id="sort_filter">
                                <option value="">{{ 'sort'|trans() }}</option>
                                <option {% if sort == 'like' %}selected{%endif%} value="like">{{ 'number_like'|trans() }}</option>
                                <option {% if sort == 'view' %}selected{%endif%} value="view">{{ 'number_views'|trans() }}</option>
                                <option {% if sort == 'comment' %}selected{%endif%} value="comment">{{ 'number_comment'|trans() }}</option>
                                <option {% if sort == 'date' %}selected{%endif%} value="date">{{ 'newer'|trans() }}</option>
                            </select>
                        </div>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="col-md-2">
                                <select name="scope" class="select-be-drop-down" id="scope_filter">
                                    <option value="">{{ 'scope'|trans() }}</option>
                                    <option {% if scope == 'subscribers' %}selected{%endif%} value="subscribers">{{ 'Subscribs'|trans() }}</option>
                                    <option {% if scope == 'friends' %}selected{%endif%} value="friends">{{ 'global.friends'|trans() }}</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="col-md-2 center-text-align">
                            <button class="btn color-4 size-2 hover-9" style="margin-top: 10px;"  type="submit" form="form-artwork-filter" value="{{ 'search'|trans() }}">{{ 'search'|trans() }}</button>
                            <a class="btn color-5-7 size-3 hover-5" class="btn-reset-search" title="{{'without_rating'|trans()}}" onclick="location.href = '{{ path('au_homepage') }}'"> X </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid custom-container">
        <div class="row">

            <div class="col-md-1 left-feild">
            </div>

            <div class="col-md-10">
                <div id="container-mix"  class="row _post-container_">
                    {% for artwork in artworks %}
                        <div class="col-ml-12 col-xs-4 col-sm-3">
                            <div class="be-post">
                                <a href="{{ path('artwork_show',{'id':artwork[0].id}) }}" class="be-img-block">
                                    {% if artwork[0].cover is not empty %}
                                        <img src="{{ uploads_artwork_cover|imagine_filter('coverArtworks')}}{{artwork[0].cover}}" alt="{{ artwork[0].title }}">
                                    {% else %}
                                        <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ artwork[0].title }}" >
                                    {% endif %}
                                </a>
                                <a href="{{ path('artwork_show',{'id':artwork[0].id}) }}" class="be-post-title">{{ artwork[0].title }}</a>
                                <span class="center-text-align">
                                    <div class="be-text-tags-artwork-date">
                                        <a href="{{ path('artwork_show',{'id':artwork[0].id}) }}" class="be-post-tag">
                                            {{ artwork[0].dateCreation|date('d/m/Y H') ~ 'h' ~ artwork[0].dateCreation|date('i') }}
                                        </a>
                                    </div>
                                    <div class="be-text-tags-artwork">
                                        {% for atCategory in artwork[0].category %}
                                            <a href="{{ path('category_show',{'id':atCategory.id}) }}">
                                                {{ atCategory.name }}
                                            </a>
                                        {% endfor%}
                                    </div>
                                    <div class="be-text-tags-artwork">
                                        {% set counter = 0 %}
                                        {% for sub_category in artwork[0].subCategory %}
                                            {% if counter == 0 %}
                                                {{sub_category.name}}
                                            {% endif %}
                                            {% if not loop.last %}
                                                {% set counter = counter + 1 %}
                                            {% endif %}
                                        {% endfor%}
                                        {% if counter > 0 %}
                                            , +{{ counter }}
                                        {% endif %}
                                        {% if artwork[0].subCategory is empty %}
                                            {{ 'no_subcategory'|trans }}
                                        {% endif %}
                                    </div>
                                </span>
                                <div class="author-post center-text-align">					                
                                    <span>{{ 'By'|trans }} 
                                        {% for author in artwork[0].author %}
                                            <a href="{{ path('show_me',{'id':author.id}) }}">{{ author.username }}</a>
                                        {% endfor %}
                                    </span>					                
                                </div>
                                <div class="info-block">
                                    {% set is_liker = false %}
                                    {% set is_comment = false %}
                                    {% if (app.user) %}
                                        {% for u in artwork[0].likers %}
                                            {% if(app.user.id == u.id) %}
                                                {% set is_liker = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% for c in artwork[0].comments %}
                                            {% if(app.user.id == c.user.id) %}
                                                {% set is_comment = true %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <span class="cursor-auto"><i class="fa {% if(is_liker) %}fa-thumbs-up blue-style-1{% else %}fa-thumbs-o-up{% endif %}"></i>{{artwork[0].likers|length}}</span>
                                    <span class="cursor-auto"><i class="fa fa-eye followers"></i>{{ artwork[0].viewers|length}}</span>
                                    <span class="cursor-auto"><i class="fa {% if(is_comment) %}fa-comment blue-style-1{% else %}fa-comment-o{% endif %}"></i>{{artwork[0].comments|length}}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-12 center-text-align">
                <span id="data-length">
                    <input type="hidden" class="data-length" data-length="{{artworks|length}}" />
                </span>
                <a class="be-register btn color-3-1 size-2 hover-1 show-more-artworks">{{ 'show_more'|trans() }}</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var by = "{{ 'By'|trans }}";
        var empty_artworks = "{{ 'global.empty_artworks'|trans }}";
        var locale = "{{ app.request.locale }}";
        var uploads_artwork_cover = "{{asset(uploads_artwork_cover)}}";
        var imagine_filter = "{{ uploads_artwork_cover|imagine_filter('coverArtworks')}}";
        var default_img = "{{asset('themeforest/img/No_cover.jpg')}}";
        var user_id = {% if app.user %}"{{ app.user.id }}"{% else %}null{% endif %};
                var subtitle = "{{ 'category.subtitle'|trans() }}";
    </script>
    <script src="{{ asset('assets/js/artwork_show_more_search.js') }}"></script>
    <script>


    </script>

    <script type="text/javascript">
        var pullMessageNotReacontentsdUrl = '';
        var pullAllMessageNotReadUrl = '';
        {% if app.user %}
            var pullMessageNotReadUrl = '{{ path('notif_messages', {'id' : app.user.id }) }}'
            var pullAllMessageNotReadUrl = '{{ path('notread_messages', {'id' : app.user.id }) }}';
        {% endif %}
    </script>
{% endblock %}


