{% extends "::layout2.html.twig" %}
    
{% block title %}
  Connexion - {{ parent() }}
{% endblock %}

{% block body %}

<div class="block" style="background-color:#1b212c; margin-bottom: 0px !important">
<br /><br /><br />                           
    <div class="row login-form">
        <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
            <div class="row">
                <h5 class="large-popup-title" style="padding-left:15px">Connexion</h5>  
                <br />
                <form class="form-block" action="{{ path("fos_user_security_check") }}" method="post">
                {% if error %}
                    <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div> <br />
                {% endif %}
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="col-lg-6">
                    <div class="form-group fl_icon">
                        <div class="icon"><img src="{{ asset('themeforest/img/user-g-ico.png') }}" alt=""></div>
                        <input type="text" class="form-input" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group fl_icon">
                        <div class="icon"><i class="fa fa-lock"></i></div>
                        <input type="password" class="form-input" id="password" name="_password" required="required" />
                    </div>
                </div>
                <div class="col-xs-6">
                    <br />
                    <div class="be-checkbox">
                    <label class="check-box">
                            <input type="checkbox" id="remember_me" name="_remember_me" class="checkbox-input" value="on" /><span class="check-box-sign"></span>
                        </label>
                        <span class="large-popup-text" style="color:white">
                            {{'global.remember_me'|trans()}}
                        </span>
                    </div>
                    
                    <a href="{{ path('fos_user_resetting_request') }}" class="link-large-popup" style="display:inline-block" >{{'registration.forgot'|trans}}</a> &nbsp;&nbsp;
                    <a href="{{ path('fos_user_registration_register') }}" class="link-large-popup" style="display:inline-block">{{'global.sign_up'|trans}}</a>

                </div>
                <div class="col-xs-6 for-signin">
                    <br />
                    <input type="submit" class="be-popup-sign-button" id="_submit" name="_submit" value="{{'global.sign_in'|trans}}">
                    <br /><br /><br />
                </div>
                <br /><br /><br />
            </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
