{% extends 'layout2.html.twig' %}

{% block body %}
    <h1>{{'global.edit'|trans()}}</h1>
    <div class="col-sm-1 col-sm-offset-10">
    {{ form_start(delete_form) }}
    
        <div class="pull-left">
            <input type="submit" value="{{'global.delete'|trans()}}" class="btn btn-danger">
        </div>

    {{ form_end(delete_form) }}
    </div>
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.cover, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.cover) }}
                </div>
                    {{ form_widget(edit_form.cover) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.file, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.file) }}
                </div>
                    {{ form_widget(edit_form.file) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.title, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.title) }}
                </div>
                    {{ form_widget(edit_form.title, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.confidential, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.confidential) }}
                </div>
                    {{ form_widget(edit_form.confidential, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.author, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.author) }}
                </div>
                    {{ form_widget(edit_form.author, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.category, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.category) }}
                </div>
                    {{ form_widget(edit_form.category, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.description, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.description) }}
                </div>
                    {{ form_widget(edit_form.description, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                <label>{{ form_label(edit_form.text, null, {'label_attr': {'class':'control-label' }}) }}</label>
                <div>
                    {{ form_errors(edit_form.text) }}
                </div>
                    {{ form_widget(edit_form.text, { 'attr':  {
                        'class': 'form-control',
                    }}) }}
            </div>
        </div>
        <div class="col-sm-8 col-sm-push-2">
            <div class="form-group">
                    <input type="submit" value="{{'global.edit'|trans()}}" class="btn btn-success"/>
                    {{ form_end(edit_form) }}
                    <a href="{{ path('faq_index') }}" class="btn btn-danger" /> <i class="fa fa-arrow-left" aria-hidden="true"></i>  {{ 'global.back'|trans() }}
                    </a>
            </div>
        </div>
    </div>
{% endblock %}
