{% extends '::layout2.html.twig' %}

{% block body %}
    <div class="container">
        <h1> Liste d'ouvrage d'art</h1>
        <div style="margin-bottom:2%;">
        <a href="{{ path('artwork_new') }}" class="btn btn-success">  {{'new'|trans()}}<i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        </div>
        <div class="table-responsive">
            <table class = "table table-bordered">
                <thead>
                    <tr>
                        <th>Afficher</th>
                        <th>Cover</th>
                        <th>File</th>
                        <th>Title</th>
                        <th>Datecreation</th>
                        <th>Confidential</th>
                        <th>Description</th>
                        <th>Text</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for artwork in artworks %}
                    <tr>
                        <td><a href="{{ path('artwork_show', { 'id': artwork.id }) }}" class="btn btn-success">{{'global.show'|trans()}}</a></td>
                        <td>{{ artwork.cover }}</td>
                        <td>{{ artwork.file }}</td>
                        <td>{{ artwork.title }}</td>
                        <td>{{ artwork.dateCreation|date('d-m-y') }}</td>
                        <td>{{ artwork.confidential }}</td>
                        <td>{{ artwork.description }}</td>
                        <td>{{ artwork.text }}</td>
                        <td>
                            <div style="margin-bottom:10%" class="text-center">
                                <a href="{{ path('artwork_show', { 'id': artwork.id }) }}" class="btn btn-success">{{'global.show'|trans()}}</a>
                            </div>
                            <div style="margin-bottom:10%" class="text-center">
                                <a href="{{ path('artwork_edit', { 'id': artwork.id }) }}" class="btn btn-info">{{'global.edit'|trans()}}</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
