{% extends "::layout2.html.twig" %}

{% block body %}

    <!-- MAIN CONTENT -->
    <div id="content-block" class="work-box">
        <div class="editor-menu">
            <div class="container">
                <div class="setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary setup-panel-style">1. {{ 'global.artwork.menu.media'|trans }}</a>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default setup-panel-style" disabled="disabled">2. {{'artwork.Miniature'|trans()}}</a>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default setup-panel-style" disabled="disabled">3. {{ 'global.artwork.menu.information'|trans }}</a>
                    </div>
                </div>

                <div class="buttons-navbar">
                    <a class="btn btn-alert color-0-1" href="{{ path('show_me', {'id': app.user.id}) }}">{{'back'|trans()}}</a>
                </div>
            </div>
        </div>

        {{ form_start(form, {'attr': {'class': 'wizard-form'} }) }}

        <div class="tab-content work-area">
            <div class="row setup-content no-margin" id="step-1" data-step="1">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="hidden" class="data_block_type" value="visual_work_block"/>
                        <div class="col-lg-12 col-lg-2 st-col left-feild">
                            <div class="be-vidget behance-style" >
                                <div class="creative_filds_block">
                                    <ul class="ul nav b-work-list">
                                        <li><a class="visual_work_button"><i class="fa fa-cloud-upload"></i>{{'global.artwork.menu.visual_work'|trans}}</a></li>
                                        <li><a class="literary_work_button"><i class="fa fa-text-width"></i>{{'global.artwork.menu.literary_work'|trans}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-lg-10 visual_work_block">
                            <div class="be-large-post large-area">
                                <div class="info-block style-2">
                                    <div class="be-large-post-align "><h3 class="info-block-label">{{'artwork.title_add_visual_artwork'|trans}}</h3></div>
                                </div>
                                <div class="removeFile hidden-block"><i class="fa fa-times" aria-hidden="true"></i> {{ 'global.delete_artwork'|trans() }}</div>
                                <div class="customFile" data-controlMsg="{{'global.artwork.menu.visual_work'|trans}}">
                                    <span class="selectedFile nameFileWidthPreview">{{ 'no_file_download'|trans}} </span>
                                    {{ form_widget(form.file, { 'attr':  { 'class': 'file widthPreview' } }) }}
                                </div>
                                <small style="color: red;">{{ form_errors(form.cover) }}</small>

                                <div class="previewContainer previewContainerWidthPreview">
                                    <img class="preview" src="" alt="" />
                                </div>

                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >{{'pagination.next'|trans}}</button>
                            </div>

                        </div>
                        <div class="col-lg-12 col-lg-10 literary_work_block hidden-block">
                            <div class="be-large-post large-area">
                                <div class="info-block style-2">
                                    <div class="be-large-post-align "><h3 class="info-block-label">{{'artwork.title_add_literary_artwork'|trans}}</h3></div>
                                </div>
                                <div class="be-large-post-align">
                                    <div class="form-group">
                                        <label>{{ form_label(form.text, null, {'label_attr': {'class':'control-label' } }) }}</label>
                                        <div>
                                            {{ form_errors(form.text) }}
                                        </div>
                                        {{ form_widget(form.text, { 'attr':  { 'class': 'form-control' } }) }}
                                    </div>
                                </div>
                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >{{'pagination.next'|trans}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row setup-content no-margin" id="step-2" data-step="2">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-12 col-md-offset-0 ">
                            <div class="be-large-post large-area">
                                <div class="info-block style-2">
                                    <div class="be-large-post-align "><h3 class="info-block-label">{{'artwork.text_miniature'|trans}}</h3></div>
                                </div>
                                <div class="removeCover hidden-block"><i class="fa fa-times" aria-hidden="true"></i> {{ 'global.delete_artwork'|trans() }}</div>
                                <div class="customFile" data-controlMsg="{{'artwork.Miniature'|trans()}}">
                                    <span class="selectedFile nameFileWidthPreviewCover">{{ 'no_file_download'|trans}} </span>
                                    {{ form_widget(form.cover, { 'attr':  { 'class': 'file widthPreviewCover'} }) }}
                                </div>
                                <small style="color: red;">{{ form_errors(form.cover) }}</small>

                                <div class="previewContainer previewContainerCover">
                                    <img class="previewCover" src="" alt="" />
                                </div>
                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >{{'pagination.next'|trans}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row setup-content no-margin" id="step-3" data-step="3">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                <label>{{ form_label(form.title, null, {'label_attr': {'class':'control-label' } }) }} <small style="color: red;">*</small></label>
                                <div>
                                    {{ form_errors(form.title) }}
                                </div>
                                {{ form_widget(form.title, { 'attr':  {'class': 'form-control'} }) }}
                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.confidential, null, {'label_attr': { 'class':'control-label' } }) }}</label>
                                <div>
                                    {{ form_errors(form.confidential) }}
                                </div>
                                {{ form_widget(form.confidential, { 'attr':  { 'class': 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.category, null, {'label_attr': {'class':'control-label' } }) }} <small style="color: red;">*</small></label>
                                <div>
                                    {{ form_errors(form.category) }}
                                </div>
                                {{ form_widget(form.category, { 'attr':  { 'class': 'form-control' } }) }}
                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.sub_category, null, {'label_attr': {'class':'control-label' } }) }}</label>
                                <div>
                                    {{ form_errors(form.sub_category) }}
                                </div>
                                <span id="sub_category">
                                    <select id="artworkbundle_artwork_sub_category" name="artworkbundle_artwork[sub_category][]" class="form-control select" multiple="multiple">
                                    </select>
                                </span>
                                {#                                {{ form_widget(form.sub_category, { 'attr':  { 'class': 'form-control select' } }) }}#}

                            </div>
                            <div class="form-group">
                                <label>{{ form_label(form.description, null, {'label_attr': {'class':'control-label' } }) }} <small style="color: red;">*</small></label>
                                <div>
                                    {{ form_errors(form.description) }}
                                </div>
                                {{ form_widget(form.description, { 'attr':  { 'class': 'form-control' } }) }}
                            </div>

                            <div>
                                {{ 'upload_artwork'|trans() }}
                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >{{'global.publish'|trans()}}</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ form_widget(form._token) }}
        {#        {{ form_end(form) }}#}
    </form>
</div>
</div>
<br />
<br />

{% endblock %}

{% block javascripts %}

    {{ parent()}}
    <script>
        var confirm_delete_oeuvre_visual = "{{ 'confirm_delete_oeuvre_visual'|trans() }}";
        var confirm_delete_oeuvre_literary = "{{ 'confirm_delete_oeuvre_literary'|trans() }}";
        var confirm = "{{ 'administration.reports.button.confirm'|trans() }}";
        var cancel = "{{ 'cancel'|trans() }}";
        var select_file = "{{ 'select_file'|trans() }}";
        var write_text = "{{ 'write_text'|trans() }}";
        var no_file = "{{ 'no_file_download'|trans}}";
    </script>
    <script src="{{ asset('assets/js/artwork_new.js') }}"></script>
    <script src="{{ asset('assets/mn-file/js/jquery.mn-file.js') }}"></script>
    <script src="{{ asset('assets/js/artwork.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/jquery.tagsinput.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
    <script type="text/javascript">
        $('select').select2({});
        var file_download = "{{'file_download'|trans}}";
    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/artwork.css') }}" />
    <link href="{{ asset('assets/mn-file/css/jquery.mn-file.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
