{% extends "::layout2.html.twig" %}

{% block body %}
    <!-- MAIN CONTENT -->
    {% if false %}
        <div id="content-block">
            <div class="container custom-container be-detail-container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="be-large-post">
                            <div class="info-block clearfix">
                                <div class="be-large-post-align">
                                    <span class="like-manager-count">
                                        {% if liker %}
                                            <i class="fa fa-thumbs-up blue-style-1"></i> {{ artwork.likers|length }}
                                        {% else %}
                                            <i class="fa fa-thumbs-o-up "></i> {{ artwork.likers|length }}
                                        {% endif %}
                                    </span>
                                    <span style="font-size:14px;">{{ artwork.confidential|trans() }}</span>
                                    <span class="be-text-tags pull-right">
                                        {% for category in artwork.category %}
                                            <a class="be-post-tag">{{category.name|trans}}</a>
                                            {% if not loop.last %} , {% endif %}
                                        {% endfor %}
                                        {% for subcategory in artwork.subCategory %}
                                            {% if loop.first %} , {% endif %}
                                            <a class="be-post-tag">{{subcategory.name|trans}}</a>
                                            {% if not loop.last %} , {% endif %}
                                        {% endfor %}
                                    </span>										
                                </div>
                            </div>
                            <div class="blog-content popup-gallery be-large-post-align">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h5 class="be-post-title to">
                                            {{artwork.title}}
                                        </h5>
                                    </div>
                                    {#{% if artwork.author is not empty %}
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <button type="submit" data-toggle="modal" data-target="#donation" class="form-control fa fa-money be-button-vidget like-btn blue-style" style="padding:0;">
                                                    {{'donate'|trans()}} {{'global.to'|trans()}}&nbsp;{{artwork.author[0].username}}
                                                </button> 
                                            </div>  
                                        </div>
                                    {% endif %}#}
                                </div>
                                <div class="be-text-tags clearfix">
                                    <div class="post-date  pull-left">
                                        <br />
                                        <i class="fa fa-clock-o"></i> &nbsp;&nbsp;{{artwork.dateCreation|date("m/d/Y", "Europe/Paris")}}
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="row">	
                                    <div class="col-sm-12">
                          
                                        <div class="post-text">
                                            {% set img = artwork.file|split('.')|last %}
                                            {% if img == 'png' or img == 'jpeg' or img == 'jpg' or img == 'gif' %}
                                                <div class="image-block">
                                                    <a class="popup-a">
                                                        <img src="{{ asset('uploads/artwork/file/'~artwork.file) }}" alt="">
                                                    </a>
                                                </div>
                                            {% else %}
                                                {% if img == '3gp' or img == 'mp4' or img == 'mpg' or img == 'mpeg' or img == 'mkv' or img=='avi' %}
                                                    <div class="be-largepost-iframe
                                                         embed-responsive embed-responsive-16by9">
                                                        <iframe class="embed-responsive-item"
                                                                src="{{ asset('uploads/artwork/user/'~artwork.author[0].id~'/'~artwork.file) }}"></iframe>
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                            <p>
                                                {{ artwork.text | raw }}
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-pull-9 left-feild hidden-md hidden-lg">
                            <div class="be-user-block">
                                {% if artwork.author is not empty %}
                                    <div class="be-user-detail">
                                        {% if artwork.author[0].picture is not null %}
                                            <a class="be-ava-user" href="">
                                                <img src="{{ asset('uploads/users/'~artwork.author[0].id~'/'~artwork.author[0].picture) }}" alt="">
                                            </a>
                                        {% endif %}
                                            <p class="be-use-name">{{ artwork.author[0].username }}</p>
            
                                        <span class="be-user-info">
                                            {{ artwork.author[0].city  ~' '~ artwork.author[0].country }}
                                        </span>
                                    </div>
                                {% endif %}
                                {% if artwork.cover is not empty %}
                                    <div class="be-user-detail">
                                        <a class="be-ava-user" href="" style="height:100%; width:100%;">
                                            <img src="{{ asset('uploads/artwork/cover/'~artwork.cover) }}" style="height:100%; width:100%;" alt="">
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="be-user-activity-block">
                                    {% if artwork.author is not empty %}
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1 text-center">
                                                <a href="{{ path('show_me', { 'id': artwork.author[0].id }) }}" style="font-size:14px;padding-left:0px"
                                                   class="col-lg-6 be-user-activity-button send-btn be-message-type"><i class="fa fa-eye"></i>{{ 'users.see'|trans() }}</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="row">
                                        <div class="col-lg-10 col-lg-offset-1 text-center">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                                <input type="hidden" class="idUser" value="-1"/>
                                                <a href="{{ path('fos_user_security_login') }}" class="be-user-activity-button like-manager-no">
                                                    <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                                </a>
                                            {% else %}
                                                <input type="hidden" class="idUser" value="{{ app.user.id }}"/>
                                                {% set follow=false %}

                                                {% for likers in artwork.likers %}
                                                    {% if likers.id == app.user.id %}
                                                        {% set follow=true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if(follow == false) %}
                                                    <a href class="be-user-activity-button artwork-like-manager like-manager-no" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                        <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                                    </a>
                                                {% else %}
                                                    <a href class="be-user-activity-button artwork-like-manager like-manager-yes" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                        <i class="fa fa-thumbs-up"></i>{{ 'global.already_like'|trans() }}
                                                    </a>
                                                {% endif %}
                                                {% if artwork.author is not empty %}
                                                    {% if artwork.author[0].username != app.user.username %}
                                                        <a class="btn full color-9-5 size-3 hover-3 add-report-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                           style="margin-bottom: 15px;">{{ 'administration.reports.button.report_artwork'|trans() }}</a>
                                                    {% else %}
                                                        <a class="btn full color-6-5 size-3 hover-3 remove-my-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                           style="margin-bottom: 15px;">{{ 'administration.reports.button.remove_artwork'|trans() }}</a>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <h5 class="be-title">
                                    {{ 'global.array.description'|trans() }}
                                </h5>
                                <p class="be-text-userblock">
                                    {{ artwork.description | raw }}
                                </p>
                            </div>
                            <!-- <a href="#" class="be-button-vidget like-btn blue-style"><i class="fa fa-thumbs-o-up"></i>{{ 'global.buy'|trans() }}</a>
                                             --><!-- <a href="#" class="be-button-vidget add-btn grey-style"><i class="fa fa-file-o"></i>{{ 'collection.add'|trans() }}</a>
                            -->
                        </div>
                        <div class="be-comment-block float-left" id="be-comment-block">
                            {% if(artwork.comments.count == 0) %}
                                <h1 class="comments-title">{{ 'global.no_comments'|trans() }}</h1>
                            {% else %}
                                <h1 class="comments-title">{{ 'global.comments'|trans() }} ({{ artwork.comments.count }})</h1>
                            {% endif %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                <div class="about-comment-block">
                                    {{ 'global.you_must'|trans() }} <a href="{{ path('fos_user_security_login') }}" class="be-signup-link">{{ 'global.connect'|trans() }}</a>
                                    {{ 'global.to_join_conversation'|trans() }}.
                                </div>
                            {% endif %}
                            {% set i=0 %}
                            {% for comments in artwork.comments %}
                                {% if comments.comment == null %}
                                    <div class="be-comment">
                                        {% if comments.user != null %}
                                            <div class="be-img-comment text-center">
                                                <a href="{{ path('show_me', { 'id': comments.user.id }) }}">
                                                    {% if comments.user.picture != null %}
                                                        <img src="{{ asset('uploads/users/'~comments.user.id~'/'~comments.user.picture) }}" alt="" class="be-ava-comment">
                                                    {% else %}
                                                        <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="" class="be-ava-comment">
                                                    {% endif %}
                                                </a>
                                            </div>
                                        {% endif %}
                                        <div class="be-comment-content">
                                            <span class="be-comment-name">
                                                {% if comments.user != null %}
                                                    <a href="{{ path('show_me', { 'id': comments.user.id }) }}">{{ comments.user.username }}</a>
                                                {% endif %}
                                            </span>
                                            <span class="be-comment-time">
                                                <i class="fa fa-clock-o"></i>
                                                {{ comments.date|date('d/m/Y') }}
                                            </span>

                                            <div class="be-comment-text">
                                                {{ comments.content|raw }}
                                            </div>
                                        </div>
                                        {% if app.user is not null %}
                                            {% if comments.user.id != app.user.id %}
                                                <a title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment" data-id="{{ comments.id }}" data-locale="{{ app.request.locale }}"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ path('fos_user_security_login') }}" title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment-redirect"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                        {% endif %}

                                    </div>
                                    {% set commentAuthor = false %}
                                    {% for reply in comments.subComments %}
                                        <div class="be-comment pull-right" style="width: 75%;">
                                            {% if reply.user != null %}
                                                <div class="be-img-comment">
                                                    <a href="{{ path('show_me', { 'id': reply.user.id }) }}">
                                                        {% if reply.user.picture != null %}
                                                            <img src="{{ asset('uploads/users/'~reply.user.id~'/'~reply.user.picture) }}" alt="" class="be-ava-comment">
                                                        {% else %}
                                                            <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="" class="be-ava-comment">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="be-comment-content">
                                                <span class="be-comment-name">
                                                    {% if reply.user != null %}
                                                        <a href="{{ path('show_me', { 'id': reply.user.id }) }}">{{ reply.user.username }}</a>
                                                    {% endif %}
                                                </span>
                                                <span class="be-comment-time">
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ reply.date|date('d/m/Y') }}
                                                </span>

                                                <div class="be-comment-text">
                                                    {{ reply.content|raw }}
                                                </div>
                                            </div>
                                            {% if app.user is not null %}
                                                {% if reply.user.id != app.user.id %}
                                                    <a title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment" data-id="{{ reply.id }}" data-locale="{{ app.request.locale }}"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{{ path('fos_user_security_login') }}" title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment-redirect"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                            {% endif %}
                                        </div>
                                        {% if app.user != null and reply.user.id == app.user.id %}
                                            {% set commentAuthor = true %}
                                        {% endif %}
                                    {% endfor %}

                                    {% set lectureAuthor = false %}

                                    {% for user in artwork.author %}
                                        {% if app.user != null and user.id == app.user.id %}
                                            {% set lectureAuthor = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set i=i+1 %}
                                    {% if is_granted("ROLE_USER") %}
                                        {% if artwork.author[0].id == user.id %}
                                            <div class="form-group text-center">
                                                <form class="replyForm" name="replyForm{{ i }}" method="POST" action="{{ path('artwork_new_sub') }}">

                                                    <input type="hidden" name="numID" value="{{ i }}"/>
                                                    <input type="hidden" name="idArtwork" value="{{ artwork.id }}"/>
                                                    <input type="hidden" name="idComment" value="{{ comments.id }}"/>
                                                    <div class="col-lg-offset-6 col-lg-6" style="">
                                                        <label class="label-control">{{ 'global.respond_comment'|trans() }}</label>
                                                        <textarea style="width:100%;" name="subComment{{ i }}" class="texteditor2" class="form-input"></textarea>
                                                    </div>
                                                    <div class="col-sm-6 col-sm-offset-5">
                                                        <input type="submit" style="float: right; margin-top:3%;" class="btn color-1 size-2 hover-1 pull-right"
                                                               value="{{ 'global.send'|trans() }}"/>
                                                    </div>
                                                </form>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <div class="form-group float-left">
                                {% if is_granted('ROLE_USER') %}
                                    {{ form_start(commentsForm,{'method' : 'post','attr':{'class':'form-block'}} ) }}
                                    <label class="label-control">{{ 'global.add_comments'|trans() }}</label>
                                    {{ form_widget(commentsForm.comment, { 'attr':  {'class': 'form-input','required': 'required' }}) }}
                                    {{ form_errors(commentsForm.comment) }}

                                    <input type="submit" value="{{ 'global.send'|trans() }}" class="btn color-1 size-2 hover-1 pull-right"/>
                                    {{ form_end(commentsForm) }}
                                {% endif %}
                            </div>
                        </div>


                        {% if artwork_authors is not null %}
                            <h3 class="letf-menu-article hidden-xs">{{ 'related_artworks'|trans() }}</h3>
                            <div class="row hidden-xs">
                                {% for other_artwork in artwork_authors %}
                                    {% if other_artwork.id!= artwork.id %}
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="be-post style-2">
                                                <div class="be-post-date"><i class="fa fa-clock-o"></i> {{ other_artwork.dateCreation|date("m/d/Y", "Europe/Paris") }}</div>
                                                <a href="{{ path('artwork_show', { 'id': other_artwork.id }) }}" class="be-post-title">{{ other_artwork.title }}</a>
                                                <a href="{{ path('artwork_show', { 'id': other_artwork.id }) }}" class="be-img-block">
                                                    <img src="{{ uploads_artwork_cover|imagine_filter('coverArtworks')}}{{other_artwork.cover }}" alt="omg">
                                                </a>
                                                
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-3 col-md-pull-9 left-feild hidden-xs hidden-sm">
                        <div class="be-user-block">
                            {% if artwork.author is not empty %}
                                {% if artwork.author[0].picture is not null %}
                                    <div class="be-user-detail">
                                        <a class="be-ava-user" href="">
                                            <img src="{{ asset('uploads/users/'~artwork.author[0].id~'/'~artwork.author[0].picture) }}" alt="">
                                        </a>
                                        <p class="be-use-name">{{ artwork.author[0].username }}</p>
                                        <span class="be-user-info">
                                            {{ artwork.author[0].city  ~' '~ artwork.author[0].country }}
                                        </span>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if artwork.cover is not empty %}
                                <div class="be-user-detail">
                                    <a class="be-ava-user" href="" style="height:100%; width:100%;">
                                        <img src="{{ asset('uploads/artwork/cover/'~artwork.cover) }}" style="height:100%; width:100%;" alt="">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="be-user-activity-block">
                                {% if artwork.author is not empty %}
                                    <div class="row">
                                        <div class="col-lg-10 col-lg-offset-1 text-center">
                                            <a href="{{ path('show_me', { 'id': artwork.author[0].id }) }}" style="font-size:14px;padding-left:0px" class="col-lg-6 be-user-activity-button send-btn be-message-type"><i class="fa fa-eye"></i>{{ 'users.see'|trans() }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                            <input type="hidden" class="idUser" value="-1"/>
                                            <a href="{{ path('fos_user_security_login') }}" class="be-user-activity-button like-manager-no">
                                                <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                            </a>
                                        {% else %}
                                            <input type="hidden" class="idUser" value="{{ app.user.id }}"/>
                                            {% set follow=false %}

                                            {% for likers in artwork.likers %}
                                                {% if likers.id == app.user.id %}
                                                    {% set follow=true %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if(follow == false) %}
                                                <a href class="be-user-activity-button artwork-like-manager like-manager-no" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                    <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                                </a>
                                            {% else %}
                                                <a href class="be-user-activity-button artwork-like-manager like-manager-yes" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                    <i class="fa fa-thumbs-up"></i>{{ 'global.already_like'|trans() }}
                                                </a>
                                            {% endif %}
                                            {% if artwork.author is not empty %}
                                                {% if artwork.author[0].username != app.user.username %}
                                                    <a class="btn full color-9-5 size-3 hover-3 add-report-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                       style="margin-bottom: 15px;">{{ 'administration.reports.button.report_artwork'|trans() }}</a>
                                                {% else %}
                                                    <a class="btn full color-6-5 size-3 hover-3 remove-my-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                       style="margin-bottom: 15px;">{{ 'administration.reports.button.remove_artwork'|trans() }}</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <h5 class="be-title">
                                {{ 'global.array.description'|trans() }}
                            </h5>
                            <p class="be-text-userblock">
                                {{ artwork.description | raw }}
                            </p>
                        </div>
                        <!-- <a href="#" class="be-button-vidget like-btn blue-style"><i class="fa fa-thumbs-o-up"></i>{{ 'global.buy'|trans() }}</a>
                                         --><!-- <a href="#" class="be-button-vidget add-btn grey-style"><i class="fa fa-file-o"></i>{{ 'collection.add'|trans() }}</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="content-block">
            <div class="container be-detail-container">
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="blog-wrapper blog-list">
                            <div class="blog-post be-large-post">
                                <div class="info-block clearfix">
                                    <div class="be-large-post-align">
                                        <span class="like-manager-count">
                                            {% if liker %}
                                                <i class="fa fa-thumbs-up blue-style-1"></i> {{ artwork.likers|length }}
                                            {% else %}
                                                <i class="fa fa-thumbs-o-up "></i> {{ artwork.likers|length }}
                                            {% endif %}
                                        </span>
                                        <span style="font-size:14px;">{{ artwork.confidential|trans }}</span>
                                        <span class="be-text-tags white-space-normal">
                                            {% for category in artwork.category %}
                                                <a class="be-post-tag">{{ category.name|trans }}</a>
                                                {% if not loop.last %} , {% endif %}
                                            {% endfor %}
                                            {% for subcategory in artwork.subCategory %}
                                                {% if loop.first %} , {% endif %}
                                                <a class="be-post-tag">{{ subcategory.name|trans }}</a>
                                                {% if not loop.last %} , {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                </div>
                                <div class="be-large-post-align">
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <h5 class="be-post-title to">
                                                {{ artwork.title }}
                                            </h5>
                                        </div>
                                        {#{% if artwork.author is not empty %}
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <button type="submit" data-toggle="modal" data-target="#donation"
                                                            class="form-control fa fa-money be-button-vidget like-btn blue-style" style="padding:0;">
                                                        {{ 'donate'|trans() }} {{ 'global.to'|trans() }}&nbsp;{{ artwork.author[0].username }}
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}#}
                                    </div>
                                    <div class="be-text-tags clearfix">
                                        <div class="post-date  pull-left">
                                            <br />
                                            <i class="fa fa-clock-o"></i> &nbsp;&nbsp;{{ artwork.dateCreation|date("m/d/Y", "Europe/Paris") }}
                                        </div>
                                        
                                    </div>
                                    <div class="clear"></div>
                                </div>
                                <div class="post-text">
                                    {% if artwork.author is not empty %}
                                        <div class="image-block">
                                            <a class="popup-a" href="img/l1.jpg">
                                                <img src="{{ asset('uploads/artwork/user/'~artwork.author[0].id~'/'~artwork.cover) }}" alt="">
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="blog-content be-large-post-align">
                                    <div class="post-text ">
                                        {{ artwork.text | raw }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-md-pull-9 left-feild hidden-md hidden-lg">
                                <div class="be-user-block">
                                    {% if artwork.author is not empty %}
                                        <div class="be-user-detail">
                                            {% if artwork.author[0].picture is not null %}
                                                <a class="be-ava-user" href="">
                                                    <img src="{{ asset('uploads/users/'~artwork.author[0].id~'/'~artwork.author[0].picture) }}" alt="">
                                                </a>
                                            {% endif %}
                                            
                                                <p class="be-use-name">{{ artwork.author[0].username }}</p>
                                            
                                            <span class="be-user-info">
                                                {{ artwork.author[0].city  ~' '~ artwork.author[0].country }}
                                            </span>
                                        </div>
                                    {% endif %}
                                    {% if artwork.cover is not empty %}
                                        <div class="be-user-detail">
                                            <a class="be-ava-user" href="" style="height:100%; width:100%;">
                                                <img src="{{ asset('uploads/artwork/cover/'~artwork.cover) }}" style="height:100%; width:100%;" alt="">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="be-user-activity-block">
                                        {% if artwork.author is not empty %}
                                            <div class="row">
                                                <div class="col-lg-10 col-lg-offset-1 text-center">
                                                    <a href="{{ path('show_me', { 'id': artwork.author[0].id }) }}" style="font-size:14px;padding-left:0px" class="col-lg-6 be-user-activity-button send-btn be-message-type"><i class="fa fa-eye"></i>{{ 'users.see'|trans() }}</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1 text-center">
                                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                                    <input type="hidden" class="idUser" value="-1"/>
                                                    <a href="{{ path('fos_user_security_login') }}" class="be-user-activity-button like-manager-no">
                                                        <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                                    </a>
                                                {% else %}
                                                    <input type="hidden" class="idUser" value="{{ app.user.id }}"/>
                                                    {% set follow=false %}

                                                    {% for likers in artwork.likers %}
                                                        {% if likers.id == app.user.id %}
                                                            {% set follow=true %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if(follow == false) %}
                                                        <a href class="be-user-activity-button artwork-like-manager like-manager-no" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                            <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                                        </a>
                                                    {% else %}
                                                        <a href class="be-user-activity-button artwork-like-manager like-manager-yes" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                            <i class="fa fa-thumbs-up"></i>{{ 'global.already_like'|trans() }}
                                                        </a>
                                                    {% endif %}
                                                    {% if artwork.author is not empty %}
                                                        {% if artwork.author[0].username != app.user.username %}
                                                            <a class="btn full color-9-5 size-3 hover-3 add-report-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                               style="margin-bottom: 15px;">{{ 'administration.reports.button.report_artwork'|trans() }}</a>
                                                        {% else %}
                                                            <a class="btn full color-6-5 size-3 hover-3 remove-my-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                               style="margin-bottom: 15px;">{{ 'administration.reports.button.remove_artwork'|trans() }}</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <h5 class="be-title">
                                        {{ 'global.array.description'|trans() }}
                                    </h5>
                                    <p class="be-text-userblock">
                                        {{ artwork.description | raw }}
                                    </p>
                                </div>
                                <!-- <a href="#" class="be-button-vidget like-btn blue-style"><i class="fa fa-thumbs-o-up"></i>{{ 'global.buy'|trans() }}</a>
                                                 --><!-- <a href="#" class="be-button-vidget add-btn grey-style"><i class="fa fa-file-o"></i>{{ 'collection.add'|trans() }}</a>
                                -->
                            </div>
                            <div class="be-comment-block float-left" id="be-comment-block">
                                {% if(artwork.comments.count == 0) %}
                                    <h1 class="comments-title">{{ 'global.no_comments'|trans() }}</h1>
                                {% else %}
                                    <h1 class="comments-title">{{ 'global.comments'|trans() }} ({{ artwork.comments.count }})</h1>
                                {% endif %}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                    <div class="about-comment-block">
                                        {{ 'global.you_must'|trans() }} <a href="{{ path('fos_user_security_login') }}" class="be-signup-link">{{ 'global.connect'|trans() }}</a>
                                        {{ 'global.to_join_conversation'|trans() }}.
                                    </div>
                                {% endif %}
                                {% set i=0 %}
                                {% for comments in artwork.comments %}
                                    {% if comments.comment == null %}
                                        <div class="be-comment">
                                            {% if comments.user != null %}
                                                <div class="be-img-comment text-center">
                                                    <a href="{{ path('show_me', { 'id': comments.user.id }) }}">
                                                        {% if comments.user.picture != null %}
                                                            <img src="{{ asset('uploads/users/'~comments.user.id~'/'~comments.user.picture) }}" alt="" class="be-ava-comment">
                                                        {% else %}
                                                            <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="" class="be-ava-comment">
                                                        {% endif %}
                                                    </a>
                                                </div>
                                            {% endif %}
                                            <div class="be-comment-content">
                                                <span class="be-comment-name">
                                                    <a href="{{ path('show_me', { 'id': comments.user.id }) }}">{{ comments.user.username }}</a>
                                                </span>
                                                <span class="be-comment-time">
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ comments.date|date('d/m/Y') }}
                                                </span>

                                                <div class="be-comment-text">
                                                    {{ comments.content|raw }}
                                                </div>
                                            </div>
                                            {% if app.user is not null %}
                                                {% if comments.user.id != app.user.id %}
                                                    <a title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment" data-id="{{ comments.id }}" data-locale="{{ app.request.locale }}"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                                {% endif %}
                                            {% else %}
                                                <a href="{{ path('fos_user_security_login') }}" title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment-redirect"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                            {% endif %}

                                        </div>
                                        {% set commentAuthor = false %}
                                        {% for reply in comments.subComments %}
                                            <div class="be-comment pull-right" style="width: 75%;">
                                                {% if reply.user != null %}
                                                    <div class="be-img-comment">
                                                        <a href="{{ path('show_me', { 'id': reply.user.id }) }}">
                                                            {% if reply.user.picture != null %}
                                                                <img src="{{ asset('uploads/users/'~reply.user.id~'/'~reply.user.picture) }}" alt="" class="be-ava-comment">
                                                            {% else %}
                                                                <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="" class="be-ava-comment">
                                                            {% endif %}
                                                        </a>
                                                    </div>
                                                {% endif %}
                                                <div class="be-comment-content">
                                                    <span class="be-comment-name">
                                                        {% if reply.user != null %}
                                                            <a href="{{ path('show_me', { 'id': reply.user.id }) }}">{{ reply.user.username }}</a>
                                                        {% endif %}
                                                    </span>
                                                    <span class="be-comment-time">
                                                        <i class="fa fa-clock-o"></i>
                                                        {{ reply.date|date('d/m/Y') }}
                                                    </span>

                                                    <div class="be-comment-text">
                                                        {{ reply.content|raw }}
                                                    </div>
                                                </div>
                                                {% if app.user is not null %}
                                                    {% if reply.user.id != app.user.id %}
                                                        <a title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment" data-id="{{ reply.id }}" data-locale="{{ app.request.locale }}"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                                    {% endif %}
                                                {% else %}
                                                    <a href="{{ path('fos_user_security_login') }}" title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment-redirect"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                                {% endif %}
                                            </div>
                                            {% if app.user != null and reply.user.id == app.user.id %}
                                                {% set commentAuthor = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% set lectureAuthor = false %}

                                        {% for user in artwork.author %}
                                            {% if app.user != null and user.id == app.user.id %}
                                                {% set lectureAuthor = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% set i=i+1 %}
                                        {% if is_granted("ROLE_USER") %}
                                            {% if artwork.author[0].id == user.id %}
                                                <div class="form-group text-center">
                                                    <form class="replyForm" name="replyForm{{ i }}" method="POST" action="{{ path('artwork_new_sub') }}">

                                                        <input type="hidden" name="numID" value="{{ i }}"/>
                                                        <input type="hidden" name="idArtwork" value="{{ artwork.id }}"/>
                                                        <input type="hidden" name="idComment" value="{{ comments.id }}"/>
                                                        <div class="col-lg-offset-6 col-lg-6" style="">
                                                            <label class="label-control">{{ 'global.respond_comment'|trans() }}</label>
                                                            <textarea style="width:100%;" name="subComment{{ i }}" class="texteditor2" class="form-input"></textarea>
                                                        </div>
                                                        <div class="col-sm-6 col-sm-offset-5">
                                                            <input type="submit" style="float: right; margin-top:3%;" class="btn color-1 size-2 hover-1 pull-right"
                                                                   value="{{ 'global.send'|trans() }}"/>
                                                        </div>
                                                    </form>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                <div class="form-group float-left">
                                    {% if is_granted('ROLE_USER') %}
                                        {{ form_start(commentsForm,{'method' : 'post','attr':{'class':'form-block'}} ) }}
                                        <label class="label-control">{{ 'global.add_comments'|trans() }}</label>
                                        {{ form_widget(commentsForm.comment, { 'attr':  {'class': 'form-input','required': 'required' }}) }}
                                        {{ form_errors(commentsForm.comment) }}

                                        <input type="submit" value="{{ 'global.send'|trans() }}" class="btn color-1 size-2 hover-1 pull-right"/>
                                        {{ form_end(commentsForm) }}
                                    {% endif %}
                                </div>
                            </div>
                            <h3 class="letf-menu-article hidden-xs">{{ 'related_artworks'|trans() }}</h3>
                            <div class="row hidden-xs">
                                {% for other_artwork in artwork_authors %}
                                    {% if other_artwork.id!= artwork.id %}
                                        <div class="col-xs-12 col-sm-4">
                                            <div class="be-post style-2">
                                                <div class="be-post-date"><i class="fa fa-clock-o"></i> {{ other_artwork.dateCreation|date("m/d/Y", "Europe/Paris") }}</div>
                                                <a href="{{ path('artwork_show', { 'id': other_artwork.id }) }}" class="be-post-title">{{ other_artwork.title }}</a>
                                                <a href="{{ path('artwork_show', { 'id': other_artwork.id }) }}" class="be-img-block">
                                                    <img src="{{ uploads_artwork_cover|imagine_filter('coverArtworks')}}{{other_artwork.cover }}" alt="omg">
                                                </a>
                                                
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-pull-9 left-feild hidden-xs hidden-sm">
                        <div class="be-user-block">
                            {% if artwork.author is not empty %}
                                <div class="be-user-detail">
                                    {% if artwork.author[0].picture is not null %}
                                        <a class="be-ava-user" href="">
                                            <img src="{{ asset('uploads/users/'~artwork.author[0].id~'/'~artwork.author[0].picture) }}" alt="">
                                        </a>
                                    {% endif %}
                                    
                                        <p class="be-use-name">{{ artwork.author[0].username }}</p>
                                   
                                    <span class="be-user-info">
                                        {{ artwork.author[0].city  ~' '~ artwork.author[0].country }}
                                    </span>
                                </div>
                            {% endif %}
                            {% if artwork.cover is not empty %}
                                <div class="be-user-detail">
                                    <a class="be-ava-user" href="" style="height:100%; width:100%;">
                                        <img src="{{ asset('uploads/artwork/cover/'~artwork.cover) }}" style="height:100%; width:100%;" alt="">
                                    </a>
                                </div>
                            {% endif %}
                            <div class="be-user-activity-block">
                                {% if artwork.author is not empty %}
                                    <div class="row">
                                        <div class="col-lg-10 col-lg-offset-1 text-center">
                                            <a href="{{ path('show_me', { 'id': artwork.author[0].id }) }}" style="font-size:14px;padding-left:0px"
                                               class="col-lg-6 be-user-activity-button send-btn be-message-type"><i class="fa fa-eye"></i>{{ 'users.see'|trans() }}</a>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-lg-10 col-lg-offset-1 text-center">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                                            <input type="hidden" class="idUser" value="-1"/>
                                            <a href="{{ path('fos_user_security_login') }}" class="be-user-activity-button like-manager-no">
                                                <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                            </a>
                                        {% else %}
                                            <input type="hidden" class="idUser" value="{{ app.user.id }}"/>
                                            {% set follow=false %}

                                            {% for likers in artwork.likers %}
                                                {% if likers.id == app.user.id %}
                                                    {% set follow=true %}
                                                {% endif %}
                                            {% endfor %}
                                            {% if(follow == false) %}
                                                <a href class="be-user-activity-button artwork-like-manager like-manager-no" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                    <i class="fa fa-thumbs-o-up"></i>{{ 'global.like'|trans() }}
                                                </a>
                                            {% else %}
                                                <a href class="be-user-activity-button artwork-like-manager like-manager-yes" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}">
                                                    <i class="fa fa-thumbs-up"></i>{{ 'global.already_like'|trans() }}
                                                </a>
                                            {% endif %}
                                            {% if artwork.author is not empty %}
                                                {% if artwork.author[0].username != app.user.username %}
                                                    <a class="btn full color-9-5 size-3 hover-3 add-report-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                       style="margin-bottom: 15px;">{{ 'administration.reports.button.report_artwork'|trans() }}</a>
                                                {% else %}
                                                    <a class="btn full color-6-5 size-3 hover-3 remove-my-artwork" data-id="{{ artwork.id }}" data-locale="{{ app.request.locale }}"
                                                       style="margin-bottom: 15px;">{{ 'administration.reports.button.remove_artwork'|trans() }}</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <h5 class="be-title">
                                {{ 'global.array.description'|trans() }}
                            </h5>
                            <p class="be-text-userblock">
                                {{ artwork.description | raw }}
                            </p>
                        </div>
                        <!-- <a href="#" class="be-button-vidget like-btn blue-style"><i class="fa fa-thumbs-o-up"></i>{{ 'global.buy'|trans() }}</a>
                                         --><!-- <a href="#" class="be-button-vidget add-btn grey-style"><i class="fa fa-file-o"></i>{{ 'collection.add'|trans() }}</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="donation" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{ 'donate'|trans() }}</h4>
                    </div>
                    <div class="modal-body">
                        <input type="number" id="valuedonate" name="valuedonate" placeholder="Entrer la valeur" class="form-control"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="margin-bottom:0;">Close</button>
                        <input type="submit" class="btn btn-success" value="{{ 'Validate'|trans() }}"/>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.7.2/standard/ckeditor.js"></script>
    <script type="text/javascript">
        var reporting = new Reporting({});
        reporting.init();
    </script>

{% endblock %}
