{% extends 'layout2.html.twig' %}

{% block body %}
    <h1>Artwork</h1>
    <div class="table-responsive">
        <table class = "table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ artwork.id }}</td>
                </tr>
                <tr>
                    <th>Cover</th>
                    <td>{{ artwork.cover }}</td>
                </tr>
                <tr>
                    <th>File</th>
                    <td>{{ artwork.file }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ artwork.title }}</td>
                </tr>
                <tr>
                    <th>Datecreation</th>
                    <td>{{ artwork.dateCreation.date|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <th>Confidential</th>
                    <td>{{ artwork.confidential }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ artwork.description }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ artwork.text }}</td>
                </tr>
                <tr>
                    <th>Author</th>
                    {% for user in artwork.author %}
                    <td>{{ user.lastname  ~' '~ user.firstname }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>

    <ul>
        <li>
            <a href="{{ path('artwork_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('artwork_edit', { 'id': artwork.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
