{% extends '::layout2.html.twig' %}
{% block title %}
    {{ 'article.edit.add'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/shop/edit.css')}}">
{% endblock %}

{% block body %}
    
    <h1 align="center" class="padTop">{{ 'article.edit_add'|trans }}</h1>
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                {{ form_start(form) }}
                <form class="col-md-12">
                    <a class="btn color-1 size-1 hover-1" href="{{ path('article_show', { 'id' : article.id })}}"><i class="fa fa-chevron-left"></i>{{'global.back'|trans}}</a>

                    <input type="submit" value="{{ 'global.update'|trans }}" class="btn btn-success size-1 pull-right">
                    <div class="clearfix"><br></div>
                    
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 margTop">
                        <div class="form-group">
                            {{ form_label(form.name, null, {'label_attr': {'class':'form-label' }}) }}
                            {{ form_widget(form.name, { 'attr':  { 'class': 'form-control', }}) }}
                            {{ form_errors(form.name) }}
                        </div>
                        
                          <div class="form-group height_form">
                            <label class="form-label required">Image(s) du produit : </label>
                            <br>
                            
                            <div class="col-md-4 space">
                                <div class="img_to_send_add">
                                    <img src="" id="img_pop">
                                    <button type="button" class="btn btn-danger margLeft delete_img">Delete</button>
                                </div>
                                {{ form_widget(form.cover) }}
                            </div>
                        
                            <div class="col-md-4 space">
                                <div class="img_to_send_add_2">
                                    <img src="" id="img_pop_2">
                                    <button type="button" class="btn btn-danger margLeft delete_img_2">Delete</button>
                                </div>
                                {{ form_widget(form.image2) }}
                            </div>
                            <div class="col-md-4 space">
                                <div class="img_to_send_add_3">
                                    <img src="" id="img_pop_3">
                                    <button type="button" class="btn btn-danger margLeft delete_img_3">Delete</button>
                                </div>
                                {{ form_widget(form.image3) }}
                            </div>
                            <div class="col-md-4 space">
                                <div class="img_to_send_add_4">
                                    <img src="" id="img_pop_4">
                                    <button type="button" class="btn btn-danger margLeft delete_img_4">Delete</button>
                                </div>
                                {{ form_widget(form.image4) }}
                            </div>
                            <div class="col-md-4 space">
                                <div class="img_to_send_add_5">
                                    <img src="" id="img_pop_5">
                                    <button type="button" class="btn btn-danger margLeft delete_img_5">Delete</button>
                                </div>
                                {{ form_widget(form.image5) }}
                            </div>
                            <div class="col-md-4 space">
                                <div class="img_to_send_add_6">
                                    <img src="" id="img_pop_6">
                                    <button type="button" class="btn btn-danger margLeft delete_img_6">Delete</button>
                                </div>
                                {{ form_widget(form.image6) }}
                            </div>
                        </div> 
                        <div class="form-group">
                            {{ form_label(form.short_description, null, {'label_attr': {'class':'form-label' }}) }}
                            {{ form_widget(form.short_description, { 'attr':  { 'class': 'form-control' }}) }}
                            {{ form_errors(form.short_description) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(form.description, null, {'label_attr': {'class':'form-label' }}) }}
                            {{ form_widget(form.description, { 'attr':  { 'class': 'form-control' }}) }}
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="form-group halfWidth">
                            {{ form_label(form.price, null, {'label_attr': {'class':'form-label' }}) }}
                            {{ form_widget(form.price, { 'attr':  { 'class': 'form-control' }}) }}
                            {{ form_errors(form.price) }}
                        </div>
                        <div class="form-group halfWidth">
                            {{ form_label(form.category, null, {'label_attr': {'class':'form-label' }}) }}
                            {{ form_widget(form.category, { 'attr':  { 'class': 'form-control' }}) }}
                            {{ form_errors(form.category) }}
                        </div>
                        <div class="form-group halfWidth">
                            {{ form_label(form.tags, null, {'label_attr': {'class':'form-label' }}) }}
                            {{ form_widget(form.tags, { 'attr':  { 'class': 'form-control' }}) }}
                            {{ form_errors(form.tags) }}
                        </div>
                        <div class="form-group halfWidth">
                            {{ form_label(form.availability, null, {'label_attr': {'class':'control-label' }}) }}
                            {{ form_widget(form.availability, {'attr': { 'class': 'form-control' }}) }}
                            {{ form_errors(form.availability) }}
                        </div>
                        {# switch availability we show the correct input #}
                        <div id="div-quantity" class="form-group halfWidth" style="display: none">
                            {{ form_label(form.quantity, null, {'label_attr': {'class':'control-label' }}) }}
                            {{ form_widget(form.quantity, {'attr': { 'class': 'form-control' }}) }}
                            {{ form_errors(form.quantity) }}
                        </div>
                        <div id="div-creationTime" class="form-group halfWidth"  style="display: none">
                            {{ form_label(form.creationTime, null, {'label_attr': {'class':'control-label' }}) }}
                            {{ form_widget(form.creationTime, {'attr': { 'class': 'form-control' }}) }}
                            {{ form_errors(form.creationTime) }}
                        </div>
                        {# end switch availability #}
                        <div class="form-group halfWidth">
                            {{ form_label(form.shippingMode, null, {'label_attr': {'class':'control-label' }}) }}
                            {{ form_widget(form.shippingMode, {'attr': { 'class': 'form-control' }}) }}
                            {{ form_errors(form.shippingMode) }}
                        </div>
                        <div class="form-group halfWidth">
                            {{ form_label(form.shippingCountryFrom, null, {'label_attr': {'class':'control-label' }}) }}
                            {{ form_widget(form.shippingCountryFrom, {'attr': { 'class': 'form-control' }}) }}
                            {{ form_errors(form.shippingCountryFrom) }}
                        </div>
                        <div class="form-group halfWidth">
                            {{ form_label(form.shippingRegionFrom, null, {'label_attr': {'class':'control-label' }}) }}
                            {{ form_widget(form.shippingRegionFrom, {'attr': { 'class': 'form-control' }}) }}
                            {{ form_errors(form.shippingRegionFrom) }}
                        </div>
                    </div>
                    {{ form_rest(form) }} 
                    <div class="clearfix"><br></div>
                    <a class="btn color-1 size-1 hover-1" href="{{ path('article_show', { 'id' : article.id })}}"><i class="fa fa-chevron-left"></i>{{'global.back'|trans}}</a>
                    
                    <input type="submit" value="{{ 'global.update'|trans }}" class="btn btn-success size-1 pull-right">
                </form>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{{ asset('assets/js/shop/new.js') }}"></script>

    <script type="text/javascript">

    $(function() {
        var availability = $("#shopbundle_article_availability").val();

        if (availability == "en stock"){
            $("#div-quantity").slideDown();
        } else if (availability == "commande") {
            $("#div-creationTime").slideDown();
        }

        $("#shopbundle_article_availability").change(function(){
            var availability = this.value;
            switch(availability){
                case "en stock":
                    $("#div-creationTime").slideUp(function(){
                        $("#div-quantity").slideDown();
                    });
                    break;
                case "commande":
                    $("#div-quantity").slideUp(function(){
                        $("#div-creationTime").slideDown();
                    });
                    break;
                default:
                    $("#div-creationTime").slideUp();
                    $("#div-quantity").slideUp();
                    break;
            }
        });

        $(document).on('change', '.btn-file :file', function() {
            var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function(event, label) {});

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                    $("#img-upload").show();
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#user_picture").change(function(){
            readURL(this);
            $(".preview_picture").show();
        }); 

        $('.js-datepicker').datepicker({
            format: 'dd-mm-yyyy',
            language:'fr',
            changeMonth: true,
            changeYear: true,
            autoclose: true
        });

        $('#user_category').select2();
    });


    </script>
{% endblock %}
