{% extends '::layout2.html.twig' %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/article.css') }}" /> 
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/shop/show.css') }}" /> 
{% endblock %}

{% block body %}
    <div id="content-block">
        <div class="container be-detail-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ article.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <span class="underline">{{ 'article.categories'|trans }} : </span><br/>
                            <a href="{{ path('category_show',{'id':article.category.id}) }}">
                                {{ article.category.name|trans }}
                            </a>
                        </div>
                        <div class="panel-body">
                            <span class="underline">{{ 'article.tags'|trans }} : </span><br/>

                        </div>
                        {% if(article.owner.id != app.user.id) %}
                        <div class="panel-body">
                            <a href="{{ path('show_me', {'id':article.owner.id}) }}" class="btn color-1 size-2 hover-1 fL contact_sell">
                                {{ 'article.contact'|trans }} {{ article.owner.firstname }} {{ article.owner.lastname }}
                            </a>
                            <a href="{{ path('shop_index') }}" class="btn color-1 size-2 hover-1 fL">
                                {{ 'global.back'|trans }}
                            </a>
                        </div>
                        {% endif %}
                        <div class="panel-body">
                            <span class="underline">{{ 'article.short.description'|trans }} : </span>
                            <br/>
                            {{ article.ShortDescription }}
                        </div>
                        <div class="panel-body">
                            <span class="underline">{{ 'article.shippingMode'|trans }} : </span>
                            <br/>
                            {{ article.shippingMode }}
                        </div>
                    </div>
                    {% if(article.owner.id != app.user.id) %}
                        <button class="btn color-1 size-2 hover-1 fL_2" onclick="ajaxBuyArticle('{{ article.id }}')">{{ 'buy.article'|trans }}</button>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <div class="blog-wrapper blog-list">
                        {% if article.owner.id == app.user.id %}
                            <a class="btn color-1 size-2 hover-1" href="{{ path('article_edit', { 'id': article.id }) }}" style="margin:2px 2px;">
                                <i class="fa fa-pencil"></i> {{ 'article.edit'|trans}}
                            </a>
                            <button class="btn color-w size-2 hover-1 del_red"><i class="fa fa-trash"></i> {{ 'article.delete'|trans }}</button>
                        {% endif %}
                        <h2 class="page-header-one text-center">
                            {{ article.name }}
                        </h2>
                        <div class="blog-post be-large-post" style="background: #fff;">
                            <div class="info-block clearfix">
                                <div class="be-large-post-align">
                                    {#
                                        <span>
                                            <i class="fa fa-thumbs-o-up"></i>
                                            <span id="likers">{{article.likers|length}}</span>
                                        </span> #} {#
                                        <span>
                                        <i class="fa fa-eye"></i> {{article.viewers|length}}</span> #} {% if app.user %} {# {%if app.user in article.likers %}
                                        #}
                                        <label class="be-user-info">
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                            {{'global.already_like'|trans()}}
                                        </label>
                                    {# {% else %} #} {#
                                    <span class="button_like" style="float:right">
                                        <button onClick='like({{article.id}})' class="btn btn-general">{{ 'global.like'|trans }}</button>
                                    </span> #} {# {% endif %} #} {% endif %}
                                    
                                    <label class="be-search-info">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <span>4</span>
                                        {{'global.search'|trans()}}
                                    </label>
                                    <label class="be-comments-info">
                                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                                        <span>5</span>
                                        {{'global.comments'|trans()}}
                                    </label>
                                    <a class="artCat" href="{{ path('category_show',{'id':article.category.id}) }}">
                                        {{ article.category.name|trans }}
                                    </a>
                                </div>
                            </div>
                            <div class="be-large-post-align">
                                <div class="be-text-tags clearfix">
                                    <div class="post-date">
                                        <i class="fa fa-clock-o"></i> {{ 'article.publish'|trans }} {{article.dateCreated|date('d/m/Y')}}
                                    </div>
                                    <div class="author-post">
                                        {{ article.owner.firstname }} {{ article.owner.lastname }}
                                    </div>
                                </div>
                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                        <li data-target="#myCarousel" data-slide-to="1"></li>
                                        <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>

                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img class="lightImg" src="{{ asset('uploads/article/cover/'~article.owner.username~'/'~article.cover) }}" alt="">
                                        </div>
                                    </div>

                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                                <div class="row margTop">
                                    <div class="col-md-4">{{ article.availability }}</div>
                                    <div class="col-md-4 col-md-offset-4 alignRight">
                                        {{ 'price'|trans }}
                                        <span>{{ article.price }}</span>
                                        <span><i class="fa fa-eur" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <div class="sep"></div>
                                <div>
                                    <label for="desc">{{ 'article.details'|trans }}</label>
                                    <p>
                                        {{ article.description|raw }}
                                    </p>
                                </div>
                                <div class="sep"></div>
                                <div class="page-header margTop">
                                    <p class="margBot"><label for="shipping">{{ 'article.shippingMode'|trans }} : </label>
                                        <small>{{ article.shippingMode }}</small>
                                    </p>
                                    {% if(article.owner.id != app.user.id) %}
                                        <div class="col-md-4">
                                            <button class="btn color-1 size-2 hover-1">{{ 'article.buy'|trans }}</button>
                                        </div>
                                        <div class="col-md-4 col-md-offset-4">
                                            <a href="{{ path('show_me', {'id':article.owner.id}) }}" class="btn color-1 size-2 hover-1 fL contact_sell">
                                                {{ 'article.contact'|trans }} {{ article.owner.firstname }} {{ article.owner.lastname }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="sep"></div>
                                <div>
                                    <label for="coms">{{ 'global.comments'|trans }} </label for="coms">
                                    </div>
                                </div>
                            <!-- <div class="blog-content be-large-post-align">
                                <div class="post-text ">
                                    {% if app.request.get('_locale') == 'en' %} {# {{ article.textEn|raw }} ... #} {% else %} {# {{ article.text|raw }} ... #}
                                    {% endif %}
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    var url_vote = "{{ path('article_like') }}";
    var already_like = "{{"global.already_like"|trans()}}";
    </script>
    <script src="{{ asset('assets/js/article.js') }}"></script>
{% endblock %}
