{% extends "ForumBundle::layout.html.twig" %}
{% block title %}
  {{ 'forum.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="head-bg">
	<div class="head-bg-img" style="background-image: url({{ asset('home/img/Pinceau.jpg') }})"></div>
		<div class="head-bg-content">


		</div>	
	</div>
</div>
		
    <div id="wrap" class="wrap" style="padding-top: 18px;">
        <div id="inner-wrap">     
            <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
                <li class="breadcrumbs" style="max-width: 1125px;">
                    <span class="crumb" ">
                    	<a href="{{ path('forum_index') }}">
	                    	<i class="icon fa-home fa-fw"></i>
	                    	<span itemprop="title">{{'global.array.home'|trans }}</span>
	                    </a>
	                </span>
        		</li>
            </ul>      
        	<div id="page-body" class="page-body" role="main">
				<div class="forumlist_grid">
                    {% for forum in forums %}
    					<div class="forabg">
    						<div class="inner">
    							<ul class="topiclist">
    								<li class="header">
    									<dl class="row-item">
    										<dt><div class="list-inner">
                                                {% if app.request.get('_locale') == 'fr' %}
                                                    <a href="{{path('forum_show', { 'slug': forum.slug }) }}">
                                                    {{forum.title}}
                                                {% else %}
                                                    <a href="{{path('forum_show', { 'slug': forum.slugEn }) }}">
                                                    {{forum.titleEn}}
                                                {% endif %}
                                                </a>
                                            </div></dt>
    									</dl>
    								</li>
    							</ul>
                                <ul class="topiclist forums">
                                    {% for room in forum.rooms %}  
        								<li class="row">
        									<div class="grid_image_container">
                    							<div class="forumlist_grid_forum_image" style="background-image: url({{asset(uploads_room_cover~room.picture)}});">
                            						{% if app.request.get('_locale') == 'fr' %}
                                                        <a href="{{path('room_show', { 'slug': room.slug, 'page': '1' }) }}" class="grid_colour_overlay">
                                                    {% else %}
                                                        <a href="{{path('room_show_en', { 'slug': room.slugEn,  'page': '1' }) }}" class="grid_colour_overlay">
                                                    {% endif %}                    
                                                        <div class="forumlist_grid_title">
                                                            {% if app.request.get('_locale') == 'fr' %}
                                                                {{room.title}}
                                                            {% else %}
                                                                {{room.titleEn}}
                                                            {% endif %}
        						                        </div>                     
                                						<div class="forumlist_grid_numbers">
                                                            <i class="fa fa-book"></i> 3
                                                            <i class="fa fa-comments"></i> 5        
                                						</div>                     	
                            						</a>
                    							</div>
                        						<div class="grid_desc">
                                                    <span class="forum_description">
                                                        {% if app.request.get('_locale') == 'fr' %}
                                                            {{room.description}}
                                                        {% else %}
                                                            {{room.descriptionEn}}
                                                        {% endif %}
                                                    </span>
                        						</div>                
                    						</div>            
        								</li>
        							{% endfor %}
                                </ul>
    						</div>
    					</div>
                    {% endfor %}
			</div>
		</div>
	</div>
</body>

{% endblock %}