{% extends "ForumBundle::layout.html.twig" %}
{% block title %}
  {{ 'forum.title'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
<div class="head-bg">
    <br />
</div>
<div id="wrap" class="wrap" style="padding-top: 18px;">
                  
        <div id="inner-wrap">     
            <ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
                <li class="breadcrumbs" style="max-width: 1125px;">
                    <span class="crumb">
                        <a href="{{ path('forum_index') }}">
                            <i class="icon fa-home fa-fw"></i>
                            <span itemprop="title">{{'global.array.home'|trans }}</span>
                        </a>
                    </span>  
                    &nbsp;/
                    <span itemprop="title">
                        {% if app.request.get('_locale') == 'fr' %}
                            <a href="{{path('forum_show', { 'slug': room.forum.slug }) }}">
                            <span itemprop="title">{{room.forum.title}}</span>
                        {% else %}
                            <a href="{{path('forum_show', { 'slug': room.forum.slugEn }) }}">
                            <span itemprop="title">{{room.forum.titleEn}}</span>
                        {% endif %}
                        </a>
                    </span>
                    &nbsp;/
                    <span itemprop="title">
                        {% if app.request.get('_locale') == 'fr' %}
                            <a href="{{path('room_show', { 'slug': room.slug }) }}">
                            <span itemprop="title">{{room.title}}</span>
                        {% else %}
                            <a href="{{path('room_show_en', { 'slug': room.slugEn }) }}">
                            <span itemprop="title">{{room.titleEn}}</span>
                        {% endif %}
                        </a>
                    </span>
                </li>
            </ul>   
            <div id="page-body" class="page-body" role="main">                           
                <h2 class="forum-title">
                    {% if app.request.get('_locale') == 'fr' %}
                        {{room.title}}
                    {% else %}
                        {{room.titleEn}}
                    {% endif %}
                </h2>
            </div>

            <div class="action-bar bar-top">
                <a href="{{path('topic_new', {'slug' : room.slug}) }}" class="button specialbutton" title="{{'forum.publish_new_topic'|trans}}">
                        <span>{{'forum.new_topic'|trans}}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
                </a>
                <div class="pagination">
                    {% if topics|length > 0 %}
                        {{ topics|length }} 
                        {% if topics|length == 1%}{{'forum.topic'|trans}}{% else %}{{'forum.topics'|trans}}{% endif %} 
                    {% else %}
                        {{'forum.no_topic'|trans}}
                    {% endif %}
                    • {{'pagination.page'|trans}} <strong>{{ page }} </strong> {{'pagination.on'|trans}} <strong> {{total_page}}</strong>
                    
                </div>
            </div>
            <div class="forumbg">
                <div class="inner">
                    <ul class="topiclist">
                        <li class="header">
                            <dl class="row-item">
                                <dt><div class="list-inner">{{'forum.topics'|trans}}</div></dt>
                                <dd class="posts"><span class="icon fa-comments"></span></dd>
                                <dd class="views"><span class="icon fa-eye"></span></dd>
                                <dd class="lastpost"><span><span class="icon fa-clock-o"></span></span></dd>
                            </dl>
                        </li>
                    </ul>
    
                <ul class="topiclist topics">
                {% if topics is not empty %}
                    {% for topic in topics %}
                    <li class="row bg1">
                        <dl class="row-item topic_read">
                            <dt title="Aucun message non lu">
                                <div class="list-inner">
                                    {% if app.request.get('_locale') == 'fr' %}
                                        <a href="{{path('topic_show_fr', { 'slug': topic.slug, 'page': 1})}}" class="topictitle">{{topic.title}}</a>
                                    {% else %}
                                        <a href="{{path('topic_show_en', { 'slug': topic.slugEn, 'page': 1})}}" class="topictitle">{{topic.title}}</a>
                                    {% endif %}
                                    <br>
                                    <div class="topic-poster responsive-hide">
                                        {{'By'|trans}} <a href="{{ path('show_me', {'id': topic.writers[0].id })}}" class="username">{{topic.writers[0].username}}</a> <span class="clutter">» {{ topic.dateOpening|date('d-m-Y H:i')}}</span>
                                    </div>
                                </div>
                            </dt>
                            <dd class="posts">2 <dfn>Réponses</dfn></dd>
                            <dd class="views">{{ topic.viewers|length}} <dfn>Vues</dfn></dd>
                            <dd class="lastpost">
                                <span>
                                    <dfn>Dernier message </dfn>{{'By'|trans}} 
                                     <a href="{{ path('show_me', {'id': topic.writers[0].id })}}" class="username">{{topic.writers[0].username}}</a>
                                    <br>
                                    {{ topic.dateOpening|date('d-m-Y H:i')}}
                                </span>
                            </dd>
                        </dl>
                    </li>
                    {% endfor %}
                {% else %}
                    {{'forum.no_topic'|trans}}
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="action-bar bar-bottom">    
            <a href="{{path('topic_new', {'slug' : room.slug}) }}" class="button specialbutton" title="{{'forum.publish_new_topic'|trans}}">
                <span>{{'forum.new_topic'|trans}}</span> <i class="icon fa-pencil fa-fw" aria-hidden="true"></i>
            </a>

            <div class="pagination">
                {% if topics|length > 0 %}
                    {{ topics|length }} 
                    {% if topics|length == 1%}{{'forum.topic'|trans}}{% else %}{{'forum.topics'|trans}}{% endif %} 
                {% else %}
                    {{'forum.no_topic'|trans}}
                {% endif %}
                • {{'pagination.page'|trans}} <strong>{{ page }} </strong> {{'pagination.on'|trans}} <strong> {{total_page}}</strong>
                
            </div>
        </div>
 
</div>
</body>

{% endblock %}