{% extends "::layout2.html.twig" %}
{% block title %}{{ title|trans }}{% endblock %}

{% block body %}
    <!-- MAIN CONTENT --><br>
    <div class="inline-block">
        <div class="col-md-4 center-text-align">
            <span class="back-block">
                <a class="btn color-1 size-1" href="{{ path('show_me', {id: app.user.id}) }}"><i class="fa fa-chevron-left"></i>{{ 'profile.back'|trans() }}</a>
            </span>
        </div>
    </div>

    <br />
    {% if askingFriends is defined and askingFriends is not empty and user.id == app.user.id %}
        <h3 class="text-center"> {{ 'profile.pending_request'| trans }}</h3>
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div id="container-mix" class="be-user-wrapper row">
                        {% for user in askingFriends %}
                            <div class="custom-column-5">
                                <div class="be-user-block style-2" >
                                    <a class="be-ava-user style-2" href="{{path('show_me', { 'id' : user.id}) }}">
                                        {% if user.picture is not empty %}
                                            <img src="{{ asset('uploads/users/'~ user.id ~ '/' ~ user.picture) }}" alt="">
                                        {% else %}
                                            <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="">
                                        {% endif %}
                                    </a>
                                    <div class="be-user-counter">
                                        <div class="c_number">{{user.followers|length}}</div>
                                        <div class="c_text">{{'Subscribers'|trans}}</div>
                                    </div>
                                    <a href="{{path('show_me', { 'id' : user.id}) }}" class="be-use-name">{{ user.username}}</a>

                                    <div class="be-text-tags">
                                        {% for cat in user.category %}
                                            <a href="{{ path('category_show', { 'id': cat.id }) }}">{{cat.name}}
                                                {% if not loop.last %}, {% endif %}
                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="info-block">                                       
                                        <span class="ajax_info_action">
                                            <a class="btn color-1 size-2 hover-1 first_button" onClick="acceptFriend('{{user.id}}')" style="margin:2px 2px;">
                                                {{ 'profile.accept_friend'|trans}}
                                            </a> 
                                            <a class="btn btn-danger size-2 hover-1 first_button" onClick="refuseFriend('{{user.id}}')" style="margin:2px 2px;">
                                                {{ 'profile.refuse_friend'|trans}}
                                            </a> 
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <br />
    <h3 class="text-center"> {{ title| trans }}</h3>
    <br />
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div id="container-mix-followings" class="be-user-wrapper row">
                    {% for user in users %}
                        <div class="custom-column-5">
                            <div class="be-user-block style-2" >
                                <a class="be-ava-user style-2" href="{{path('show_me', { 'id' : user.id}) }}">
                                    {% if user.picture is not empty %}
                                        <img src="{{ asset('uploads/users/'~ user.id ~ '/' ~ user.picture) }}" alt="">
                                    {% else %}
                                        <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="">
                                    {% endif %}
                                </a>
                                <div class="be-user-counter">
                                    <div class="c_number">{{user.followers|length}}</div>
                                    <div class="c_text">{{'Subscribers'|trans}}</div>
                                </div>
                                <a href="{{path('show_me', { 'id' : user.id}) }}" class="be-use-name">{{ user.username}}</a>

                                <div class="be-text-tags">
                                    {% for cat in user.category %}
                                        <a href="{{ path('category_show', { 'id': cat.id }) }}">{{cat.name}}
                                            {% if not loop.last %}, {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                                <!--           <div class="info-block">                                       
                                              <span> </span>
                                          </div> -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 center-text-align">
        <span id="data-length">
            <input type="hidden" class="data-length" data-length="{{users|length}}" />
        </span>
        <a class="be-register btn color-3-1 size-2 hover-1 show-more-followings">{{ 'show_more'|trans() }}</a>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        var error = "{{ 'global.error'|trans() }}";
        var url_acceptFriend = "{{ path('user_accept_friend') }}";
        var url_refuseFriend = "{{ path('user_refuse_friend') }}";
        var accepted = "{{ 'profile.accept_friend'|trans }}";
        var refused = "{{ 'profile.refuse_friend'|trans }}";
        var empty_users = "{{ 'global.empty_users'|trans }}";
        var user_id
                = "{{ user.id }}";
    </script>
    <script>
        var subscribers = "{{'Subscribers'|trans}}";
        var locale = "{{ app.request.locale }}";
        var uploads_user_picture = "{{asset('uploads/users/')}}";
        var default_img = "{{asset('themeforest/img/Empty-profile.png')}}";
    </script>
    <script src="{{ asset('assets/js/followings_show_more.js') }}"></script>
    <script src="{{ asset('assets/js/profile.js') }}"></script>
</script>
{% endblock %}
