{% extends '::layout2.html.twig' %}
{% block title %}
  {{ 'contact.contact_us'|trans() }} - {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                {{'global.edit_contact'|trans()}}
            </h3> 
            <div class="col-sm-1 col-sm-offset-10">
            {{ form_start(delete_form) }}
            
                <div class="pull-left">
                    <input type="submit" value="{{'global.delete'|trans()}}" class="btn btn-danger">
                </div>

            {{ form_end(delete_form) }}
            </div>
            <div class="block">
                {{ form_start(edit_form) }}
                <div class="col-xs-12" style="margin-top:2%;">
                        <div class="form-group fl_icon">
                            <div class="col-lg-2 col-md-4">
                                {{ form_label(edit_form.name, null, {'label_attr': {'class':'control-label' }}) }}
                            </div>
                            <div class="col-lg-12 col-md-12 noPadLeft">
                                {{ form_widget(edit_form.name, { 'attr':  {
                                                        'class': 'form-control',
                                                    }})
                                }}
                            </div>
                        </div>
                </div>
                <div class="col-xs-12 fl_icon" style="margin-top:2%;">
                        <div class="form-group fl_icon">
                            <div class="col-lg-2 col-md-4">
                                {{ form_label(edit_form.subject, null, {'label_attr': {'class':'control-label' }}) }}
                            </div>
                            <div class="col-lg-12 col-md-12 noPadLeft">
                            
                               {{ form_widget(edit_form.subject, { 'attr':  {
                                    'class': 'form-control',
                                }}) }}
                            </div>
                        </div>
                </div>                                      
                <div class="col-xs-12" style="margin-top:2%;"> 
                        <div class="form-group fl_icon">
                            <div class="col-lg-2 col-md-4">
                                {{ form_label(edit_form.message, null, {'label_attr': {'class':'control-label' }}) }}
                            </div>
                            <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(edit_form.message, { 'attr':  {
                                'class': 'form-control',
                            }}) }}
                            </div>
                        </div>
                </div>
                <div class="col-xs-12" style="margin-top:2%;">
                        <div class="form-group">
                            <div class="col-lg-4 col-md-6">
                                <input type="submit" value="{{'global.edit'|trans()}}" style="margin:0;" class="btn btn-success"/>
                             {{ form_end(edit_form) }}
                                <a href="{{  path('contact_index') }}" class="btn btn-danger" /> <i class="fa fa-arrow-left" aria-hidden="true"></i>  {{ 'global.back'|trans() }}
                                </a> 
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
