{% extends "::layout_admin.html.twig" %}
{% block title %}
   {{ 'contact.messages'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h3 class="content-title" style="padding: 2%;"><i class="fa fa-list" aria-hidden="true"></i> {{ 'contact.list'|trans() }}</h3>
    <div class="container">
        <div style="margin-bottom:2%;">
            <a href="{{ path('contact_new') }}" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> {{'global.new'|trans()}} 
            </a>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class = "table table-bordered text-center">
                    <thead>
                        <tr>
                            <th>{{ 'global.array.ref'|trans() }}</th>
                            <th>{{ 'contact.email'|trans() }}</th>
                            <th>{{ 'contact.subject'|trans() }}</th>
                            <th>{{ 'contact.message'|trans() }}</th>
                            <th>{{ 'global.array.actions'|trans() }}</th>
                           </tr>
                    </thead>
                    <tbody>
                    
                    {% for contact in contacts %}
                        <tr>
                            <td><a href="{{ path('contact_show', { 'id': contact.id }) }}" class ="btn btn-warning">{{ 'global.show'|trans() }}</a></td>
                            <td>{{ contact.name }}</td>
                            <td>{{ contact.subject.name }}</td>
                            <td>{{ contact.message }}</td>
                            <td>
                                <a href="{{ path('contact_show', { 'id': contact.id }) }}" class ="btn btn-warning" >{{ 'global.show'|trans() }}</a>
                                <a href="{{ path('contact_edit', { 'id': contact.id }) }}" class ="btn btn-danger">{{ 'global.delete'|trans() }}</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
