{% extends "AppBundle::layout.html.twig" %}
{% block title %}
  {{ 'contact.contact_us'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h3 class="content-title" style="padding: 2%;">
            <i class="fa fa-envelope-o" aria-hidden="true"></i> {{'contact.contact_us'|trans()}}
        </h3>
        {% if message is defined %}
        <div class="row text-center" style="margin-bottom: 2%;">
            <div class="col-sm-8 col-sm-push-2">
                <div class="alert-success" style="padding: 2%;">
                 {{'contact.add_success'|trans()}}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="block">
            {{ form_start(form) }}
            <div class="col-lg-12">
                <div class="form-group clearfix">
                    
                     {% if is_granted("IS_AUTHENTICATED_REMEMBERED")==false  %}
                            <div class="col-xs-12">
                                <div class="col-lg-2 col-md-4">
                                    {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                                </div>
                                {{ form_errors(form.name) }}
                                <div class="col-lg-12 col-md-12 noPadLeft">
                                    {{ form_widget(form.name, { 'attr':  {
                                            'class': 'form-control',
                                            'required' : 'required',
                                            'placeholder' : 'contact.email'|trans(),
                                        }}) 
                                    }}
                                </div>
                            </div>

                        {% else  %}

                            <div class="col-xs-12" style="display:none;">
                                <div class="col-lg-2 col-md-4">
                                    {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                                </div>
                                {{ form_errors(form.name) }}
                                <div class="col-lg-12 col-md-12 noPadLeft">
                                    {{ form_widget(form.name, { 'attr':  {
                                            'hidden' : 'hidden',
                                            'class': 'form-control',
                                            'required' : 'required',
                                            'value' : user.email,
                                            'placeholder' : 'contact.email'|trans(),
                                        }}) 
                                    }}
                                </div>
                            </div>

                        {% endif %}
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <div class="col-lg-2 col-md-4">
                            {{ form_label(form.subject, null, {'label_attr': {'class':'control-label' }}) }}
                        </div>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if 'ROLE_SUPER_ADMIN' in app.user.roles %}
                        {{ form_errors(form.subject) }}
                        <div class="col-lg-6 col-md-6 noPadLeft">
                            {{ form_widget(form.subject, { 'attr':  {
                                'class': 'form-control',
                            }}) }}
                        </div> 
                        <div class="col-lg-4 col-md-4 noPadLeft">
                            <a href="{{path('subject_new')}}" class="btn btn-success">{{'subject.add_new'|trans()}}</a>
                        </div>    
                        {% endif %}
                        {% else %}
                        <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(form.subject, { 'attr':  {
                                'class': 'form-control',
                            }}) }}
                        </div> 
                        {% endif %}
                    </div>
                </div>
                <div class="form-group clearfix">
                    <div class="col-xs-12">
                        <div class="col-lg-2 col-md-4">
                            {{ form_label(form.message, null, {'label_attr': {'class':'control-label' }}) }}
                        </div>
                        {{ form_errors(form.message) }}
                        <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(form.message, { 'attr':  {
                                'class': 'form-control',
                                'required' : 'required',
                                'rows' : '5',
                            }}) }}
                        </div> 
                    </div>
                </div>
            </div> 
            <div class="text-center">
                <input type="submit" style="margin-top:2%;" class="btn btn-success" value=" {{ 'global.send'|trans() }}" />
            </div>
        {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

