{% extends "AppBundle::layout.html.twig" %}
{% block title %}
   {{ 'contact.message'|trans() }} - {{ parent() }}
{% endblock %}

{% block body %}
<h3 class="content-title" style="padding: 2%;"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
                {{ 'contact.message'|trans() }}
    </h3>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class = "table table-bordered">
                    <tbody>
                        <tr>
                            <th>{{ 'global.array.ref'|trans() }}</th>
                            <td>{{ contact.id }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'contact.email'|trans() }}</th>
                            <td>{{ contact.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'contact.subject'|trans() }}</th>
                            <td>{{ contact.subject.name }}</td>
                        </tr>
                        <tr>
                            <th>{{ 'contact.message'|trans() }}</th>
                            <td>{{ contact.message }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a style="margin-top:3%;" href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        </div>
    </div>

{% endblock %}
