{% extends 'layout2.html.twig' %}

{% block body %}
    <h1>Report</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ report.id }}</td>
            </tr>
            <tr>
                <th>Criticity</th>
                <td>{{ report.criticity }}</td>
            </tr>
            <tr>
                <th>Objectreport</th>
                <td>{{ report.objectReport }}</td>
            </tr>
            <tr>
                <th>Statusreportingadmin</th>
                <td>{{ report.statusReportingAdmin }}</td>
            </tr>
            <tr>
                <th>Datecreation</th>
                <td>{{ report.dateCreation }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ report.text }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('report_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('report_edit', { 'id': report.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
