<div class="row">
    <div class="col-xs-12">
        <p>{{ 'global.remove_my_lecture'|trans() }}  <strong>{{ entity.name|capitalize|raw }} ?</strong></p>
        <form class="remove-my-lecture-form" name="lecture" method="delete" action="{{ path('remove_my_lecture', { 'id': entity.id }) }}">
            {{ form_widget(form) }}
        </form>
    </div>
</div>
