{% extends "::layout2.html.twig" %}
{% block title %}
    {{ 'lecture.courses'|trans()}} - {{ parent() }}
{% endblock %}

{% block body %}
    <div id="content-block">
        <div class="container custom-container be-detail-container">
            <div class="row">
                <div class="col-md-8 col-md-push-4">
                    <div class="be-large-post">
                        <div class="info-block">
                            <div class="be-large-post-align">
                                <span><i class="fa fa-thumbs-o-up"></i> {{lecture.likers|length}}</span>
                                <span><i class="fa fa-eye"></i> {{lecture.views}}</span>
                                <span><a href="#be-comment-block" class="navC" style="color: inherit;"><i class="fa fa-comment-o"></i> {{lecture.comments.count}}</a></span>
                                <span><i class="fa fa-download"></i> {{lecture.numberDownload}}</span>
                                <span>
                                    {% if app.user in lecture.author %}
                                        <a href="{{ path('lecture_edit', { 'id': lecture.id }) }}" class="btn btn-success">{{ 'global.edit'|trans()}}</a>
                                    {% endif %}
                                </span>
                                <span class="be-text-tags pull-right">
                                    {% for key,value in lecture.tags %}
                                        <a href="#" class="be-post-tag">{{value}}</a>,
                                    {% endfor %}
                                </span>	
                            </div>
                        </div>
                        <div class="blog-content popup-gallery be-large-post-align">
                            <div class="row" style="border-bottom: 1px solid #edeff2;margin-bottom:1%;"> 
                                <h5 class="content-title col-sm-8">
                                    {{lecture.name}}
                                </h5>
                                <div class="col-sm-4 pull-right">
                                    <a href="{{ path('lecture_download', { 'id' : lecture.id}) }}" class="btn" style="background-color:#2b2b2b; color: white ">{{ 'global.download'|trans() }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="be-text-tags clearfix">
                                    <div class="post-date col-sm-3">
                                        <i class="fa fa-clock-o"></i> {{lecture.date|date('d/m/Y')}}
                                    </div>

                                    <div class="author-post col-sm-6 pull-right">
                                        {% for author in lecture.author %}
                                            {% if(author.picture is not empty) %}
                                                <img src="{{asset('uploads/users/'~author.id~'/'~author.picture)}}" alt="{{author.username}}" class="ava-author" style="margin:0;">
                                            {% else %}
                                                <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="{{author.username}}" class="ava-author" style="margin:0;">
                                            {% endif %}
                                            <span>{{'sidebar.by'|trans()}} <a href="{{ path('show_me', { 'id': author.id }) }}">{{author.username}}</a></span>
                                                {% if loop.last == false %}
                                                ,
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="post-text">
                                <div class="image-block">
                                    <a class="popup-a" href="">
                                        {% if lecture.cover is not empty %}
                                            <img src="{{asset('uploads/lecture/cover/'~lecture.cover)}}" alt="">
                                        {% else %}
                                            <img src="{{ asset('themeforest/img/No-cover.jpg') }}" alt="{{author.username}}" class="ava-author" style="margin:0;">
                                        {% endif %}
                                    </a>
                                </div>


                                <p>
                                    {{lecture.description|raw}}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="be-large-post-align col-sm-4" style="margin: 0 0 0 10%;">
                                <h3 class="letf-menu-article">
                                    {{'global.tags'|trans()}}
                                </h3>
                                <div class="tags_block clearfix">
                                    <ul>
                                        {% for key,value in lecture.tags %}
                                            <li><a href="#">{{value}}</a></li>
                                            {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="be-large-post-align col-sm-4 pull-right">
                                <h3 class="letf-menu-article">
                                    {{'lecture.category'|trans()}}
                                </h3>
                                <div class="tags_block clearfix pull-rigth">
                                    {% for categorie in lecture.category %}
                                        <li>
                                            <a href="{{ path('lecture_search_category', {'id' : categorie.id})}}" class="be-post-tag">{{categorie.name}}</a>
                                        </li>
                                    {% endfor %}
                                </div>
                            </div>	
                        </div>
                        <div class="row" style="margin-top:5%;">
                            <div class="col-sm-6">	
                                {% if app.user in lecture.author %}
                                    <div class="be-large-post-align" style="margin-top: 3%;">
                                        <div class="row">	
                                            <div class="col-sm-3 col-sm-offset-3">
                                                <a id="add_authors_btn" class="btn" style="background-color:#2b2b2b; color: white ">{{ 'lecture.add_authors'|trans() }}</a>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            {{ form_start(form)}}
                                            <div class="form-group">
                                                {{ form_errors(form.author) }}
                                                <div class="col-lg-12 col-md-12 noPadLeft">
                                                    {{ form_widget(form.author, { 'attr':  {
										               'class': 'form-control',
                                                    }}) }}
                                                </div>
                                                <div class="col-lg-12 col-md-12 noPadLeft text-center" style="margin-top:2%;">
                                                    <input type="submit" value="{{ 'global.send'|trans() }}" class="btn color-1 size-2 hover-1" />
                                                </div>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group text-center">
                                    {% if is_granted('ROLE_USER') %}
                                        <div class="voteSpace">
                                            <div class="rating rating2 text-center">
                                                <a class="stars star5" id="5" title="Give 5 stars">★</a>
                                                <a class="stars star4" id="4" title="Give 4 stars">★</a>
                                                <a class="stars star3" id="3" title="Give 3 stars">★</a>
                                                <a class="stars star2" id="2" title="Give 2 stars">★</a>
                                                <a class="stars star1" id="1" title="Give 1 star">★</a>
                                                <span class="be-text-tags pull-right">
                                                    {% if moyenneVote is not null %}
                                                        <a href="#" class="be-post-tag">{{'average'|trans()}}    {{moyenneVote}}</a>
                                                    {% else %}
                                                        <a href="#" class="be-post-tag">{{'average'|trans()}}    
                                                            0 
                                                        </a>
                                                    {% endif %}
                                                </span>
                                            </div>
                                            <div class="text-center">

                                                <input type="hidden" class="userVote" name="userVote" value="{{userVote}}">
                                                {% if userNote is not null %}
                                                    <input type="hidden" class="userVoteId" name="userVoteId" value="{{userNote.id}}">
                                                {% else %}
                                                    <input type="hidden" class="userVoteId" name="userVoteId" value="-1">
                                                {% endif %}
                                                <input type="hidden" name="lectureId" class="lectureId" value="{{lecture.id}}" />
                                                <button style="margin-right:0;" class="btn color-1 size-2 hover-1 voteSubmit">
                                                    {{ 'vote'|trans() }}
                                                </button>
                                                <div class="loader" style="display:none;"></div> 
                                                {% if userVote=='true' %}
                                                    {% if userNote is not null %}
                                                        <label style="margin-left:3%;">{{'your_vote'|trans()}} : {{userNote.note}}</label>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% else %}
                                        {% if moyenneVote != 'null' %}
                                            <div class="ratingF rating2">
                                                {% for i in 1..moyenneVote %}
                                                    <a class="stars star{{i}}" id="{{i}}" title="Give {{i}} star">★</a>
                                                {% endfor %}	
                                                <span class="be-text-tags pull-right">
                                                    {% if moyenneVote is not null%}
                                                        <a href="#" class="be-post-tag">{{'average'|trans()}}    {{moyenneVote}}</a>
                                                    {% else %}
                                                        <a href="#" class="be-post-tag">{{'average'|trans()}} 0</a>
                                                    {% endif %}
                                                </span>
                                            </div>

                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>				
                    </div>
                    <div class="be-comment-block float-left" id="be-comment-block">
                        {% if(lecture.comments.count == 0) %}
                            <h1 class="comments-title">{{'global.no_comments'|trans()}}</h1>
                        {% else %}
                            <h1 class="comments-title">{{'global.comments'|trans()}} ({{lecture.comments.count}})</h1>
                        {% endif %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                            <div class="about-comment-block">
                                {{'global.you_must'|trans()}}  <a href="{{ path('fos_user_security_login') }}" class="be-signup-link">{{'global.connect'|trans()}}</a>
                                {{'global.to_join_conversation'|trans()}}.
                            </div>
                        {% endif %}
                        {% set i=0 %}
                        {% for comments in lecture.comments %}
                            {% if comments.comment == null %}
                                <div class="be-comment">
                                    {% if comments.user != null %}
                                        <div class="be-img-comment text-center">
                                            <a href="{{ path('show_me', { 'id': comments.user.id }) }}">
                                                {% if comments.user.picture is not empty %}
                                                    <img src="{{asset('uploads/users/'~comments.user.id~'/'~comments.user.picture)}}" alt="" class="be-ava-comment">
                                                {% else %}
                                                    <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="" class="be-ava-comment"
                                                    {% endif %}
                                                    <span class="be-comment-name" style="color: black;">
                                                    {{comments.user.username}}
                                                </span>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="be-comment-content">
                                        <span class="be-comment-name">
                                            {% if comments.user != null %} 
                                                {% if comments.user.firstname|length > 0 %} 
                                                    <a href="{{ path('show_me', { 'id': comments.user.id }) }}">{{ comments.user.firstname }} {{ comments.user.lastname }}</a>
                                                {% else %}
                                                    <a href="{{ path('show_me', { 'id': comments.user.id }) }}">{{ comments.user.username }}</a>
                                                {% endif %}
                                            {% endif %}
                                        </span>
                                        <span class="be-comment-time">
                                            <i class="fa fa-clock-o"></i>
                                            {{comments.date|date('d/m/Y')}}
                                        </span>

                                        <div class="be-comment-text">
                                            {{comments.content|raw}}
                                        </div>
                                    </div>

                                    {% if app.user is not null and comments.user is not null %}
                                        {% if comments.user.id != app.user.id %}
                                            <a title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment" data-id="{{ comments.id }}" data-locale="{{ app.request.locale }}"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ path('fos_user_security_login') }}" title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment-redirect"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                    {% endif %}

                                </div>
                                {% set commentAuthor = false %}
                                {% for reply in comments.subComments %}
                                    <div class="be-comment pull-right" style="width: 75%;">
                                        {% if reply.user != null %}
                                            <div class="be-img-comment">
                                                <a href="{{ path('show_me', { 'id': reply.user.id }) }}">
                                                    {% if reply.user.picture is not empty %}
                                                        <img src="{{asset('uploads/users/'~reply.user.id~'/'~reply.user.picture)}}" alt="" class="be-ava-comment">
                                                    {% else %}
                                                        <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="" class="be-ava-comment">
                                                    {% endif %}

                                                </a>
                                            </div>
                                        {% endif %}
                                        <div class="be-comment-content">
                                            <span class="be-comment-name">
                                                {% if reply.user != null %} 
                                                    {% if reply.user.firstname|length > 0 %} 
                                                        <a href="{{ path('show_me', { 'id': reply.user.id }) }}">{{ reply.user.firstname }} {{ reply.user.lastname }}</a>
                                                    {% else %}
                                                        <a href="{{ path('show_me', { 'id': reply.user.id }) }}">{{ reply.user.username }}</a>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                            <span class="be-comment-time">
                                                <i class="fa fa-clock-o"></i>
                                                {{reply.date|date('d/m/Y')}}
                                            </span>

                                            <div class="be-comment-text">
                                                {{reply.content|raw}}
                                            </div>
                                        </div>
                                        {% if app.user is not null %}
                                            {% if reply.user.id != app.user.id %}
                                                <a title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment" data-id="{{ reply.id }}" data-locale="{{ app.request.locale }}"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ path('fos_user_security_login') }}" title="{{ 'administration.reports.button.report_comment'|trans() }}" class="btn add-report-comment-redirect"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'administration.reports.button.report_comment'|trans() }}</a>
                                        {% endif %}
                                    </div>
                                    {% if app.user != null and reply.user.id == app.user.id %}
                                        {% set commentAuthor = true %}
                                    {% endif %}
                                {% endfor %}

                                {% set lectureAuthor = false %}

                                {% for user in lecture.author %}
                                    {% if app.user != null and user.id == app.user.id %}
                                        {% set lectureAuthor = true %}
                                    {% endif %}
                                {% endfor %}
                                {% set i=i+1 %}
                                {% if is_granted("ROLE_USER") %}
                                    <div class="form-group text-center">
                                        <form class="replyForm" name="replyForm{{i}}" method="POST" action="{{ path('subcomment_new')}}">

                                            <input type="hidden" name="numID" value="{{i}}" />
                                            <input type="hidden" name="idLecture" value="{{lecture.id}}" />
                                            <input type="hidden" name="idComment" value="{{comments.id}}" />
                                            <div class="col-lg-offset-6 col-lg-6" style="">
                                                <label class="label-control">{{'global.respond_comment'|trans()}}</label>
                                                <textarea style="width:100%;" name="subComment{{i}}" class="texteditor" class="form-input"></textarea>
                                            </div>
                                            <div class="col-sm-6 col-sm-offset-5">
                                                <input type="submit" style="float: right; margin-top:3%;" class="btn color-1 size-2 hover-1 pull-right" value="{{ 'global.send'|trans() }}" />
                                            </div>
                                        </form> 
                                    </div>   

                                {% endif %}
                            {% endif %} 
                        {% endfor %}

                        <div class="form-group float-left">
                            {% if is_granted('ROLE_USER') %}
                                {{ form_start(commentsForm,{'method' : 'post','attr':{'class':'form-block'}} ) }}
                                <label class="label-control">{{'global.add_comments'|trans()}}</label>
                                {{ form_widget(commentsForm.comment, { 'attr':  {'class': 'form-input','required': 'required' }}) }}
                                {{ form_errors(commentsForm.comment) }}

                                <input type="submit" value="{{ 'global.send'|trans() }}" class="btn color-1 size-2 hover-1 pull-right" />
                                {{ form_end(commentsForm) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8 left-feild">
                    <div class="be-user-block">
                        <div class="be-user-detail">
                            <h4 class="content-title">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                {{'lecture.summary'|trans()}}
                            </h4>
                            {% if app.user in lecture.author %}
                                <span class="be-user-info">
                                    {{ 'Status'|trans }} : {{ lecture.statut|trans|raw }}, {{ 'language'|trans }} : {{ lecture.language }}
                                </span>
                            {% endif %}
                        </div>
                        <div class="be-user-activity-block">
                            <div class="row">
                                <div class="col-lg-6">
                                    {% if app.user in lecture.author %}
                                        <a href="{{ path('lecture_add_part', { 'id': lecture.id }) }}" class="btn be-follow-type">{{ 'lecture.new_part'|trans()}}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="">
                            {% for key, part in lecture.part %}
                                <div>
                                    {{ 'Part'|trans() }} {{ key + 1 }} :

                                    <a href="{{ path('part_show', { 'id': part.id}) }}">
                                        <span style="font-weight:bold">{{ part.name }}
                                    </a> 

                                    <span style="float:right"> 
                                        {% if app.user in lecture.author %}
                                            <a href="{{ path('part_edit', { 'part': part.id, 'lecture' : lecture.id }) }}" class="btn-xs btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a href="{{ path('part_delete', { 'id': part.id,'lecture':lecture.id }) }}" class="btn-xs btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                                            {% endif %} 
                                    </span> 
                                </div>
                                <div style="margin-left:5%;line-height: 180%;">
                                    {% for key2, chapter in part.chapter %}

                                        <h5 style="font-size:12px"><span style="font-weight:bold;  "> {{ 'lecture.chapter'|trans() }} {{ key2 + 1 }} : </span>
                                            <a href="{{path('chapter_show', { 'id': chapter.id }) }} ">{{ chapter.name }}</a>
                                            <span style="float:right"> 
                                                {% if app.user in lecture.author %}
                                                    <a href="{{ path('part_edit_chapter', { 'part': part.id, 'chapter' : chapter.id }) }}" class="btn-xs btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                    <a href="{{ path('chapter_delete', { 'id' : chapter.id ,'lecture':lecture.id }) }}" class="btn-xs btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                    {% endif %}
                                            </span>
                                        </h5>

                                    {% endfor %}
                                    {% if app.user in lecture.author %}
                                        <div class="" style="margin-top:3%;">
                                            <a href="{{ path('part_add_chapter', { 'id': part.id }) }}" class="btn be-follow-type">{{ 'lecture.new_chapter'|trans()}}</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <br />
                            {% endfor %}
                        </div>

                    </div>
                    {% set like=false %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% for likers in lecture.likers %}
                            {% if likers.id == app.user.id %}
                                {% set like=true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if like == true %}
                        <label class="be-user-info" style="color:green;color: green;font-size: 16px;margin-left: 30%;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{'like_lecture'|trans()}}
                        </label>
                    {% else %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="{{ path('lecture_like', { 'id': lecture.id }) }}" class="be-button-vidget like-btn blue-style"><i class="fa fa-thumbs-o-up"></i>{{'lecture.like'|trans()}}</a>
                            {% else %}
                            <a href="{{ path('fos_user_security_login') }}" class="be-button-vidget like-btn blue-style"><i class="fa fa-thumbs-o-up"></i>{{'lecture.like'|trans()}}</a>
                            {% endif %}
                        {% endif %}
                        {% if app.user in lecture.author %}

                        {% if lecture.statut == 'Draft' %}
                            <a href="{{ path('lecture_ask_validation', { 'id' : lecture.id })}}" class="be-button-vidget add-btn grey-style"><i class="fa fa-file-o"></i>{{'global.ask_validation'|trans()}}</a>
                            {% else %}
                            <a href="{{ path('lecture_cancel_validation', { 'id' : lecture.id })}}" class="be-button-vidget add-btn grey-style"><i class="fa fa-file-o"></i>{{'global.put_in_draft'|trans()}}</a>
                            {% endif %}
                        {% endif %}
                        {% if app.user in lecture.author %}
                        <a class="btn full color-6-5 size-3 hover-3 remove-my-lecture" data-id="{{ lecture.id }}" data-locale="{{ app.request.locale }}"
                           style="margin-bottom: 15px;">{{ 'global.remove_lecture'|trans() }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if app.user is not empty %}
        <input type="hidden" name="userApp" id="userApp" class="userApp" value="{{app.user.id}}" />
    {% else %}
        <input type="hidden" name="userApp" id="userApp" class="userApp" value="-1" />
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {#    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>#}
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>

    <script type="text/javascript">
        var reporting = new Reporting({});
        reporting.init();
        var url = "{{ path('subcomment_new')}}";
        var msg = "{{ 'lecture.add_authors'|trans() }}";
        var url2 = "{{path('vote_new')}}";
    </script>
    <script src="{{ asset('assets/js/lecture/essai.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lecture/essai.css') }}" />

{% endblock %}