{% extends "::layout2.html.twig" %}
{% block title %}
    {{ 'lecture.courses'|trans()}} - {{ parent() }}
{% endblock %}

{% block body %}

    <div id="content-block">
        <div class="container-fluid custom-container"  style="margin-top:8%;">
            <div class="row">
                <div class="col-md-2 left-feild">
                    <div class="creative_filds_block">
                        <ul class="">
                            <li id="media" ><a href="#"><i class="fa fa-search"></i>{{'pagination.search'|trans()}}</a></li>
                        </ul>
                    </div>
                    <div class="be-vidget">
                        <h3 class="letf-menu-article">
                            {{ 'category.title'|trans() }}
                        </h3>
                        <div class="Mycreative_field">
                            <div class="ul">
                                {% if categories is not empty %}
                                    <a class="CategoryL" href="{{ path('lecture_search_category', { 'id': 'all' }) }}" >{{ 'category.all_category'|trans() }}  </a>
                                    {% for category in categories %}
                                        <a class="CategoryL" href="{{ path('lecture_search_category', { 'id': category.id }) }}" >{{category.name|trans}}   </a>
                                    {% endfor %}
                                {% else %}
                                    <div class="col-sm-8 col-sm-offset-2 text-center">
                                        <div class="alert alert-danger" role="alert">
                                            {{'category.no_existing'|trans()}}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="block-courses-info">
                        {{ 'courses.block_info'|trans({}, 'text')|raw }}
                    </div>
                    {% set noMoreResult=false %}
                    <div id="container-mix"  class="row _post-container_">
                        {% if lectures is not empty %}
                            {% for lecture in lectures %}
                                <div class="category-1 mix custom-column-5">
                                    <div class="be-post">
                                        <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-img-block">
                                            {% if lecture.cover is not empty %}
                                                <img src="{{ 'uploads/lecture/cover/' | imagine_filter('coverLectures') }}{{ lecture.cover }}" alt="{{ lecture.name }}">
                                            {% else %}
                                                <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ lecture.name }}">
                                            {% endif %}
                                        </a>
                                        <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-post-title">
                                            {{ lecture.name }}
                                        </a>
                                        <span>

                                            {% for categorie in lecture.category %}

                                                <a href="{{ path('lecture_search_category', {'id' : categorie.id})}}" class="be-post-tag">{{categorie.name|trans}}</a>, 
                                                {% for subcategorie in categorie.subCategories %}
                                                    <a href="{{path('category_courses', { 'id': subcategorie.id }) }}" class="be-post-tag">{{subcategorie.name|trans}}</a>
                                                {% endfor %}    
                                            {% endfor %}
                                        </span>
                                        <div class="author-post">
                                            {#### lien auteur #####}
                                            {% for author in lecture.author %}
                                                {% if author.picture is not empty %}
                                                    <img src="{{ asset('uploads/users/'~author.id~'/'~author.picture) }}" alt="" class="ava-author">
                                                {% else %}
                                                    <img src="{{asset('themeforest/img/Empty-profile.png') }}" alt="" class="ava-author">
                                                {% endif %}

                                                <span>{{'sidebar.by'|trans()}} <a href="{{ path('show_me', { 'id': author.id }) }}">{{author.username}}</a></span>
                                                {% endfor %}
                                        </div>
                                        <div class="info-block">
                                            <span><i class="fa fa-thumbs-o-up"></i> 
                                                {% if lecture.level == 'beginner' %}{{ 'lecture.levels.beginner'|trans() }}
                                                {% elseif lecture.level == 'intermediate'%}{{ 'lecture.levels.intermediate'|trans() }}
                                                {% elseif lecture.level == 'advanced'%}{{ 'lecture.levels.advanced'|trans() }}
                                                {% elseif lecture.level == 'hard'%}{{ 'lecture.levels.hard'|trans() }}{% endif %}</span>
                                            <span><i class="fa fa-eye"></i> {{lecture.views}}</span>
                                            <span><i class="fa fa-comment-o"></i> {{lecture.comments|length}}</span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-sm-8 col-sm-offset-2 text-center">
                                <div class="alert alert-danger" role="alert">
                                    {{'lecture.no_existing'|trans()}}
                                </div>
                            </div>
                            {% set noMoreResult=true %}
                        {% endif %}
                    </div>
                    <div class="emptyMessage row">
                    </div>
                    <div class="row">
                        <div class="loader" style="display:none;"></div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="lastResult" type="hidden" value="0">
    <input id="noMoreResult" type="hidden" value="{{noMoreResult}}">
    {% if search is defined %}
        <input id="paramaters" type="hidden" value="{{search}}" />
    {% else %}
        <input id="paramaters" type="hidden" value="null" />
    {% endif %}
    <div class="large-popup embed">
        <div class="large-popup-fixed"></div>
        <div class="container large-popup-container">
            <div class="row">
                <div class="col-md-10 col-md-push-1 col-lg-8 col-lg-push-2 large-popup-content">
                    <div class="row">
                        <div class="col-md-12" style="margin-bottom:3%;">
                            <i class="fa fa-times close-button close-media"></i>
                            <h5 class="large-popup-title">{{'pagination.search'|trans()}}</h5>
                        </div>
                        <div class="col-md-12" style="color: #b4b7c1;">
                            {{ form_start(form, { 'attr':  {
                                                    'id': 'formSearch',
                            }}) }}
                            <div class="form-group clearfix">
                                <div class="row">
                                    <div class="col-lg-2">
                                        {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                                        {{ form_errors(form.name) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_widget(form.name, { 'attr':  {
                                                    'class': 'form-control',
                                        }}) }}
                                    </div>
                                    <div class="col-lg-2">
                                        {{ form_label(form.category, null, {'label_attr': {'class':'control-label' }}) }}
                                        {{ form_errors(form.category) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_widget(form.category, { 'attr':  {
                                                    'class': 'form-control',
                                                    'required' : 'required'
                                        }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="row">
                                    <div class="col-lg-2">
                                        {{ form_label(form.language, null, {'label_attr': {'class':'control-label' }}) }}
                                        {{ form_errors(form.language) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_widget(form.language, { 'attr':  {
                                                    'class': 'form-control',
                                        }}) }}
                                    </div>

                                    <div class="col-lg-2">
                                        {{ form_label(form.sort, null, {'label_attr': {'class':'control-label' }}) }}
                                        {{ form_errors(form.sort) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_widget(form.sort, { 'attr':  {
                                                    'class': 'form-control',
                                        }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group clearfix">
                                <div class="row">   
                                    <div class="col-lg-2">
                                        {{ form_label(form.tags, null, {'label_attr': {'class':'control-label' }}) }}
                                        {{ form_errors(form.tags) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_widget(form.tags, { 'attr':  {
                                                    'class': 'form-control',
                                        }}) }}
                                    </div>
                                    <div class="col-lg-2">
                                        {{ form_label(form.level, null, {'label_attr': {'class':'control-label' }}) }}
                                        {{ form_errors(form.level) }}
                                    </div>
                                    <div class="col-lg-4">
                                        {{ form_widget(form.level, { 'attr':  {
                            'class': 'form-control',
                                        }}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="{{ 'search'|trans() }}" class="be-popup-sign-button" />
                            </div>
                            {{ form_end(form )}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">
        .CategoryL{
            display: block;
            position: relative;
            font-size: 13px;
            padding: 11px 15px 11px 20px;
            color: #bdbfc8 !important;
            cursor: pointer;
            border: 1px solid #E6E6E6;

        }
        .Mycreative_field{
            margin-bottom: 20px;
        }

        .Mycreative_field .ul{
            width: 100%;
            background: #F6F6F6;
        }
        .loader{
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 100px;
            height: 100px;
            animation: spin 2s linear infinite;
            margin-top: 2%;
            margin-left: 40%;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/jquery.tagsinput.js') }}"></script>

    <script>
        msg_add_tag = "{{'global.add_tag'|trans()}}";
        $('#form_tags').tagsInput({width: '100%', 'defaultText': msg_add_tag});
    </script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>


    <script type="text/javascript">
        var url = "{{path('lecture_all')}}";
        $('select').select2({
            tags: true
        });
        var ready = true;
        $(window).scroll(function (e) {
            data = {};
            if (($(window).scrollTop() >= ($(document).height() - $(window).height()) * 0.4) && ready && $('#noMoreResult').val() != 'true') {

                ready = false;
                data['maxResult'] = 24;
                data['lastResult'] = parseInt($('#lastResult').val()) + data['maxResult'];
                $('#lastResult').val(data['lastResult']);
                $('.loader').show();
                if ($('.paramaters').val() != 'null') {
                    data['formSearch'] = $('#formSearch').serialize();
                }
                $.ajax({
                    url: url,
                    type: 'post',
                    data: data,
                    success: function (response) {
                        $('.loader').hide();
                        var data = jQuery.parseJSON(response);
                        if (data.lectures.length != 0) {
                            lectures = data.lectures;
                            append = '';
                            for (i = 0; i < lectures.length; i++) {
                                lectureShowL = "{{ path('lecture_show', { 'id': "+lectures[i].id+" }) }}";
                                lectureCoverL = "{{ asset('uploads/lecture/cover/')|imagine_filter('coverArtworks') }}";
                                lectureCoverL += lectures[i].cover;
                                lectureName = lectures[i].name;
                                append += '<div class="category-1 mix custom-column-5"  style="display: inline-block;"><div class="be-post"><a href="' + lectureShowL + '" class="be-img-block"><img src="' + lectureCoverL + '" alt="' + lectureName + '"></a><a href="' + lectureShowL + '" class="be-post-title">' + lectureName + '</a><span>';
                                for (j = 0; j < lectures[i].category.length; j++) {
                                    lectureSearchCategL = "{{ path('lecture_search_category', {'id' : "+lectures[i].category[j].id+"})}}";
                                    categoryName = lectures[i].category[j].name;
                                    append += '<a href="' + lectureSearchCategL + '" class="be-post-tag">' + categoryName + '</a>';
                                    for (k = 0; k < lectures[i].category[j].sub_categories.length; k++) {
                                        lectureSearchSubCategL = "{{path('category_courses', { 'id': "+lectures[i].category[j].sub_categories[k].id+" }) }}";
                                        SubcategoryName = lectures[i].category[j].sub_categories[k].name;
                                        append += ', <a href="' + lectureSearchSubCategL + '" class="be-post-tag">' + SubcategoryName + '</a>';
                                    }
                                    if (j != lectures[i].category.length - 1) {
                                        append += ', ';
                                    }
                                }
                                append += '</span><div class="author-post">';
                                for (j = 0; j < lectures[i].author.length; j++) {
                                    authorId = lectures[i].author[j].id;
                                    authorPicture = lectures[i].author[j].picture;
                                    authorUsername = lectures[i].author[j].username;
                                    imgAuthorL = "{{ asset('uploads/users/"+authorId+"/"+authorPicture+"') }}";
                                    append += '<img src="' + authorPicture + '" alt="" class="ava-author"><span>by <a href="">' + authorUsername + '</a></span>';
                                }

                                lecturesLevel = lectures[i].level;
                                lecturesViews = lectures[i].views;
                                lecturesComments = lectures[i].comments.length;
                                if (lecturesLevel == 'beginner') {
                                    var lecturesLevelTrans = "{{ 'lecture.levels.beginner'|trans() }}";
                                } else if (lecturesLevel == 'intermediate') {
                                    var lecturesLevelTrans = "{{ 'lecture.levels.intermediate'|trans() }}";
                                } else if (lecturesLevel == 'advanced') {
                                    var lecturesLevelTrans = "{{ 'lecture.levels.advanced'|trans() }}";
                                } else if (lecturesLevel == 'hard') {
                                    var lecturesLevelTrans = "{{ 'lecture.levels.hard'|trans() }}";
                                }
                                append += '</div><div class="info-block"><span><i class="fa fa-thumbs-o-up"></i> ' + lecturesLevelTrans + '</span><span><i class="fa fa-eye"></i> ' + lecturesViews + '</span><span><i class="fa fa-comment-o"></i> ' + lecturesComments + '</span></div></div></div>';
                            }
                            $('#container-mix').append(append);
                        } else {
                            $('.emptyMessage').empty();
                            message = "{{'lecture.no_available'|trans()}}";
                            html = '<div class="col-sm-8 col-sm-offset-1 text-center"><div class="alert alert-danger" role="alert">' + message + '</div></div>';
                            $('.emptyMessage').append(html);
                            $('#noMoreResult').val('true');
                        }
                    },
                    error: function (response) {
                        $('.loader').hide();
                        message = "{{'errors.error_message'|trans()}}";
                        $('.emptyMessage').append('<div class="col-sm-8 col-sm-offset-1 text-center"><div class="alert alert-danger" role="alert">' + message + '</div></div>');
                    }
                }).always(function () {
                    ready = true;
                });
            }
        });
    </script>
    <script src="{{ asset('assets/js/lecture/indexAll.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lecture/indexAll.css') }}" />
{% endblock %}