{% extends "::layout2.html.twig" %}
{% block title %}
  {{ 'lecture.courses'|trans()}} - {{ parent() }}
{% endblock %}

{% block body %}
	
	<div class="container" style="margin-top:8%;">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<a href="{{ path('lecture_new') }}" class="btn btn-general">{{ 'global.new'|trans() }}</a>
		{% endif %}
		<a href="{{ path('lecture_search') }}" class="btn btn-general">{{ 'search'|trans() }}</a>
		<br />
		<br />
        <div class="row">
        {% if categories is not empty %}
		 {% for category in categories %}
            <div class="col-ml-12 col-xs-6 col-sm-4">
                <div class="be-post">
                    <a href="{{ path('lecture_search_category', {'id' : category.id})}}" class="be-img-block">
                    <img src="{{ asset('uploads/category/'~category.cover) }}" alt="{{ category.name }}" style="width: 300px; height:200px;">
                    </a>
                    <div class="text-center be-post" style="border:none;">
                        <span style="border-bottom:1px solid #edeff2;">
                            <a href="{{ path('lecture_search_category', {'id' : category.id})}}" class="be-post-tag">
                                {{ category.name }} 
                                {% if (not loop.last or category.subCategories|length)  %}, 
                                {% endif %}
                            </a>
                            {% for subCategory in category.subCategories %}
                                <a href="{{ path('lecture_search_category', {'id' : subCategory.id})}}" class="be-post-tag">
                                     {{ subCategory.name }} {% if not loop.last %}, {% endif %}
                                </a>
                            {% endfor %}  
                        </span>
                    </div> 
                    <div class="text-center be-post" style="border:none;">
                        <span style="border-bottom:1px solid #edeff2;">
                            {{ category.description| raw  }}
                        </span>
                    </div>                  
                    <div class="text-center" style="margin-bottom:4%; padding:0">
                		<p><a href="{{ path('category_courses', {'id' : category.id})}}" style="margin: 0;" class="btn btn-general" role="button">{{'see'|trans}}</a> </p>

                	</div>
                </div>
            </div>
         {% endfor %}
        {% else %}
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="alert alert-danger" role="alert">
                        {{'category.no_existing'|trans()}}
                    </div>
                </div>
        {% endif %}
        </div>
	</div>

{% endblock %}
