{% extends "::layout_admin.html.twig" %}
{% block title %}
  {{ 'lecture.courses'|trans()}} - {{ parent() }}
{% endblock %}

{% block body %}
    <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-list" aria-hidden="true"></i>
            {{ 'lecture.title'|trans() }}
    </h3>
    <div class="container">
        <div style="margin-bottom:2%;">
             <a href="{{ path('lecture_new') }}"style="margin-bottom:0;" class="btn btn-success"> {{'global.new'|trans()}} <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
             <a href="{{ path('lecture_all') }}" class="btn btn-success"> 
                {{'users.display'|trans()}}
            </a>
        </div>
        <div class="row">
            {% if lectures is not empty %}
            <div class="table-responsive">
                <table class = "table table-bordered">
                    <thead>
                        <tr>
                            <th class="col-sm-1">Afficher</th>
                            <th class="col-sm-1">Name</th>
                            <th class="col-sm-1">Cover</th>
                            <th class="col-sm-6">Description</th>
                            <th class="col-sm-1">Status</th>
                            <th class="col-sm-1">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for lecture in lectures %}
                        <tr>
                            <td><a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="btn btn-success">{{'global.show'|trans()}}</a></td>
                            <td>{{ lecture.name }}</td>
                            <td><img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}" height="100px">
                            </td>
                            <td>{{ lecture.description }}</td>
                            <td>{{ lecture.statut }}</td>
                            <td>
                                <div style="margin-bottom:10%" class="text-center">
                                <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="btn btn-success">{{'global.show'|trans()}}</a>
                                </div>
                                <div style="margin-bottom:10%" class="text-center">
                                <a href="{{ path('lecture_edit', { 'id': lecture.id }) }}" class="btn btn-info">{{'global.edit'|trans()}}</a>
                                </div>
                                <div style="margin-bottom:10%" class="text-center">
                                <a href="{{ path('lecture_validation', { 'id': lecture.id }) }}" class="btn btn-success">{{'global.validate'|trans()}}</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div class="alert alert-danger" role="alert">
                        {{'lecture.no_existing'|trans()}}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
