{% if app.user.id == user.id %}
<section class="isolate-tabs">
    <ul class="nav nav-tabs nav-justified">
        <li class="active">
            <a data-toggle="tab" href="#online" aria-expanded="true" style="color:black;">
                <label class="control-label">{{ 'global.lecture_online'|trans() }}</label>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#drafts" aria-expanded="false" style="color:black;">
                <label class="control-label">{{ 'global.lecture_draft'|trans() }}</label>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#waitValidation" aria-expanded="false" style="color:black;">
                <label class="control-label">{{ 'global.lecture_validation'|trans() }}</label>
            </a>
        </li>
    </ul>
    <div class="panel-body">
        <div class="tab-content">
            <div id="online" class="tab-pane active">
                <ul>
                    {% if ValidateLectures is not empty %}
                    {% for lecture in ValidateLectures %}
                        <div class="col-ml-12 col-xs-6 col-sm-4">
                            <div class="be-post">
                                <div class="be-post">
                                    <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-img-block">
                                        {% if lecture.cover is not empty %}
                                        <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}">
                                        {% else %}
                                        <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ lecture.name }}">
                                        {% endif %}
                                    </a>
                                    <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-post-title">
                                        {{ lecture.name }}
                                    </a>
                                    <span>
                                        {% for categorie in lecture.category %}
                                        <a href="{{path('category_courses', { 'id': categorie.id }) }}" class="be-post-tag">{{categorie.name}}</a>{% if not loop.last %} , {% endif %} 
                                        {% endfor %}
                                    </span>
                                    <div class="author-post">
                                        {{'By'|trans}}
                                            {% for author in lecture.author %}
                                            <span><a href="{{path('show_me', { 'id' : user.id})}}">{{author.username}}</a></span>{% if not loop.last %} , {% endif %} 
                                            {% endfor %}
                                    </div>
                                    <div class="info-block">
                                        <span><i class="fa fa-thumbs-o-up"></i> {{lecture.level|trans}}</span>
                                        <span><i class="fa fa-eye"></i> {{lecture.views}}</span>
                                        <span><i class="fa fa-comment-o"></i> {{lecture.comments|length}}</span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="alert alert-info" role="alert">
                            {{'lecture.no_existing'|trans()}}
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>
            <div id="drafts" class="tab-pane">
                <ul>
                    {% if DraftLectures is not empty %}
                    {% for lecture in DraftLectures %}
                        <div class="col-ml-12 col-xs-6 col-sm-4">
                            <div class="be-post">
                                <div class="be-post">
                                    <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-img-block">
                                        {% if lecture.cover is not empty %}
                                        <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}">
                                        {% else %}
                                        <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ lecture.name }}">
                                        {% endif %}
                                    </a>
                                    <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-post-title">
                                        {{ lecture.name }}
                                    </a>
                                    <span>
                                        {% for categorie in lecture.category %}
                                        <a href="{{path('category_courses', { 'id': categorie.id }) }}" class="be-post-tag">{{categorie.name}}</a>{% if not loop.last %} , {% endif %} 
                                        {% endfor %}
                                    </span>
                                    <div class="author-post">
                                        {{'By'|trans}}
                                            {% for author in lecture.author %}
                                            <span><a href="{{path('show_me', { 'id' : user.id})}}">{{author.username}}</a></span>{% if not loop.last %} , {% endif %} 
                                            {% endfor %}
                                    </div>
                                    <div class="info-block">
                                        <span><i class="fa fa-thumbs-o-up"></i> {{lecture.level|trans}}</span>
                                        <span><i class="fa fa-eye"></i> {{lecture.views}}</span>
                                        <span><i class="fa fa-comment-o"></i> {{lecture.comments|length}}</span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="alert alert-info" role="alert">
                            {{'lecture.no_existing'|trans()}}
                        </div>
                    </div>
                    {% endif %}
                </ul>

            </div>
            <div id="waitValidation" class="tab-pane">
                <ul>
                    {% if OnGoingValidateLectures is not empty %}
                    {% for lecture in OnGoingValidateLectures %}
                        <div class="col-ml-12 col-xs-6 col-sm-4">
                            <div class="be-post">
                                <div class="be-post">
                                    <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-img-block">
                                        {% if lecture.cover is not empty %}
                                        <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}">
                                        {% else %}
                                        <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ lecture.name }}">
                                        {% endif %}
                                    </a>
                                    <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-post-title">
                                        {{ lecture.name }}
                                    </a>
                                    <span>
                                        {% for categorie in lecture.category %}
                                        <a href="{{path('category_courses', { 'id': categorie.id }) }}" class="be-post-tag">{{categorie.name}}</a>{% if not loop.last %} , {% endif %} 
                                        {% endfor %}
                                    </span>
                                    <div class="author-post">
                                        {{'By'|trans}}
                                            {% for author in lecture.author %}
                                            <span><a href="{{path('show_me', { 'id' : user.id})}}">{{author.username}}</a></span>{% if not loop.last %} , {% endif %} 
                                            {% endfor %}
                                    </div>
                                    <div class="info-block">
                                        <span><i class="fa fa-thumbs-o-up"></i> {{lecture.level|trans}}</span>
                                        <span><i class="fa fa-eye"></i> {{lecture.views}}</span>
                                        <span><i class="fa fa-comment-o"></i> {{lecture.comments|length}}</span>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    {% endfor %}
                    {% else %}
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <div class="alert alert-info" role="alert">
                            {{'lecture.no_existing'|trans()}}
                        </div>
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% else %}
    {% if ValidateLectures is not empty %}
        {% for lecture in ValidateLectures %}
            <div class="col-ml-12 col-xs-6 col-sm-4">
                <div class="be-post">
                    <div class="be-post">
                        <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-img-block">
                            {% if lecture.cover is not empty %}
                            <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}">
                            {% else %}
                            <img src="{{asset('themeforest/img/No_cover.jpg') }}" alt="{{ lecture.name }}">
                            {% endif %}
                        </a>
                        <a href="{{ path('lecture_show', { 'id': lecture.id }) }}" class="be-post-title">
                            {{ lecture.name }}
                        </a>
                        <span>
                            {% for categorie in lecture.category %}
                            <a href="{{path('category_courses', { 'id': categorie.id }) }}" class="be-post-tag">{{categorie.name}}</a>{% if not loop.last %} , {% endif %} 
                            {% endfor %}
                        </span>
                        <div class="author-post">
                            {{'By'|trans}}
                                {% for author in lecture.author %}
                                <span><a href="{{path('show_me', { 'id' : user.id})}}">{{author.username}}</a></span>{% if not loop.last %} , {% endif %} 
                                {% endfor %}
                        </div>
                        <div class="info-block">
                            <span><i class="fa fa-thumbs-o-up"></i> {{lecture.level|trans}}</span>
                            <span><i class="fa fa-eye"></i> {{lecture.views}}</span>
                            <span><i class="fa fa-comment-o"></i> {{lecture.comments|length}}</span>
                        </div>
                    </div>
                </div> 
            </div>
        {% endfor %}
    {% endif %}
{% endif %}