{% extends "::layout_admin.html.twig" %}
{% block title %}
    {{ title }} - {{ parent() }}
{% endblock %}
{% form_theme form 'form/fields.html.twig' %}
{% block body %}
    {% if message == "new" %}
        <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-plus" aria-hidden="true"></i>
            {{ 'lecture.new'|trans() }}
        </h3>
    {% else %}
        <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

            {{ 'lecture.edit'|trans() }}
        </h3>
    {% endif %}
    {{ form_start(form)}}
    {{ form_rest(form) }}
    <div class="form-group clearfix text-center" >
        <input type="submit" value="{{ 'global.send'|trans() }}" class="btn btn-success" style="margin-bottom: 0;"/>
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
</div>
{{ form_end(form) }}



{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>


    <script type="text/javascript">
        placeholder = "{{'global.add_tag'|trans()}}";
        $('#lecturebundle_lecture_tags').select2({
            tags: true,
            tokenSeparators: [','],
            placeholder: placeholder
        });
        $('select').select2({
            tags: true
        });

    </script>

 

{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lecture/new.css') }}" />
{% endblock %}