{% extends "AppBundle::layout.html.twig" %}
{% block title %}
  {{ 'lecture.courses'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}
<div class="text-center">
    <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-plus" aria-hidden="true"></i>
            {{ 'lecture.new_part'|trans() }}
    </h3>
</div>
<div class="container" style="margin-top:3%;">
    {{ form_start(form)}}
    <div class="col-lg-10 col-lg-push-2" style="margin-bottom:3%;">
        <div class="form-group clearfix">
            <div class="col-lg-1 col-md-2">
                {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
            </div>
            {{ form_errors(form.name) }}
            <div class="col-lg-8 col-md-8 noPadLeft">
                {{ form_widget(form.name, { 'attr':  {
                    'class': 'form-control',
                    'required' : 'required'
                }}) }}
            </div> 
        </div>
    </div>
    <div class="form-group clearfix">
        <div class="text-center">
            <input type="submit" value="{{ 'global.send'|trans() }}" class="btn btn-success" style="margin-bottom:0;"/>
            <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" />{{ 'global.back'|trans() }}</a>
        </div>
    </div>
    {{ form_end(form)}}
</div>
{% endblock %}