<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lecture/pdf.css') }}" />

<div class="text-center">
    <h1>{{ lecture.name }}</h1>
    <img src="../../../{{asset('uploads/lecture/cover/'~lecture.cover)}}" />
</div>

<h4>Description</h4>

<p>{{ lecture.description|raw }}</p>
<h4> {{ 'Author.s'|trans }} </h4>
<p>{% for author in lecture.author %}
    {{ author.username }}
    {% if loop.last == false %}
        ,
    {% endif %}
    {% endfor %}</p>

    <saut>
        <br /><br />
        <h2 class="text-center">{{ 'lecture.summary'|trans() }}</h4>
            {% for key, part in lecture.part %}
                <h4>{{ 'Part'|trans() }} {{ key + 1 }} : {{ part.name }}</h4>
                {% for key2, chapter in part.chapter %}
                    <dd><h5 style="font-size:12px;" > {{ 'lecture.chapter'|trans() }} {{ key2 + 1 }} : {{ chapter.name }} </h5></dd>
                {% endfor %}  


            {% endfor %}

            <saut>
                <br /><br />

                {% for key, part in lecture.part %}
                    <h3>{{ 'Part'|trans() }} {{ key + 1 }} : {{ part.name }}</h4>
                        {% for key2, chapter in part.chapter %}
                            <dd><h4 style="font-size:12px;" > {{ 'lecture.chapter'|trans() }} {{ key2 + 1 }} : {{ chapter.name }} </h5></dd>
                            {{ chapter.chapterText|raw }}
                        {% endfor %}  
                        {% if loop.last == false %}
                            <saut><br /><br />
                            {% endif %}
                        {% endfor %}



