{% extends "layout2.html.twig" %}
{% block title %}
    {{ title|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center" style="padding-top:3%;">
        <h3 class="content-title" style="padding: 2%;"> <i class="fa fa-search" aria-hidden="true"></i>
            {{ 'lecture.search'|trans() }}
        </h3>
    </div>

    <div class="container" style="margin-top:3%;">    
        {{ form_start(form) }}
        <div class="col-lg-12" style="margin-bottom: 3%;">
            <div class="form-group clearfix">
                <div class="col-lg-2">
                    {{ form_label(form.name, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.name, { 'attr':  {
                            'class': 'form-control',
                    }}) }}
                </div>
                <div class="col-lg-2">
                    {{ form_label(form.category, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.category) }}
                </div>

                <div class="col-lg-4">
                    {{ form_widget(form.category, { 'attr':  {
                            'class': 'form-control',
                            'required' : 'required'
                    }}) }}
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="col-lg-2">
                    {{ form_label(form.language, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.language) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.language, { 'attr':  {
                            'class': 'form-control',
                    }}) }}
                </div>
                <div class="col-lg-2">
                    {{ form_label(form.sort, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.sort) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.sort, { 'attr':  {
                            'class': 'form-control',
                    }}) }}
                </div>
            </div>

            <div class="form-group clearfix">
                <div class="col-lg-2">
                    {{ form_label(form.tags, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.tags) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.tags, { 'attr':  {
                            'class': 'form-control',
                    }}) }}
                </div>
                <div class="col-lg-2">
                    {{ form_label(form.level, null, {'label_attr': {'class':'control-label' }}) }}
                    {{ form_errors(form.level) }}
                </div>
                <div class="col-lg-4">
                    {{ form_widget(form.level, { 'attr':  {
                            'class': 'form-control',
                    }}) }}
                </div>
            </div>
        </div>

        <div class="text-center">
            <input type="submit" value="{{ 'search'|trans() }}" class="btn btn-general" />
        </div>
        {{ form_end(form )}}
    </div>
    {% if lectures is not empty %}
        <div class="text-center">
            <h3> {{ 'Results'|trans}} </h3>
        </div>

    {% endif %}
    {% for lecture in lectures %}
        <div class="col-lg-3">
            <div class="thumbnail text-center">
                {% if lecture.cover is not empty %}
                    <img src="{{ asset('uploads/lecture/cover/'~lecture.cover) }}" alt="{{ lecture.name }}" height="150px">
                {% else %}
                    <img src="{ asset('themeforest/img/No_cover.jpg') }}" alt="{{ lecture.name }}" height="150px">
                {% endif %}
                <div class="caption">
                    <p>{{ lecture.name }}</p>
                    <p><a href="{{ path('lecture_show',{ 'id' : lecture.id })}}" class="btn btn-general" role="button">{{ 'see'|trans }}</a> </p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="{{ asset('assets/js/jquery.tagsinput.js') }}"></script>

    <script>
        msg_add_tag = "{{'global.add_tag'|trans()}}";
        $('#form_tags').tagsInput({width: '100%', 'defaultText': msg_add_tag});
    </script>
    <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>
    <script type="text/javascript">
        $('select').select2({
            tags: true
        });
    </script>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lecture/search.css') }}" />
{% endblock %}
