{% extends "AppBundle::layout.html.twig" %}
{% block title %}
    {{ 'lecture.courses'|trans()}} - {{ parent() }}
{% endblock %}

{% block au_body %}

    <div class="text-center">
        <h1>{{ lecture.name }}</h1>
        {% if lecture.cover is not empty %}
            <img src="{{asset('uploads/lecture/cover/'~lecture.cover)}}" style="max-height: 300px;" class="img-thumbnail">
        {% else %}
            <img src="{{ asset('themeforest/img/No_cover.png') }}" style="max-height: 300px;" class="img-thumbnail">
        {% endif %}
    </div>

    <div class="col-lg-12">
        <div class="col-lg-6 ">
            <div>
                <h4>{{ 'lecture.summary'|trans() }}</h4>
            </div>
            <div>
                {% if app.user in lecture.author %}
                    <div>
                        <a href="{{ path('lecture_add_part', { 'id': lecture.id }) }}" class="btn btn-website">{{ 'lecture.new_part'|trans()}}</a>
                    </div>
                {% endif %}
            </div>
            <div style="margin-left:5%">
                {% for key, part in lecture.part %}
                    <h4>{{ 'Part'|trans() }} {{ key + 1 }} :<span style="font-weight:bold"> {{ part.name }}  </span> {% if app.user in lecture.author %}
                        <a href="{{ path('part_edit', { 'part': part.id, 'lecture' : lecture.id }) }}" class="btn-xs btn-website">{{ 'global.edit'|trans()}}</a>
                        <a href="{{ path('part_delete', { 'id': part.id,'lecture':lecture.id }) }}" class="btn-xs btn-danger">{{ 'global.delete'|trans()}}</a>
                        {% endif %}</h4>

                        <div style="margin-left:5%;line-height: 180%;">
                            {% for key2, chapter in part.chapter %}

                                <h5 style="font-size:12px"><span style="font-weight:bold;  "> {{ 'lecture.chapter'|trans() }} {{ key2 + 1 }} : </span>
                                    <a href="{{path('chapter_show', { 'id': chapter.id }) }} ">{{ chapter.name }}</a>
                                    {% if app.user in lecture.author %}
                                        <a href="{{ path('part_edit_chapter', { 'part': part.id, 'chapter' : chapter.id }) }}" class="btn-xs btn-website">{{ 'global.edit'|trans()}}</a>
                                        <a href="{{ path('chapter_delete', { 'id' : chapter.id ,'lecture':lecture.id }) }}" class="btn-xs btn-danger">{{ 'global.delete'|trans()}}</a>
                                    {% endif %}
                                </h5>

                            {% endfor %}
                            {% if app.user in lecture.author %}
                                <div class="">
                                    <a href="{{ path('part_add_chapter', { 'id': part.id }) }}" class="btn btn-website">{{ 'lecture.new_chapter'|trans()}}</a>
                                </div>
                                <br /><br />
                            {% endif %}
                        </div>


                        {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-6" style="margin-bottom: 15px;">
                        <h4>Description</h4>
                        {% if app.user in lecture.author %}
                            <h6>{{ 'Status'|trans }} : {{ lecture.statut|trans|raw }}, {{ 'language'|trans }} : {{ lecture.language }}</h6>
                            {% if lecture.statut == 'Draft' %}
                                <a class="btn btn-success confirm" href="{{ path('lecture_ask_validation', { 'id' : lecture.id })}}"> Demander validation</a>
                            {% else %}
                                <a class="btn btn-website"  href="{{ path('lecture_cancel_validation', { 'id' : lecture.id })}}"> Mettre en brouillon</a>
                            {% endif %}
                        {% endif %}

                        <p>{{ lecture.description|raw }}
                            <br />
                            <span class="strong">{{ 'number_like'|trans }} </span>: {{ lecture.likers|length }}<br />
                            <span class="strong">{{ 'number_views'|trans }} </span>: {{ lecture.views }}<br />
                            <span class="strong">{{ 'number_download'|trans }} </span>: {{ lecture.numberDownload}}<br />
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <br />
                                <a href="{{ path('lecture_download', { 'id' : lecture.id}) }}" class="btn" style="background-color:#2b2b2b; color: white ">{{ 'global.download'|trans() }}</a>
                                <br /><br />
                                {% if app.user not in lecture.likers %}
                                    <a href="{{ path('lecture_like', { 'id' : lecture.id}) }}" class="btn" style="background-color:#2b2b2b; color: white ">{{ 'like_lecture'|trans() }}</a>
                                {% else %}
                                    <a href="{{ path('lecture_like', { 'id' : lecture.id}) }}" class="btn" style="background-color:#2b2b2b; color: white ">{{ 'dislike_lecture'|trans() }}</a>
                                {% endif %}
                                <br />
                            {% endif %}

                        </p>

                        <h4> {{ 'Author.s'|trans }} <a id="add_authors_btn" class="btn" style="background-color:#2b2b2b; color: white ">{{ 'lecture.add_authors'|trans() }}</a></h4>
                            {% for author in lecture.author %}
                            <a href="{{ path('show_me', { 'id' : author.id })}}"> {{ author.username }}</a>
                            {% if loop.last == false %}
                                ,
                            {% endif %}
                        {% endfor %}
                        {{ form_start(form)}}


                        {{ form_errors(form.author) }}
                        <div class="col-lg-12 col-md-12 noPadLeft">
                            {{ form_widget(form.author, { 'attr':  {
                    'class': 'form-control',
                            }}) }}
                        </div>
                        <div class="text-center">
                            <input type="submit" value="{{ 'global.send'|trans() }}" class="btn btn-success" />
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="row">
                    <!-- Contenedor Principal -->
                    <div class="comments-container">
                        <h1>{{ 'global.comments'|trans }} </h1>

                        <ul id="comments-list" class="comments-list">
                            {% for comment in lecture.comments %}
                                {% if comment.comment == null %}
                                    <li>
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar">
                                                {% if comment.user != null%}
                                                    {% if comment.user.picture is not empty %}
                                                        <img src="{{ asset('uploads/users/'~ comment.user.id ~ '/' ~ comment.user.picture) }}" alt="">
                                                    {% else %}
                                                        <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="">
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name by-author">{% if comment.user != null %} {{ comment.user.firstname }} {{ comment.user.lastname }}{% else %}  -- {% endif %}</h6>
                                                    <span>{{ comment.date|date }}</span>
                                                </div>
                                                <div class="comment-content">
                                                    {{ comment.content|raw }}
                                                </div>
                                            </div>
                                        </div>


                                        <ul class="comments-list reply-list">
                                            {% set commentAuthor = false %}

                                            {% for reply in comment.subComments %}

                                                <li>
                                                    <!-- Avatar -->
                                                    <div class="comment-avatar">
                                                        {% if reply.user != null %}
                                                            {% if reply.user.picture is not empty %}
                                                                <img src="{{ asset('uploads/users/'~ reply.user.id ~ '/' ~ reply.user.picture) }}" alt="">
                                                            {% else %}
                                                                <img src="{{ asset('themeforest/img/Empty-profile.png') }}" alt="">
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                    <!-- Contenedor del Comentario -->
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name">{% if reply.user != null %} {{ reply.user.firstname }} {{ reply.user.lastname }}{% else %}  -- {% endif %}</h6>
                                                            <span>{{ reply.date|date }}</span>
                                                        </div>
                                                        <div class="comment-content">
                                                            {{ reply.content|raw }}
                                                        </div>
                                                    </div>
                                                </li>

                                                {% if app.user != null and reply.user.id == app.user.id %}
                                                    {% set commentAuthor = true %}
                                                {% endif %}

                                            {% endfor %}

                                        </ul>

                                        {% set lectureAuthor = false %}

                                        {% for user in lecture.author %}
                                            {% if app.user != null and user.id == app.user.id %}
                                                {% set lectureAuthor = true %}
                                            {% endif %}
                                        {% endfor %}

                                        {% if lectureAuthor == true or commentAuthor == true %}
                                            {{ form_start(replyForm,{'action': '?comment='~lecture.id,'name':'form_reply' ,'method' : 'post','attr':{'class':'col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10'}} ) }}
                                            {{ form_widget(replyForm.comment, { 'attr':  {'class': 'form-control','required': 'required' }}) }}
                                            {{ form_errors(replyForm.comment) }}
                                            <input style="float: right" type="submit" value="{{ 'global.send'|trans() }}" class="btn-xs btn-success" />
                                            {{ form_end(replyForm) }}
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                            {{ form_start(commentsForm,{'method' : 'post','attr':{'class':'col-lg-12 col-md-12'}} ) }}
                            {{ form_widget(commentsForm.comment, { 'attr':  {'class': 'form-control','required': 'required' }}) }}
                            {{ form_errors(commentsForm.comment) }}

                            <input style="float: right" type="submit" value="{{ 'global.send'|trans() }}" class="btn-xs btn-success" />
                            {{ form_end(commentsForm) }}
                        {% endif %}
                        <div class="col-xs-12">                                 
                            <div class="form-group">
                                <textarea class="form-input" required="" placeholder="Your text"></textarea>
                            </div>
                        </div>
                        <a class="btn color-1 size-2 hover-1 pull-right">submit</a>
                    </div>
                </div>
                <div class="text-center" style="margin-top: 8px ">
                    {% if app.user in lecture.author %}
                        <a href="{{ path('lecture_edit', { 'id': lecture.id }) }}" class="btn btn-info">{{ 'global.edit'|trans()}}</a>
                    {% else %}
                        <div><br /></div>
                        {% endif %}

                    <a href="{{ app.request.headers.get('referer') }}" class="btn btn-danger" >{{ 'global.back'|trans() }}</a>
                </div>

                {% endblock %}


                    {% block javascripts %}
                        {% set content %}
                            {% spaceless %}
                                {{ validationChart|raw}}
                            {% endspaceless %}
                        {% endset %}
                        {{ parent() }}
                        <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
                        <script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.js"></script>

                        <script>
                            var content = '{{ content }}';
                            var text_confirm = '{{ 'validate'|trans() }}';
                            var text_close = '{{ 'close'|trans() }}';
                        </script>
                        <script src="{{ asset('assets/js/lecture/show.js') }}"></script>
                    {% endblock %}
                    {% block stylesheets %}
                        {{ parent() }}
                        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.css" />
                        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
                        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/lecture/show.css') }}" />
                    {% endblock %}