{{ form_start(form, {'method' : 'post','attr':{'class':'col-lg-12 col-md-12'}} ) }}
    {{ form_widget(form.description, { 'attr':  {'class': 'form-control','required': 'required' }}) }}
    {{ form_errors(form.description) }}
    {{ form_widget(form.save) }}
{{ form_end(form) }}